[2021-05-04 14:12] billy1624 opened #1 "0.1.0 To Do Tasks"
1. Connection
    - Connection to Live Database
        - [x] `Database`: abstract interface of a database
        - [x] `Connection`: a live connection able to execute SQL statements
        - [x] `ExecutionResult`: execution result of non select query
        - [x] #83
    - Backend support
        - [x] SQLx MySql
        - [x] SQLx Postgres (#19)
        - [x] #33
    - Mock Connection

[2021-05-17 14:53] nitnelave opened #2 "`QueryHelper::filter` should take a `ConditionWhere` as argument"
Right now, `filter` takes a simpleExpr as argument, which can be combined into more complex boolean statements with `.and` and `.or`, but I think it would be a better interface (and clearer, and more consistent) if it took a `sea_query::query::condition::ConditionWhere` (or rather an `Into<ConditionWhere>`).

[2021-05-21 04:27] tyt2y3 opened #4 "Serialize `QueryResult` into `serde_json::Value`"
+ This feature should be feature guarded
+ Cater for `SelectTwo`, which becomes Vec<Vec<JsonValue>>

[2021-05-21 04:58] tyt2y3 opened #5 "Pagination API"
A new struct `Paginator` that wraps a `Select`, that would:
1) lazily `COUNT` the total number of records and number of pages
2) perform paging by `LIMIT` and `OFFSET`

A helper method to convert a select into a paginator: (something like)
[code]

The Paginator should impl the `Stream` trait.

Ref:
https://docs.rs/futures-core/0.3.15/futures_core/stream/trait.Stream.html
https://tokio.rs/tokio/tut

[2021-05-21 05:28] tyt2y3 opened #6 "0.1.0 To Write Docs"
## Setup

1. [x] Domain name register (www.sea-ql.org)
1. [x] [Docusaurus](https://docusaurus.io/) template

## Content

1. [x] Introduction
1. [x] Installation & Configuration
1. [x] Generating Entities
1. [x] Basic CRUD
1. [x] Relations
1. [x] Writing Tests
1. [x] Advanced Queries
1. [x] Internal Design

https://github.com/SeaQL/seaql.github.io

[2021-05-26 18:50] #2 closed, assigned to nobody

[2021-05-27 02:23] #4 closed, assigned to billy1624

[2021-06-01 14:57] billy1624 opened #11 "Entity Generator"
Generating entity file for each db table.

- `Entity`
- `Model`
  - mapping db column type to Rust type
  - `find_*` helper function
- `Column`
  - `ColumnTrait` column def
- `PrimaryKey`
- `Relation`
  - `RelationTrait` relation def
- `Related`

Work plan in progress...

[code]

[2021-06-02 15:01] billy1624 opened #12 "Support relation that join on multiple columns"
`.from` and `.to` in `RelationBuilder` should take `IntoIdentity` instead of `E::Column`

[code]

[code]

[2021-06-05 06:40] tyt2y3 opened #13 "Rinse clippy warnings"

[2021-06-05 09:03] tyt2y3 opened #14 "Re-export `EnumIter`"
Re-export `EnumIter` such that users don't have to depend on strum directly
https://github.com/SeaQL/sea-orm/blob/master/examples/sqlx-mysql/Cargo.toml#L11

Right now, removing that line would make compilation fail.

[2021-06-06 06:06] tyt2y3 opened #15 "Improve error messages"
Now the error types are opaque.

Create a `DbErr` type to generalize `QueryErr` and `ExecErr`.

So that one `?` can catch them all.

[code]

[2021-06-10 03:22] #13 closed, assigned to billy1624

[2021-06-11 07:55] tyt2y3 opened #19 "Postgres support"
Current development is MySQL only, and we need to catch up support for Postgres and ensure it's correctness.

1. connector support
1. account for behavioral difference from MySQL
1. test suite support
1. feature guarded driver support

[2021-06-14 16:33] tyt2y3 opened #21 "SelectThree up to SelectNine"
Right now we have a tuple based selector for select one and two. Need to think about how to generalise and support up to arity 9 perhaps?

src/query/combine.rs

[2021-06-15 12:21] tyt2y3 opened #22 "SelectToMany"
While the SelectTwo we have now works well for one-to-one relation i.e. Cake <> Fruit,

[code]

but for one-to-many relations, it would duplicate the left hand side.

So it'd be perfect if there is a selector that can consolidate the rows, returning:

[code]

This is trivial to implement for SelectTwo, but to generalize to SelectThree, it will be more complex, requiring us to obtain the graph stru

[2021-06-18 15:43] #5 closed, assigned to billy1624

[2021-06-19 13:10] tyt2y3 opened #24 "sea-orm-cli"
What should be command line interface?

First, we should read config from `.env`.

1. `migrate` command for schema migration
[code]

2. `generate` command for code generation
[code]

[2021-06-19 13:37] tyt2y3 opened #25 "Setup GitHub Action with SQLite"
https://gist.github.com/roberto-butti/d490a8eb02bf4a540f7fd1715df18970

It should be able to execute the test suite with SQLite directly inside GitHub Action?

[2021-06-20 15:30] #25 closed, assigned to nobody

[2021-06-24 06:07] tyt2y3 opened #32 "Bakery Schema Design"
To design a schema which will be used in our test suite, tutorial and demo web app (REST API).
Covering all datatypes (numeric, strings, currency, datetime etc) and relations (1-1, 1-N, M-N).
Some 'static data' that don't change so often (like products) and operations (like sales).
In total around 10~20 entities (excluding junction table) ?

[2021-06-24 11:03] tyt2y3 opened #33 "SQLx Sqlite (sea-query/51)"

[2021-06-24 11:04] #33 closed, assigned to nobody

[2021-06-30 13:08] #15 closed, assigned to nobody

[2021-07-01 11:12] #14 closed, assigned to nobody

[2021-07-01 15:08] #22 closed, assigned to nobody

[2021-07-03 07:03] tyt2y3 opened #37 "Rocket example & starter"
https://github.com/SergioBenitez/Rocket/blob/v0.5-rc/examples/databases/src/sqlx.rs

Tasks:

1. Adapt the SQLx example to use SeaORM
2. Improve the SeaORM API for interoperating with Rocket
3. Prepare a `sea-orm-rocket-starter`

https://github.com/SeaQL/sea-orm-rocket-starter

[2021-07-08 10:31] #21 closed, assigned to nobody

[2021-07-09 04:45] #32 closed, assigned to samsamai

[2021-07-09 05:04] tyt2y3 opened #41 "Test Suite"
- [x] create schema online
- [x] CRUD testing
- [x] relational query
- [x] other advanced queries (GROUP BY, etc)
- [x] sequential operations (read, insert / update, read again and update again)
- [x] Refactor the test suite such that it can generalizes over Postgres and MySQL (if possible, partially to SQLite)

Ideally the test suite should:

+ cover every SeaORM API
+ multiple cases for each API

[2021-07-12 07:37] billy1624 opened #43 "Support non snake-case column name"
We assume all columns in database table are in snack-case.

[code]

We need to support an optional derive attribute to override this assumption.

[code]

Or, customize column name of each variants

[code]

[2021-07-13 00:07] samsamai opened #44 "Mysql f64 problem"
I switched over to the mysql adaptor for one of the tests and I started getting the following error:

`thread 'main' panicked at 'range end index 8 out of range for slice of length 4', /Users/sam/.cargo/registry/src/github.com-1ecc6299db9ec823/byteorder-1.4.3/src/lib.rs:2199:28`

I tracked it down to the `profit_margin` in the bakery model which was using `f64`. Changing it to `f32` fixed the pani

[2021-07-13 22:41] #44 closed, assigned to nobody

[2021-07-15 09:00] tyt2y3 opened #47 "Aggregate APIs"
Add a new trait `AggregatorTrait` to be impl by Selector*
`count()`
and `sum` `avg` `max` `min` by specifying a column to aggregate on

[2021-07-16 04:11] billy1624 opened #48 "Provide API for executing raw query"
Seems that there is no proper way to query with raw SQL.

Maybe we can add some helper method to `EntityTrait`

[code]

To support usage like

[code]

[2021-07-22 03:52] billy1624 opened #54 "More sophisticated CI tests"
Running CI tests for all the combinations of below...

- databases
  - SQLite
  - MySQL (version: 8.0, 5.7)
  - MariaDB (version: 10.5, 10.4)
  - Postgres (version: 12.3, 10.13)
- runtimes
  - actix-native-tls
  - async-std-native-tls
  - tokio-native-tls
  - actix-rustls
  - async-std-rustls
  - tokio-rustls

[2021-07-22 11:08] #11 closed, assigned to billy1624

[2021-07-23 10:21] billy1624 opened #55 "Support of subquery"
Just thinking where we need subquery support in sea-orm

- select expression: `SELECT (SELECT ...) AS subquery FROM ...`
- conditional expression: `... WHERE id IN (SELECT ...) ...`
- from expression: `... FROM (SELECT ...) ...`
- join expression: `... LEFT JOIN (SELECT ...) ON ...`

How many kinds of subquery we want to support at this stage? I think supporting "select expression" and "conditiona

[2021-07-24 13:46] #48 closed, assigned to billy1624

[2021-07-27 13:46] #55 closed, assigned to nobody

[2021-07-27 15:05] tyt2y3 opened #59 "Transforming an Entity into TableCreateStatement"
https://github.com/SeaQL/sea-orm/blob/08acc2a06a88a1198c27cf73c3d42dee299b0ec7/tests/common/setup/schema.rs#L29-L51

To avoid duplication of information, we can actually generate a SeaQuery SchemaStatement entirely from the Entity definition.
It would be useful in 2 scenarios:

1. writing test cases i.e. original model is MySQL but we want to test in SQLite. this is particularly helpful if the mig

[2021-08-05 11:53] samsamai opened #62 "Issue with `count` only with postgres driver"
Branch: ss/test_suite_refactor
Commit: 3a0e7f393759e322be60903ef7bd108270a04062

To run the test:
[code]
Issue is that the test passes for mysql but fails for postgres, feature flagging allows this test to pass but then one of the unit tests fails and I'm not sure how to fix it.

Tried changing executer/paginator.rs:66 like this:
[code]
but then the unit tests fail.
This is blocking further work w

[2021-08-06 03:22] billy1624 opened #63 "TryGetable for Option<T> Should Handle Errors"
We should not ignore any errors when decoding db result.

[code]

For example:
https://github.com/SeaQL/sea-orm/blob/e1442167403eb046184341e9e1961193d0d2b528/src/executor/query.rs#L86-L121

[2021-08-06 11:22] #62 closed, assigned to nobody

[2021-08-07 09:00] Acidic9 opened #64 "DbErr should implement std::error::Error"
The enum `DbErr` should implement `std::error::Error`.

[2021-08-07 11:22] Acidic9 opened #65 "Support schemas in queries"
As far as I'm aware, there seems to be a lack of support for querying from schemas. For example, switching from public schema to a different schema.

A possible solution is that `EntityName` should support a new function called `schema_name` perhaps:
[code]
Where `None` would not include a schema selector in the queries.. and `Some(&str)` would append the schema before the table name in queries.

[2021-08-07 12:28] #63 closed, assigned to billy1624

[2021-08-07 13:12] Acidic9 opened #66 "Support postgres Uuid"
I have a column of the following type:
[code]
And I cannot find a row by it's ID.
I tried both of the following:
[code]
Is there any way to currently filter a row by [UUID](https://docs.rs/uuid)?

[2021-08-07 19:15] #66 closed

[2021-08-07 19:16] tyt2y3 commented on #64
0e3439ee84011fc1fcc475f17925406a033938c6

[2021-08-07 19:16] #64 closed

[2021-08-07 19:17] #54 closed

[2021-08-07 19:17] tyt2y3 commented on #41
Thank you so much for the great work indeed!

[2021-08-07 19:17] #41 closed

[2021-08-07 19:18] #19 closed

[2021-08-08 09:33] #6 closed

[2021-08-08 11:18] tyt2y3 commented on #24
To clarify, our expected behavior:

- for MySQL `--database-schema` is ignored
- for Postgres `--database-schema` is optional, defaults to public

Please make the changes to `sea-orm-cli`

[2021-08-09 18:09] heliumbrain opened #69 "Error for sqlx_migrations table when generating entities"
Hi guys!

Bumped in to a tiny error just now when trying to generate entities for my Postgres database. I've used sqlx-cli for the migrations.

[code]

The default table name for sqlx migrations is `_sqlx_migrations` - Notice the underscore.

The codegen creates a `_sqlx_migrations.rs` file but the table_name is getting set to `sqlx_migrations`

[code]

After changing the table name in my DB to `s

[2021-08-10 03:45] billy1624 commented on #69
Hi @heliumbrain, nice catch!

[2021-08-10 03:45] tyt2y3 commented on #69
But I guess it's better for us to simply ignore table names starting with underscore

[2021-08-10 03:48] billy1624 commented on #69
The CLI will generate an entity file named `sqlx_migrations.rs` for `_sqlx_migrations` table, with

[code]

[2021-08-10 03:53] tyt2y3 commented on #69
Yes but that's not what users want typically.

[2021-08-10 03:56] billy1624 commented on #69
You mean we should skip all tables names starting with underscore?

i.e. not generating entity files for these tables

[2021-08-10 03:58] tyt2y3 commented on #69
Yes that's what I meant.

[2021-08-10 04:05] billy1624 commented on #69
Perhaps we can add an `ignore` option?

[code]

With default value `^_`.

Users can choose to override it by providing an empty regex expression, i.e.
[code]

Or, it would be better to explicitly disable it?
[code]

[2021-08-10 06:23] billy1624 commented on #69
Hey @heliumbrain, I have published the fix. Please run `cargo install sea-orm-cli` to update the CLI.

[2021-08-10 06:49] tyt2y3 commented on #69
I think we don't need to overdo it for now.
Ignoring _ prefix tables is a reasonable behaviour.
At most add an 'include-hidden-tables' option is fine.

[2021-08-10 07:14] billy1624 commented on #69
We can merge the PR then implement the new behavior

[2021-08-10 08:35] #69 closed

[2021-08-10 10:52] Acidic9 commented on #65
It seems like the hack I described above no longer works.

[2021-08-10 10:57] billy1624 commented on #65
I think we should add the capability of prefixing schema name to SeaQuery first.

Then, we can have something like... in SeaORM?
[code]

[2021-08-10 11:12] tyt2y3 commented on #65
I think SeaQuery already have that. I have done that previously for supporting SeaSchema.

[2021-08-10 11:13] tyt2y3 commented on #65
Totally agree your approach.

[2021-08-11 01:52] billy1624 commented on #24
The new ignore hidden table behavior for `sea-orm-cli generate entity`:
- ignore table name starts with "_" (an underscore)
- add an option `--include-hidden-tables` to disable this behavior

[2021-08-11 06:09] tyt2y3 opened #73 "`into_model` method on `SelectorRaw`"
Such that we can do:

[code]

[2021-08-11 07:46] billy1624 commented on #65
I guess we need `schem_name` on each columns for the following use case:

[code]

[2021-08-11 07:53] billy1624 commented on #65
If so, I guess we need... in SeaQuery

[code]

https://github.com/SeaQL/sea-query/blob/bab97eebbbf7581c9cefe0eeef24d636aac5dc65/src/types.rs#L47-L52

[2021-08-11 08:37] billy1624 commented on #65
Btw... I think we have to change the `RelationDef` to join table with schema prefix.

https://github.com/SeaQL/sea-orm/blob/af4fb2ab7df92131ebe140e53de7f15598b4bdf5/src/entity/relation.rs#L17-L22

[2021-08-11 11:00] billy1624 commented on #65
Should we support schema prefix in column expressions at this stage? @tyt2y3

[2021-08-11 11:27] Acidic9 opened #76 "Escape column names that conflict with Rust keywords in CLI"
When generating models with the sea-orm-cli, if you have a column with a name that conflicts with a Rust keyword, the cli crashes and is not handled correctly.

For example, an SQL table:
[code]
I get an error:
[code]
This is caused because the column `type` conflicts with the Rust keyword `type`.

Any rust columns conflicting should be renamed to resolve this issue.
https://doc.rust-lang.org/refe

[2021-08-11 11:39] Acidic9 commented on #43
This feature may be needed for #76

[2021-08-11 13:06] tyt2y3 commented on #76
Any suggestion on the naming convention? How about an underscore at the end?

[2021-08-11 13:08] Acidic9 commented on #76
I didn't make any suggestions for this because I am not sure 😄

I guess `type_` with an underscore could work.. or `type_col` (adding `_col`). I'm not sure of any better options than these.

[2021-08-11 13:11] tyt2y3 commented on #65
I agree that the `from_tbl` field of RelationDef has to be changed (perhaps simply to `Identity`)
And I think the scope of this issue is only about the table name

[2021-08-11 13:41] billy1624 commented on #65
If so, #74 is ready to merge

[2021-08-12 14:53] #43 closed

[2021-08-13 09:14] billy1624 commented on #76
I think we can leave it for the user to decide how to resolve the name conflict.

Personally think that neither `r#type` nor `type_` be a good option. For me, I would simply choose another name to avoid conflicting with Rust keywords.

[code]

[2021-08-13 09:22] Acidic9 commented on #76
The problem is that users will integrate existing databases with SeaORM.. and usually you don't want your framework / language to dictate your database, it should be flexible enough to avoid issues like this

[2021-08-13 09:24] billy1624 commented on #76
Good point!

[2021-08-13 10:53] billy1624 commented on #47
So, it allows user to aggregate by column(s) or expression on any of the supported aggregation method (i.e. sum, avg, max, min)?

[2021-08-13 13:30] #76 closed

[2021-08-13 15:20] tyt2y3 commented on #47
My idea was to have a struct called `Aggregator` that will perform the action, as in `Paginator`.
The `sum` method on the `AggregatorTrait` will convert self into an `Aggregator` and execute immediately.
The parameter to `sum` should be a `ColumnTrait`

[2021-08-13 15:25] billy1624 commented on #47
How about "Select A, SUM(B) AS B FROM Table GROUP BY A"?

[2021-08-13 15:27] tyt2y3 commented on #47
I think it should work similar to Paginator, creating a sub query is the safest

[2021-08-13 15:29] billy1624 commented on #47
So the result is just a simple type `T`, perhaps a number i32, i64, f32, f64, etc.

[2021-08-13 15:30] tyt2y3 commented on #47
Oh, not yet thought of this. No, can't be type T. We need to query the column type in runtime and select the appropriate Value variant

[2021-08-13 15:31] billy1624 commented on #47
Btw... we should consider changing the return type of `Paginator::count()`, make it more dynamic.

[2021-08-13 15:32] tyt2y3 commented on #47
I think the result of count is not dependent on the column type, only dependent on the database driver.

[2021-08-13 15:32] billy1624 commented on #47
Yes!

[2021-08-13 15:57] billy1624 opened #83 "`QueryResult`: execution result of select query"

[2021-08-13 15:57] #83 closed

[2021-08-13 16:01] #12 closed

[2021-08-14 09:07] billy1624 commented on #47
So all these methods (`count`, `sum`, `avg`, `max`, `min`) return single value as result?

What you mean by selecting an appropriate `Value` variant at runtime?

[2021-08-14 10:43] #65 closed

[2021-08-14 15:33] tyt2y3 commented on #59
@scrblue Would you be interested in this task?

[2021-08-14 15:36] tyt2y3 commented on #47
Well, if the column itself is a Double, then the avg result would be f64. It could be decimal, i32 and so on.
It is different from count that always return an i64.

[2021-08-14 15:37] billy1624 commented on #47
Yes, think so!

[2021-08-14 15:39] tyt2y3 opened #85 "Examples and starter kits"
- [x] Rocket (tokio) starter template
- [x] Actix (actix) starter template

[2021-08-15 10:17] Acidic9 opened #86 "Compile error '`Sync` is not implemented' under tokio"
Related issue: https://github.com/SeaQL/sea-query/issues/105

With the following function in a tokio async runtime, I get an error saying:
[code]
[code]

SeaORM does not seem to be thread safe. Perhaps this is due to sea-query's Iden type.

[2021-08-15 10:25] tyt2y3 commented on #86
Can you setup an minimal reproducible example under /examples?

[2021-08-15 10:27] Acidic9 commented on #86
I've fixed it locally... the quick fix seems to be changing the definition of `trait Iden` in sea-query to:
[code]
This is to enforce the type is Sync

[2021-08-15 10:30] tyt2y3 commented on #86
Great finding. Can we instead do it inside SeaORM, changing IdenStatic instead of Iden?
[code]

I am trying to understand the problem

[2021-08-15 10:35] Acidic9 commented on #86
I've tried removing Send + Sync from `Iden` trait in sea-query and adding it to `IdenStatic` like you suggested, but the errors come back.

T inside `Arc<T>` should be Send + Sync for the whole Arc to be Send + Sync, but it's not required.
https://doc.rust-lang.org/std/sync/struct.Arc.html#thread-safety
It says:

[2021-08-15 10:36] tyt2y3 commented on #86
Okay, good to know. Thanks.

[2021-08-15 10:53] tyt2y3 commented on #86
Btw, any idea how can I add a test case to our test suite?

[2021-08-15 10:58] Acidic9 commented on #86
Perhaps just making a tokio app and executing your query in a tokio spawned task:
[code]

[2021-08-16 10:35] nicoulaj opened #88 "sea-orm-codegen does not include prelude in mod.rs"
Tested with sea-orm-codegen 0.1.2, the generated `mod.rs` includes all entities modules but not `prelude.rs`.

[2021-08-16 10:48] nicoulaj opened #89 "Represent several relations between same types"
Example problematic cases:

1. Entities A et B have several different many-to-many relations
2. Entity A has several one-to-many relations to entity B (Eg: `COUPLE.member1 -> USER` and `COUPLE.member2 -> USER`)

In these cases there are several issues:

1. the codegen uses A/B entity names to generate `Relation` variants, so we obtain duplicate variants. I guess it could use the join table or fore

[2021-08-16 14:03] tyt2y3 commented on #86
@billy1624 can we also run our test suite using tokio?

[2021-08-16 18:42] tyt2y3 commented on #89
`Related` was not designed to support this scenario and I want to keep its current definition for it's simplicity of usage.
Goods news is, we had thought about how to define advanced relations with more than two level joins, and it would be another triat concept. Perhaps something like:

[code]

such that multiple `Link` could be defined between any pair of Entities.

[2021-08-17 01:58] tyt2y3 commented on #89
Some clarifications:

Related is for inherit relations, like order with order item and product with product attribute, basically an edge on the ER diagram.

While Linked is the pathway between any two Entity on the ERD, which can jump through multiple hops, and have multiple valid routes.

[2021-08-17 04:45] #88 closed

[2021-08-17 04:49] #73 closed

[2021-08-17 08:48] billy1624 commented on #86
See #91

[2021-08-18 06:42] billy1624 opened #94 "Panic when primary key of active model is not set during update"
When a primary key is not included in an active model, sea-orm panics. Could this be handled in a better way?
https://github.com/SeaQL/sea-orm/blob/master/src/query/update.rs#L95

[code]

@Acidic9 thanks for raising this issue

[2021-08-20 13:50] billy1624 opened #97 "Correctly insert `ActiveModel::default()`"
[code]

This returns a database error:

Because the generated query is:

@Acidic9 thanks for reporting this!

[2021-08-21 17:37] #94 closed

[2021-08-21 17:41] tyt2y3 commented on #97
@Acidic9
What is the desired behavior in this case? NOOP (do nothing)?

[2021-08-21 18:26] Acidic9 commented on #97
Optimally, it would be best that this code doesn't even compile.
Maybe by making an insert require fields which are not null and do not have a default value. For example a username. This is why through my experience with using SeaOMR, it seems like it may be worth investigating having a separate struct for inserts.

Another small fix would be to simple check that all fields in the active model are

[2021-08-22 17:22] tyt2y3 commented on #89
We target to introduce new APIs in 0.2.0
Meanwhile you can use the 'nakes' join method (like in https://www.sea-ql.org/SeaORM/docs/advanced-query/more-join)

[2021-08-22 17:28] tyt2y3 commented on #73
Did we update the docs yet?
https://www.sea-ql.org/SeaORM/docs/basic-crud/raw-sql

[2021-08-22 17:43] tyt2y3 opened #101 "Attributes on ActiveModel"
Following up on #97 #94 #96
I have a rough idea:
1. to annotate the attributes of Entity's Model, where each attribute has three possible 'requirements': `auto_key` (auto generated primary key), `required` (implied and thus can be omitted) and `optional`
2. from there, we can derive two more structs, `InsertModel` and `UpdateModel`
For `InsertModel`, `auto_key` will be omitted, and required fields

[2021-08-22 17:43] #97 closed

[2021-08-23 07:19] tyt2y3 commented on #86
I verified that `thread-safe` on SeaQuery did solved the issue.

[2021-08-23 07:19] #86 closed

[2021-08-23 09:14] #24 closed

[2021-08-23 14:16] tyt2y3 opened #103 "`InsertResult` to return the primary key's type"
Currently, the `last_insert_id` from InsertResult simply uses the ExecResult's last_insert_id.
However, at least for Postgres with `returning`, we should be able to retrieve the primary key column for the Entity and return the value in its native type. For example, a `uuid` instead of an `i64`.

[2021-08-24 07:01] billy1624 commented on #103
How we handle composite primary keys?

[2021-08-24 07:17] tyt2y3 commented on #103
Composite primary keys can't be auto generated, and so it's less important. But I think the type could be a tuple, if we really try to support it. Let's leave it and return 0 for now.

[2021-08-24 07:25] billy1624 commented on #103
I think this issue can be related to #101 if we have an attribute `primary_key`. Then, we can derive a struct to represent value of returning columns (primary keys).

[2021-08-24 07:28] billy1624 commented on #103
And btw... returning statement in Postgres can return multiple columns at once.

https://www.postgresql.org/docs/current/dml-returning.html

[2021-08-24 07:29] tyt2y3 commented on #103
I think for the average case where there is only one column as primary key, adding one container layer is counter intuitive.
________________________________
寄件者: Billy Chan ***@***.***>
寄件日期: Tuesday, August 24, 2021 3:25:39 PM
收件者: SeaQL/sea-orm ***@***.***>
副本: Chris Tsang ***@***.***>; Author ***@***.***>
主旨: Re: [SeaQL/sea-orm] `InsertResult` to return the column's type, not i64 (#103)

I thi

[2021-08-24 12:20] tyt2y3 commented on #103
I think for the average case where there is only one column as primary key, adding one container layer is counter intuitive.
But perhaps, we can make an associated type def in the PrimaryKeyTrait

[code]

[2021-08-24 13:32] billy1624 commented on #103
Adding type def is a good suggestion

[2021-08-24 15:23] nappa85 opened #105 "More compact Entity format"
I was trying your crate, seems promising, but the way you choose to represent models is too verbose.
For example I've a DB table with 53 fields, using your system I've written like 210 LOC, repeating the same informations like 3 times.

I think everything could be done with a single proc_macro, that takes a standard Rust struct and replaces it with a module with the same name of the struct, with M

[2021-08-24 16:22] Acidic9 commented on #105
I haven't thought of this before, but I think I can agree with you somewhat.

For example, `Entity`, `Model`, `Column`, `PrimaryKey`, `PrimaryKeyTrait` & `ColumnTrait` could be combined into a single struct definition with derives.
From:
[code]
Into:
[code]
I think this wouldn't be too hard as a lot of information could be inferred from the struct.
For example:
- If a field is an `Option<T>`, then

[2021-08-24 16:25] Acidic9 commented on #101
I like what you've desribed here... looks promising.

I think this could be related to: https://github.com/SeaQL/sea-orm/issues/105 - perhaps a refactor to the API can be considered.

[2021-08-24 16:32] tyt2y3 commented on #105
Thank you for your interest. I will first talk about the original ideas and choices, and may add more thoughts on later post.

The first thing is, I do not want to invent any DSL or anything with a custom syntax or semantics. It will definitely be much less verbose, but it is hard for anyone other than a code generator to write that code. It will be hard to understand and reason about, and people

[2021-08-24 16:52] nappa85 commented on #105
Yes, I understand your point of view, and it was exactly the reply I thought for the question "why didn't they already made this?".
But, as @Acidic9 pointed, there can be default impl via derive macro and custom impl in plain Rust without any problems.
As far as I can see, code completion works with macro-produced code without problems.
Macros aren't made to replace code, but to easy the life of w

[2021-08-24 16:57] tyt2y3 commented on #105
I also think that having the use both CamelCase and snake_case when referring to attributes is slightly awkward.

Is it better or worse if we break the Rust convention to use snake_case enums?

[2021-08-24 17:05] Acidic9 commented on #105
I don't think so honestly, I think keeping the enum as CamelCase... and just renaming it through the derive macro

[2021-08-24 17:14] tyt2y3 commented on #105
Serde is a brilliant library and there is lot to learn and borrow from.

Yes I would prefer to have a more compact form, as long as it is compatible with the longer form.

And that the derive macro should not do too much magic other than providing syntax sugars.

[2021-08-25 04:26] tyt2y3 commented on #105
Also, it'd be better if we settle on a 'base format' first, and versions afterwards should be backward compatible.
That way, we can incrementally release enhancements towards the 'short format', while the codegen can maintain the capability to generate both formats.

[2021-08-25 04:49] tyt2y3 commented on #105
@Acidic9 the format you propose already looks good. Perhaps we just need to think about the relations.

[2021-08-25 10:32] nappa85 commented on #105
I've put together a minimal impl, have a look https://github.com/nappa85/sea-orm-macro/
Inside tests there is a working example.
Sure there is space for improvement, but it can be a starting point

[2021-08-25 11:36] tyt2y3 commented on #105
Wow thank you for the quick update. Looks great so far. I was just thinking how to name it (lol) perhaps, `AutoEntity`, `EntityDef`, or simply `Entity`?

[2021-08-25 12:01] nappa85 commented on #105
I've named it AutoColumn because it's main purpose is to generate Column from Model, but it generates optionally also Entity and PrimaryKey, so maybe a more generic AutoDef?

[2021-08-25 12:28] tyt2y3 commented on #105
Yeah `AutoDef` sounds good too.

[2021-08-25 12:43] Acidic9 commented on #105
I feel like `AutoDef` is a little ambiguous. For example, serde just has `Serialize` and `Deserialize`. I like the sound of `Schema` or `Entity` or `Table`

[2021-08-25 14:40] tyt2y3 commented on #105
Well, `Entity` is the most almighty I guess.

[2021-08-25 15:53] nappa85 opened #107 "How to implement From<Option<T>> for Value where T is my custom value?"
Let's say I have a field in my table, something like
[code]
status can have those values: A (active), D (deleted), Q (queued), E (executed).
I want to map the field to a Rust enum, I can easily do:
[code]
and everything works fine.

But if my status is, instead
[code]
In my Model I would have to use Option< Status>, and I cant impl From< Option< Status>> for Value, because neither Option or Value

[2021-08-25 15:57] tyt2y3 commented on #107
They're defined in https://github.com/SeaQL/sea-query/blob/cfae4eab32fcd1a87103cffcf8760315f404656f/src/value.rs#L173
So you think
[code]

would help?

[2021-08-25 16:19] nappa85 commented on #107
Yes, I've gone there only after opening the issue, and saw how you implemented Value...
This way you're locked by type, because for example bool values goes into Value::Bool and I can't see a generic to reconduce a None::<T> into the righ Value variant.
A solution could be introduce Value::Null, this way the null value would be unique instead of typed.

To be honest, the same approach has been use

[2021-08-25 16:41] tyt2y3 commented on #107
It was only recently being removed https://github.com/SeaQL/sea-query/pull/107
________________________________
寄件者: Marco Napetti ***@***.***>
寄件日期: Thursday, August 26, 2021 12:20:07 AM
收件者: SeaQL/sea-orm ***@***.***>
副本: Chris Tsang ***@***.***>; Comment ***@***.***>
主旨: Re: [SeaQL/sea-orm] How to implement From<Option<T>> for Value where T is my custom value? (#107)

Yes, I've gone there only

[2021-08-25 16:48] nappa85 commented on #107
I see...
Well, this is a problem...
A solution could be a Trait that adds a method like `fn null() -> Value`
that returns the correct variant of Value containing None, and requiring
that trait in the generic impl

Il mer 25 ago 2021, 18:42 Chris Tsang ***@***.***> ha scritto:

[2021-08-26 15:11] billy1624 opened #109 "Using `find_also_*()` with `group_by(Col)` with correct column alias for `Col`"
[code]

With SQL statement

[code]

[2021-08-27 10:07] billy1624 opened #110 "Implement `insert` & `update` for `ActiveModel`"
To avoid manually `exec` the insert `ActiveModel`. In below, we cannot simply `save` it because this is a junction table and the composite primary key should be set during insert.

https://github.com/SeaQL/sea-orm/blob/bfaa7d4539afc033cb3f240fa4fed4ff1344c7c0/tests/relational_tests.rs#L562-L569

Perhaps `impl` it here

https://github.com/SeaQL/sea-orm/blob/8cfa14233d2d6bce27857cce8b12a95be414d2cc/

[2021-08-27 12:56] nappa85 opened #111 "Support for row locking?"
Hello, it's me again! xD

I just noticed there is no support for row locking (or at least I haven't find out).
Is it something you have excluded for a reason or simply you still haven't covered this feature?

[2021-08-27 15:36] Acidic9 opened #114 "Use the `log` crate instead of `"debug-print"` feature"
Currently SeaORM uses a feature flag called "debug-print" which simple executes a `println` with the query.

It might be nice to use the [`"log"`](https://docs.rs/log/) / [`"env-logger"`](https://docs.rs/env_logger/) crates instead.

For example, replace
[code]
with
[code]

The benefit of this is that apps using SeaORM can change logging through env vars rather than recompiling with a new feature

[2021-08-28 10:43] tyt2y3 commented on #114
Yes, I agree. It will be very helpful at deployment!

[2021-08-28 10:49] tyt2y3 commented on #110
What is the final intended API?
I kind of get the problem, but I don't get the proposed solution.

[2021-08-28 10:51] tyt2y3 commented on #109
Why is this an 'issue'?

[2021-08-28 12:24] billy1624 opened #115 "0.2.0 To Write Docs"
## Content

1. [x] PrimaryKeyTrait::ValueType #103
1. [x] Linked API #89
1. [x] Entity to TableCreateStatement #59
1. [x] SelectorRaw API #73
1. [x] Writing tests SeaQL/seaql.github.io#1
1. [x] Debug Log #114
1. [x] Support sea-orm-cli --verbose #153
1. [x] Codegen for compact Entity format #138
1. [x] New Entity format #105
1. [x] EntityModel ignore columns #159
1. [x] Select from Statement #167

[2021-08-28 14:17] MuhannadAlrusayni opened #116 "How to use custom types inside Model?"
Hi, I want to use my custom types in the Model:
[code]
There are a few issues I faced while I'm trying to do so:
- Custom types support was not mentioned at all in the [docs](https://www.sea-ql.org/SeaORM/docs/index), [SeaORM API docs](https://docs.rs/sea-orm/0.1.2/sea_orm/index.html), [SeaQuery API docs](https://docs.rs/sea-query/0.15.0/sea_query/index.html) and the examples. the only place it wa

[2021-08-29 04:28] billy1624 commented on #116
Hi @MuhannadAlrusayni, thanks for raising this issue. Yes, we do not support custom type defined as above. But I do think we need to open the API to support it.

Can I know what is the type definition of `Email`? Is it a struct with multiple attributes inside it?

[2021-08-29 09:36] tyt2y3 commented on #116
I think you have made a good point, `ValueTypeDefault` seemingly is not needed now.
I've removed it in https://github.com/SeaQL/sea-query/pull/114

[2021-08-29 13:04] MuhannadAlrusayni commented on #116
It's just newtype with constraint on the value in side (aka [ValueObject](https://en.wikipedia.org/wiki/Value_object)):
[code]
and I use these types in my endpoints API to get user input, this way I can make sure values passed to my backend are valid data.

[2021-08-30 10:40] tyt2y3 commented on #107
With #108 merged, is there still any other blocker?

[2021-08-30 10:53] nappa85 commented on #107
No, on this topic there are no blockers

[2021-08-30 10:53] #107 closed

[2021-08-30 22:37] MuhannadAlrusayni commented on #116
Thanks @tyt2y3 using https://github.com/SeaQL/sea-query/pull/114 I was able to use my custom types. It would be nice if we have this functionality in`sea-orm` as soon is you can :D.

[2021-08-31 01:24] tyt2y3 commented on #116
Okay great. So what are the missing pieces for now? Only a version bump of SeaQuery inside SeaORM?
________________________________
寄件者: Muhannad ***@***.***>
寄件日期: Tuesday, August 31, 2021 6:37:29 AM
收件者: SeaQL/sea-orm ***@***.***>
副本: Chris Tsang ***@***.***>; Mention ***@***.***>
主旨: Re: [SeaQL/sea-orm] How to use custom types inside Model? (#116)

Thanks @tyt2y3<https://apac01.safelinks.protec

[2021-08-31 16:39] MuhannadAlrusayni commented on #116
I'm not sure yet, but I think version bump all what we need.

[2021-08-31 16:44] tyt2y3 commented on #116
Great. We will do so soon.

[2021-09-01 10:28] nappa85 opened #119 "Join aliases: am I doing it right? Seem quite overcomplicated"
Let's have a "simple" query like
[code]
How should I represent it using crate's types?

[code]

Am I missing some simplier way?

[2021-09-01 15:32] tyt2y3 commented on #119
Probably. How about these?

https://www.sea-ql.org/SeaORM/docs/advanced-query/more-join

[2021-09-01 15:42] nappa85 commented on #119
Wait, the core of my issue is about joining aliased tables, while joining standard tables everything works smooth, but adding an alias requires adding a lot of code and rely con custom expression, that on my way of view decreases the security given by an ORM system.
I'm thinking at a possible solution, maybe something like that?
[code]
Ok, it's probably already working like this, I've gone full re

[2021-09-01 15:57] tyt2y3 commented on #119
Okay sorry but I am confused. So you want to use an alias as the table name? Can you use a unit struct instead?

[code]

[2021-09-01 16:10] tyt2y3 commented on #119
I might not exactly get your scenario, but here is an example from SeaQuery

[code]

[2021-09-01 16:14] nappa85 commented on #119
Yeah, you're right, I'm making confusion between eq and equals...

[2021-09-01 16:14] #119 closed

[2021-09-01 16:15] tyt2y3 commented on #119
Yea, to clarify, eq is for comparing values while equals is another expression.
________________________________
寄件者: Marco Napetti ***@***.***>
寄件日期: Thursday, September 2, 2021 12:14:20 AM
收件者: SeaQL/sea-orm ***@***.***>
副本: Chris Tsang ***@***.***>; Comment ***@***.***>
主旨: Re: [SeaQL/sea-orm] Join aliases: am I doing it right? Seem quite overcomplicated (#119)

Yeah, you're right, I'm making c

[2021-09-02 08:52] tyt2y3 commented on #105
@nappa85 we are releasing `0.2.0` soon.
Since you were working on this, do you think you will be able to contribute a bit in the coming month?
Such that we may incorporate and release in `0.3.0`

[2021-09-02 09:02] nappa85 commented on #105
Yes, if you let me know what you want me to edit, I'll do it ASAP

Here we discussed only the derive macro name

[2021-09-02 09:02] Acidic9 commented on #105
@tyt2y3 I spent most of my day yesterday and today creating a PR for this too. It's at a working stage, just need the columntrait to be generated too.

I'll create the PR in a few hours!

[2021-09-02 09:07] tyt2y3 commented on #105
Thank you. After 0.2.0 we will make our focus on this matter, with 0.3.0 on the horizon of early Oct.

[2021-09-02 09:09] tyt2y3 commented on #105
Great, good to know. Thank you for the suggestion and everything up to now.

[2021-09-02 11:18] Acidic9 commented on #105
I've created a PR for this https://github.com/SeaQL/sea-orm/pull/122

If @nappa85 's version is preffered thats fine with me, just thought I'd share the work as a PR in case it can be used or to share any thoughts.

Let me know what you guys think

[2021-09-02 11:32] tyt2y3 commented on #105
Thank you so much for the big PR. I think yours are promising!

@nappa85 What's your view on this?

@Acidic9 Can you show some more examples on the proposed format and annotation syntax?

[2021-09-02 15:40] Acidic9 commented on #105
@nappa85 I didn't get a chance to get an example working with your code, I'm not sure how exactly to use it. Do you think you could briefly explain what the API looks like for your version?

[2021-09-02 15:52] nappa85 commented on #105
you can find a working example in the tests folder of my repo https://github.com/nappa85/sea-orm-macro/blob/master/tests/it_works.rs

I can write some docs once we decided what has to be changed

[2021-09-03 04:08] #59 closed

[2021-09-03 06:13] #89 closed

[2021-09-03 06:15] #103 closed

[2021-09-03 06:49] #114 closed

[2021-09-03 06:56] #1 closed

[2021-09-03 07:06] tyt2y3 commented on #105
Thank you for everyone's input here. We will think a bit and perhaps draft a design document.

[2021-09-03 07:30] nappa85 commented on #105
I've wrote a little readme to better explain the proc macro: https://github.com/nappa85/sea-orm-macro/blob/master/README.md

[2021-09-03 07:45] tyt2y3 commented on #105
Thank you, this is extremely helpful!

[2021-09-03 13:14] #37 closed

[2021-09-03 13:15] tyt2y3 commented on #115
Seems like all issues are merged now!

[2021-09-03 17:32] nicoulaj opened #126 "sea-orm-cli generates invalid code if a table has no primary key"
With given schema:
[code]

`sea-orm-cli generate` outputs:
[code]
instead of:
[code]

Tested with sea-orm-cli 0.1.3
related: SeaQL/sea-schema#13

[2021-09-03 17:55] tyt2y3 commented on #126
Yes, we were in the process of a release.
Please run `cargo install sea-orm-cli` again to update to [sea-orm-cli/0.2.0](https://crates.io/crates/sea-orm-cli/0.2.0).

[2021-09-03 18:15] nicoulaj commented on #126
Ha yes my bad, I can confirm this works fine on 0.2.0.

Another small issue though: if a table has no primary key, it generates invalid code instead of skipping it or throwing a proper error, eg:
[code]
generates:
[code]

[2021-09-03 18:20] tyt2y3 commented on #126
Thank you for your report. I think currently SeaORM requires an Entity to have a primary key.
Though, it does not necessarily to be an actual primary key in the database table.
This behavior is common in other ORM too (AFAIK).

[2021-09-04 12:28] tyt2y3 commented on #116
Will you try `0.2.0` works for you?

[2021-09-04 12:28] #110 closed

[2021-09-04 16:05] Acidic9 commented on #97
Following up on this, I just thought that there may be cases where someone might actually want this. For example, if every column in the table has a default value.

In which case the query should execute, but should not contain the parenthesis `()` I believe.
Eg:
[code]
If I'm not wrong, this is a valid SQL query.

[2021-09-05 07:41] tyt2y3 commented on #109
#104

[2021-09-05 07:41] #109 closed

[2021-09-05 08:54] tyt2y3 commented on #105
So based on @nappa85 work, I have had something in mind:

## Basic usage

[code]

this will autogenerate the Column enum (omitted here).

## Primary key

To autogenerate the PrimaryKey enum too, simply add the attribute like this:

[code]

this will autogenerate the PrimaryKey enum, with implied `auto_increment = true`.

If we instead want `auto_increment = false`, we can specify:

[code]

For com

[2021-09-05 09:15] tyt2y3 commented on #105
Borrowing ideas from #122,

I think we can enhance the DeriveEntity macro:

[code]

[code]

[2021-09-05 09:20] Acidic9 commented on #105
I like what you've descirbed here @tyt2y3.

The sea-orm-cli generates also:
[code]
And
[code]

Are these necessary? And should they be expanded from a derive macro also, or manually implemented?

If a table has no relation def, perhaps instead of the panic it should just not implement it? I've seen a few places where panics in the SeaORM source code could be replaced with error types or just adjus

[2021-09-05 09:26] tyt2y3 commented on #105
The problem here is the Entity requires an associated `Relation` type:

[code]

May be, it's possible for sea_orm to define an `NoRelation` struct so Entities with no relation can use that.
I am still not sure the impact to the rest of the library.

[2021-09-05 09:41] Acidic9 commented on #105
I think that would make sense.

I'm still thinking deeply about this.

Currently to perform an update on multiple fields, it looks like you do it with:
[code]
But if you want to update 10 columns, do you need to manually add `.col_expr` for each column?

And doing the following will update the pears name with the ID `123`.
[code]
The issue with this, is that if the id is not set, a panic will occu

[2021-09-05 09:47] tyt2y3 commented on #105
## Relations

Similarly, we might also be able to simplify Relation definition a bit:

[code]

auto generate the following:

[code]

[2021-09-05 09:48] tyt2y3 commented on #105
I am sorry @Acidic9 but it seems to be a bit off topic, perhaps we can discuss that in a new thread?

[2021-09-05 09:59] tyt2y3 commented on #105
@nappa85 what's your thought on the proposed design so far?

[2021-09-05 10:15] nappa85 commented on #111
I think we can close this issue, since my PR has been merged, right?

[2021-09-05 10:16] nappa85 commented on #105
I've just read everything and I have no objections, (aka "looks dope man!").
I've read in another issue (but actually I can't find it) about the ability to generate more than one Relation with another Entity, maybe we should integrate that too, I've felt this limitation myself

[2021-09-05 10:22] tyt2y3 commented on #111
Well only the SeaQuery PR has been merged and since SeaORM bumped the dependency. So technically you can use it now.

It depends on whether you want additional convenience by introducing new API in SeaORM.

[2021-09-05 10:23] nappa85 commented on #111
Oh, you're right, it's the sea-query PR that has been merged, not the sea-orm one

[2021-09-05 10:28] tyt2y3 commented on #105
@nappa85
That issue is #89, and basically the `Linked` trait has been introduced in `0.2.0`

Can you open an PR with what you have got in sea-orm-macros for now, so we can work together?

[2021-09-05 10:30] nappa85 commented on #105
Sure, give me a moment

[2021-09-05 10:43] nappa85 commented on #105
Ok, I've created https://github.com/SeaQL/sea-orm/pull/128

[2021-09-05 11:01] Acidic9 opened #129 "Remove implicit filter in update method"
TLDR;

Instead of using the `Set` primary key in an active model for updating an entity, use a manual `.filter` method.
[code]

And add a new method directly to an `ActiveModel` which uses the `Set` primary key.
[code]

---

Currently to perform an update on multiple fields, it looks like you do it with:
[code]
But if you want to update 10 columns, do you need to manually add `.col_expr` for each

[2021-09-06 09:51] nappa85 commented on #105
Here you talk about adding those methods, are those already been added?

[2021-09-06 10:00] #126 closed

[2021-09-06 10:22] billy1624 commented on #129
Yes, this is the case.

I think we better use Rust's type system to handle this instead of throwing panic during runtime, as discussed earlier.

The down side is that if the ActiveModel has the ID as Set... then it'll actually try to update the ID in the query. But I don't consider this so much as a down side, because some people may actually want to update a primary key.

I think we can add a fun

[2021-09-06 10:28] tyt2y3 commented on #101
After #105, I think it will provide us some compile-time info to work with, i.e. the `default_value` and `default_expr` tags.

As such, we'd be able to generate two extra models `InsertModel`, `UpdateModel` along with `ActiveModel`, under the following rules:
For insert model, skip the 'auto_increment primary_key' columns. Fields without default will be wrapped with `RequiredValue`, ActiveValue ot

[2021-09-06 10:32] billy1624 commented on #105
Not added yet.

[2021-09-06 10:55] tyt2y3 commented on #129
I agree on this behavior indeed.

[2021-09-06 11:17] Acidic9 commented on #105
@tyt2y3 @billy1624 @nappa85 Please see my updated PR https://github.com/SeaQL/sea-orm/pull/122.

I've updated the whole thing to match the specs listed here, with few changes such as the attribute being `#[sea( ... )]` instead of `#[sea_orm( ... )]`.

Please take a look and let me know your thoughts, I've explained in detail every change made in the PR :)

[2021-09-06 12:19] Acidic9 commented on #105
Although, there already exists: `.unique()`, `.null()`, `.index()` right?

[2021-09-06 12:23] tyt2y3 commented on #105
Sure. I will definitely take a close look.

Yes. SeaQuery already has the `default_value` but not `default_expr`. I think we need to update SeaQuery first.

[2021-09-06 12:36] nappa85 commented on #105
So is it the old `null` or the new `nullable`?
Just to disambiguate...

[2021-09-06 12:38] tyt2y3 commented on #105
Yes, I think we should use `nullable` for consistency.

[2021-09-06 12:57] nappa85 commented on #105
Perfect, so the macro code is already aligned

[2021-09-07 03:02] billy1624 commented on #129
However, this will be a huge breaking change for those who are using `Entity::update(active_model)` directly. One must manually apply filter on their own. Otherwise, all rows will be updated.

[code]

[2021-09-07 07:22] Acidic9 commented on #129
I think it's great to make these kind of changes at this time as SeaORM was released so recently.. so I think these changes are worth it!

[2021-09-07 09:51] Acidic9 opened #133 "Implement `TryGetable` for `Vec<u8>`"
There is no implementation of [`TryGetable`](https://docs.rs/sea-orm/0.2.1/sea_orm/trait.TryGetable.html#) for `Vec<u8>`. This should be possible as [sqlx implements it for `Vec<u8>`](https://docs.rs/sqlx/0.5.7/sqlx/trait.Decode.html#impl-Decode%3C%27r%2C%20Postgres%3E-for-Vec%3CT%2C%20Global%3E).

This could be resolved easily by adding `try_getable_all!(Vec<u8>);` to [`src/executir/query.rs`](ht

[2021-09-07 10:26] tyt2y3 commented on #133
Let me try it real quick.

[2021-09-07 10:31] Acidic9 commented on #133
Oops I made a PR already for it 😄

[2021-09-07 10:33] tyt2y3 commented on #133
Thanks. It's pretty much the same second!

[2021-09-07 10:38] Acidic9 commented on #133
I wonder if it could also be implemented for `&str`?

Looks like there's just a missing implementation of `&str` for `ValueType`, but it might be as simple as adding `type_to_value!(&str, String);` to `src/value.rs`.

[2021-09-07 10:47] Acidic9 commented on #133
It looks like TryGetable does not support any borrowed values as the trait does not have any lifetimes indicated.
This is probably why the `Decode<'r, DB>` trait in sqlx has `'r`
https://docs.rs/sqlx/0.5.7/sqlx/trait.Decode.html#impl-Decode%3C%27r%2C%20Any%3E-for-%26%27r%20str

[2021-09-07 12:03] billy1624 commented on #101
Btw... why we cant set an value for primary key with auto_increment?

[2021-09-07 12:08] Acidic9 commented on #101
It is possible to specify the primary key even if a primary key column is auto_increment, but I can't imagine many situations where that'd be useful to anyone.

I'm also thinking that the update and insert models can be used with async-graphql under a feature flag in the future, and you typically wouldn't allow the primary key to be set when inserting a new item. But for the async-graphql case, it

[2021-09-07 12:31] tyt2y3 commented on #105
Thank you everyone for everything!
I am now working on it. Hopefully will have something soon.

[2021-09-07 15:09] tyt2y3 commented on #105
I am done for today. Feel free to peek at the current status.

[2021-09-07 15:16] tyt2y3 commented on #105
I am thinking, whether DeriveEntityModel should automatically imply DeriveModel and DeriveActiveModel, to make it less verbose.

[2021-09-07 15:17] nappa85 commented on #105
Could be a good idea

[2021-09-08 09:40] nicoulaj commented on #101
Please also note all `GENERATED ALWAYS` columns should be excluded from insert/update queries or use `DEFAULT` as value. See for example [Postgres](https://www.postgresql.org/docs/13/ddl-generated-columns.html) or [MySQL](https://dev.mysql.com/doc/refman/8.0/en/create-table-generated-columns.html).

Maybe those could be directly excluded for `InsertModel`/`UpdateModel` ? In `ActiveModel`, maybe `A

[2021-09-08 12:55] tyt2y3 commented on #101
Thanks @nicoulaj I think you raised a good point not yet considered.

[2021-09-08 12:59] tyt2y3 commented on #105
@billy1624 can you help a bit on this?

[2021-09-08 13:55] nappa85 commented on #105
I've made some tests about it, maybe I'm wrong, but it seems that a derive macro can't edit the original struct, to do so you need a proc-macro.

I've tried with this code, inside DeriveEntityModel macro:
[code]

[2021-09-08 14:02] Acidic9 commented on #105
Rather than modifying the derive attribute of the struct itself, it's probably better to just reuse the code of `DeriveModel` and `DeriveActiveModel`.

For example, if they both use the struct approach, then you could just call them directly.
[code]

I hope that makes sense.

[2021-09-08 14:04] billy1624 commented on #105
Oh I just committed 54bb358 for this, feel free to comments :)

[2021-09-08 14:05] Acidic9 commented on #105
Ah yea you did the same as I explained haha, just call the function directly.

[2021-09-08 14:10] nappa85 commented on #105
Are we ok with the macro always deriving the other macros?
All other features, like deriving PrimaryKey, were controlled by an attribute.

[2021-09-08 14:11] billy1624 commented on #105
This is crazy loll

[2021-09-08 14:13] nappa85 commented on #105
Yeah, it was a really raw approach

[2021-09-09 08:46] Acidic9 commented on #133
I guess this is resolved @tyt2y3 ?

[2021-09-09 09:32] tyt2y3 commented on #105
https://github.com/SeaQL/sea-orm/blob/98850295857274cc72bce390278ce5c1f5bd1582/tests/common/bakery_chain/customer.rs#L5-L11

@nappa85 I discovered a strange behavior. when `column_type` is specified, `nullable` can no longer be inferred from the `Option<_>` type

So the following is the correct:

[code]

But the following is not:

[code]

[2021-09-09 09:40] tyt2y3 commented on #105
https://github.com/SeaQL/sea-orm/blob/98850295857274cc72bce390278ce5c1f5bd1582/tests/common/bakery_chain/baker.rs#L13-L23

Our current `DeriveRelation` is quite 'copy & paste' now.

I am thinking if instead of

[code]

we do

[code]

[2021-09-09 10:00] nappa85 commented on #105
Yes, it's kind-of wanted, IMHO if you're specifying the type, you've to specify it entirely

[2021-09-09 10:01] nappa85 commented on #105
I think it's becoming too much magic, what if the other entity isn't on the the parent module but it's on another crate?
The first version is better, more explicit

[2021-09-09 10:05] Acidic9 commented on #105
I agree that it's becoming a little bit too much magic. Perhaps the entire `DeriveRelation` can just be scrapped as it just implements `RelationTrait`..? I think it just makes sense at this point to let the user write their own implementation of it.

[2021-09-09 10:12] tyt2y3 commented on #105
um... it does save a few lines and another impl block, innit?

The first version is better, more explicit

Great, then seemingly everything is set now

[2021-09-09 10:55] tyt2y3 commented on #133
Not sure. We havn't got a test case for this.

[2021-09-09 10:58] tyt2y3 opened #138 "Codegen for compact Entity format"
I think it's better for us to preserve the functionality to generate the current long Entity format, and can be switched on with a command line arguemnt.

- [x] update codegen
- [x] update sea-orm-cli to generate short format by default
- [x] update docs

[2021-09-09 10:59] #116 closed

[2021-09-09 14:39] billy1624 commented on #138
So, at the end the codegen can produce codes of one of the formats? Let say, compact & expanded format.

[2021-09-10 06:40] #105 closed

[2021-09-10 07:26] tyt2y3 commented on #129
https://github.com/SeaQL/sea-orm/blob/f56ac7b7f6bb542956803ebc08d8bd3b088881b8/src/query/update.rs#L261-L291

After a third thought, I will we don't need to change existing behavior, and this is probably what you have been asking for.

[2021-09-10 08:46] nappa85 opened #142 "Transactions support"
Coming from https://github.com/SeaQL/sea-orm/pull/118, I start a new issue con go on with the analisys:

What @tyt2y3 proposed:

It can be a starting point, if we're able to maintain sea-orm typing.
What I mean is, sqlx Connection::transaction takes an fn(&mut Transaction), we would need to wrap it up so inside the function we can still use our DatabaseConnection type.

And it's kind of an overkil

[2021-09-10 09:37] #133 closed

[2021-09-10 10:44] tyt2y3 commented on #142
There is a reason that SQLx takes in a `FnOnce` for transaction. It is using a connection pool, this is to prevent that the user forget to COMMIT or ROLLBACK thereafter.

I think, probably, the SeaORM API can take a [`Vec<Statement>`](https://docs.rs/sea-orm/0.x/sea_orm/struct.Statement.html) and execute them in a single transaction. This is rather simplistic, and does not cover all use cases.

Al

[2021-09-10 13:54] nappa85 commented on #142
Transactions are often used to lock to a certain state (isolation) to be sure that there are not changes between select queries. How do you cover that case with a `Vec<Statement>`?

I can try to see if I can fit inside sqlx apis with a wrapper, if it covers all scenarios

[2021-09-10 14:19] tyt2y3 commented on #142
You are right. I think it is still useful when there are multiple inserts and want to maintain 'domain consistency'.
But definitely, `FnOnce` is the most flexible way.

[2021-09-10 15:54] baoyachi opened #145 "how to get real sql before exec"
Like 'diesel',the crate support method debug sql with method:[debug_query](https://docs.rs/diesel/1.4.7/diesel/fn.debug_query.html#) before exec .

Does sea-orm support? It's very useful function with debug.

[2021-09-10 16:02] tyt2y3 commented on #145
We have this feature but we haven't have written docs yet.

There are two ways
1) use the 'debug-print' feature
2) use the 'env_debugger' crate

[2021-09-10 16:03] billy1624 commented on #145
Hi @baoyachi, welcome!

Does this help? https://www.sea-ql.org/SeaORM/docs/basic-crud/raw-sql#get-raw-sql-query

[2021-09-10 16:07] baoyachi commented on #145
I want use this crate, Because I just find this organizations developer very active.

Some crate that wait two year but not support rust async.await. So sad.

[2021-09-10 16:17] baoyachi commented on #145
Yeah,but I don't what cake means in `sea-orm`.

[2021-09-10 16:20] billy1624 commented on #145
It's the name of an entity.
https://www.sea-ql.org/SeaORM/docs/generate-entity/entity-structure/

[2021-09-10 16:25] baoyachi commented on #145
Some suggestion: the doc may be reference some examples link be better.
The code may take time to read, lack context references, or be a better example to run

[2021-09-10 17:13] nicoulaj opened #147 "Add support for negating Condition"
It is tempting to use `Condition` to build APIs that accept composite filters. However, once a `Condition` has been built, there is no way to introspect it (fields are private), and no way to negate it (`NOT` operator is exposed on `Expr` instead).

It would be nice to have either:

- a `Condition::not(&self)` method
- a public Visitor or similar API so that `Condition` can be introspected

[2021-09-10 17:24] nicoulaj opened #148 "Add into_model() for Insert/Update/Delete"
It is a common need to insert/update/delete and select some return columns as a single query. Currently sea-orm does not make this easy, so I think having ideally `into_model()` for Insert/Update/Delete would be very convenient. What do you think ?

[2021-09-10 17:27] nicoulaj commented on #148
related: SeaQL/sea-query#120

[2021-09-12 11:42] Acidic9 opened #151 "Support for `Vec<impl From<Value>>` in models"
Models should allow for columns which are arrays.

For example a Postgres array column called `"images"`:
[code]
Should integrate with a type `Vec<String>` on a model.
[code]
Currently, it throws an error:

[2021-09-12 13:50] Acidic9 opened #152 "`DatabaseConnection` is not `Send`, `Sync` and `Clone`"
SeaORM's `DatabaseConnection` type is not `Send`, `Sync` and `Clone`.
These should be easily added as `DatabaseConnection` is a wrapper of the Sqlx pool types, which themselves are `Send`, `Sync` and `Clone`.

On the Sqlx [`Pool`](https://docs.rs/sqlx/0.5.7/sqlx/struct.Pool.html) documentation:

This is usually needed for many apps, such as an actix server, so it can be sent between threads to aqu

[2021-09-13 06:22] fenhl opened #153 "sea-orm-cli --verbose for debugging"
I tried running `sea-orm-cli generate entity` on an existing PostgreSQL database and it panicked at <https://github.com/SeaQL/sea-schema/blob/7099a2eaa10efb0eaacb07ff39b34dcb1510057a/src/postgres/parser/table_constraints.rs#L39>. Backtrace:

[code]

[2021-09-13 06:54] billy1624 commented on #153
Hi @fenhl, thank you so much for the issue.

We need more information to debug it. Would you mind...

1. Cloning the master of [`sea-schema`](https://github.com/SeaQL/sea-schema)

2. Go to `sea-schema/tests/writer/postgres` directory

3. Update the connection string at [here](https://github.com/SeaQL/sea-schema/blob/e7f6a37fbd75754dcbf2fed5863be1cbbdc3ac05/tests/writer/postgres/src/main.rs#L7-L11)

[2021-09-13 13:17] tyt2y3 commented on #145
So... you question got answered?

[2021-09-14 04:42] billy1624 commented on #151
But all other databases (MySQL & SQLite) does not support array

[2021-09-14 04:48] billy1624 commented on #148
1. I'm thinking how we handle databases that don't support `returning`? Should we just return the original `ActiveModel` passed into insert / update / delete?

2. Also, what will be `returned` if we insert / update / delete multiple records? Or this `into_model()` method is not supported for insert / update / delete multiple records.

[2021-09-14 04:50] billy1624 commented on #147
Related to SeaQL/sea-query#132

[2021-09-14 05:57] Acidic9 commented on #151
Oh I see, I wonder if this feature could only be enabled when you have the postgres feature flag active.

I did see that MySQL has a `JSON` type and a `JSON_ARRAY` function... I wonder if it could also be implemented for MySQL and it works on JSON types, but if the JSON is an object, it will fail?

[2021-09-14 07:06] baoyachi commented on #145
Done

[2021-09-14 07:06] #145 closed

[2021-09-14 13:04] nappa85 opened #155 "Auto derive Linked and/or Related traits impls"
Hello guy,
I was looking at expanded code from `DeriveRelation` proc macro
[code]
this code correctly generates `RelationTrait` impl for `Relation`, but not `Linked` or `Related` traits impls, as I expected.

Am I expecting wrong?

[2021-09-14 13:15] billy1624 commented on #155
Yes, this is the intended behaviour

[2021-09-14 13:25] tyt2y3 commented on #155
Think of it this way, multiple `Relation` form a `Link`

[2021-09-14 13:31] nappa85 commented on #155
Ok, thank you very much, because I still haven't clear how two or more link to the same linked entity can coexist

[2021-09-15 03:59] tyt2y3 commented on #153
We will include a `verbose` flag in `sea-orm-cli` to help debugging.

[2021-09-15 04:08] tyt2y3 commented on #155
Definition

https://github.com/SeaQL/sea-orm/blob/889e9df923a10207f2e9a931716615e739cdaca8/src/tests_cfg/cake.rs#L35-L48

Usage

https://github.com/SeaQL/sea-orm/blob/889e9df923a10207f2e9a931716615e739cdaca8/src/query/join.rs#L262-L274

It's very similar to Relation otherwise, but allows more than 2 joins and several relations between same types.

[2021-09-15 04:23] tyt2y3 commented on #152
I think it is `Send` and `Sync` already, but not `Clone` because yes the design is not for it to be cloned.

https://docs.rs/sea-orm/0.2.1/sea_orm/enum.DatabaseConnection.html#synthetic-implementations

[2021-09-15 05:04] tyt2y3 opened #159 "`EntityModel` to ignore a column"
with the attr `#[sea_orm(ignore)]`

[2021-09-15 06:52] tyt2y3 commented on #152
The PR changed the behavior to impl `Clone` only when `Mock` is not enabled.

[2021-09-15 07:02] tyt2y3 opened #160 "`LinkDef` with custom join condition"
Right now, `LinkDef` is simply an alias of `RelationDef`.
We can design a richer API for `LinkDef` that impl `From<RelationDef>`:

[code]

This will open more flexibilities. Unfortunately it is a breaking change, thus has to wait until `0.3.0`

[2021-09-15 07:05] tyt2y3 commented on #129
Works for you? @Acidic9

[2021-09-15 07:45] billy1624 opened #161 "Update `ActiveModelBehavior` API allowing custom validation logic"
Issue raised by @MuhannadAlrusayni, thank you so much for the suggestions!

[2021-09-15 08:24] billy1624 opened #162 "Improve `ActiveValue` API"
Issue raised by @Acidic9, thank you so much!!

[2021-09-15 08:25] billy1624 commented on #162
- I think we do have get_ref? But the return type is a bit different
https://github.com/SeaQL/sea-orm/blob/d85e66c7423b1844c1746af7ed441cad034cbd7a/src/entity/active_model.rs#L234-L241

- I guess we can take reference from the API of `std::option::Option<T>`. As `ActiveValue<V>` is essentially a stateful wrapper of `Option<T>`. Would this be a more natural way of using `ActiveValue<V>`?

[2021-09-15 08:26] Acidic9 commented on #129
Although it's not my prefered final API, it does work. Would be lovely if other people contribute their opinions too

[2021-09-15 08:26] billy1624 commented on #161
Basically each Entity should be able to perform their own validation logic defined inside the entity file. Rather than relaying on the user to perform the validation. However, SeaORM current didn't offer any way to perform validation in Entity level.

[2021-09-15 08:32] Acidic9 commented on #162
Thank you much for making this issue @billy1624 .

Regarding this:

Option has a lot of methods on it, how do we decide which ones to copy and implement on `ActiveValue`?
Just a select few which might seem "important" (eg `.unwrap()`, `.is_none()`, `.is_some()`, ...)? All of them?

Or we could implement none of them, and instead just implement the methods `get_ref() -> Option<&V>` and `into_inner(

[2021-09-15 08:38] tyt2y3 commented on #162
Some design thoughts, may be it's just be, but I always panic a bit when I saw `Option<Option<T>>`, reading it like "so it's an option of an option, where `None` is do nothing and `Some(None)` is set as null".

I think it is a good idea to have `as_ref` and `into_*` indeed.

[2021-09-15 09:04] nappa85 commented on #142
Just to inform you, I've found a lifetime problem with my transaction implementation.
When capturing references from outside you'll end up in an impossible lifetime.
I've added a test that replicates the situation and I'm trying to solve it.
I'll post a patch as soon as I find a solution

[2021-09-15 09:38] nicoulaj opened #163 "`find_linked()` generates invalid SQL for self referencing associations"
The implementation of `find_linked()` does not use aliases on join statements, so for self referencing many to many associations such as `TABLE -> RELATES_TO -> TABLE` the generated query is invalid. Other ORMs typically generate autoincremented aliases for each relation in this case.

[2021-09-15 09:43] tyt2y3 commented on #163
Thanks. Can you give a more concrete example on your entity and query?

[2021-09-15 09:48] nicoulaj commented on #148
Indeed, it looks like this is supported by postgres, sqlite and mariadb but not mysql... Maybe use a feature flag ?

I don't see how this is different from normal select ? `into_model()` returns a `Selector`, `Selector::all()` returns a `Vec`. But maybe I am missing something.

[2021-09-15 10:01] nicoulaj commented on #163
Example join table entity:
[code]

`Linked` impl:
[code]

Example queries:
[code]

[2021-09-15 11:46] tyt2y3 commented on #129
Close for now. To whom may stumble upon, feel free to leave a comment.

[2021-09-15 11:46] #129 closed

[2021-09-16 02:35] billy1624 commented on #159
That means the column will not exists in `Column` variant and it will also be ignored during CRUD actions? @tyt2y3

[2021-09-16 02:38] tyt2y3 commented on #159
Yes

[2021-09-16 10:10] MuhannadAlrusayni commented on #161
I also think there is a few missing methods:
[code]

here is another changes that we need to discuss further:
1) what if a `after_save()` failed with `Err(..)` ? should we roll back the changes made into the database ?
2) should we pass a database connection to these methods as well ? I can think of uses cases that needs to  check after/before (e.g. checking if email already exists) inserting an e

[2021-09-16 10:40] billy1624 commented on #161
Yes!

Agree

I think this is reasonable, handle insert / update in single `*_save` method and with an `is_insert` flag supplied to it.

[2021-09-16 11:01] billy1624 commented on #161
I think we should if we are executing this `save` in transaction.

Good suggestions!

[2021-09-17 03:36] tyt2y3 opened #170 "codegen `TimestampWithTimeZone` support"
Hello,

I have kind of the same problem but need orientation to solve that.

## First things first

1. My postgres table has a column called created_at with type "timestamp with time zone"
2. I use sea-orm-cli to generate entity (set DATABASE_URL environment variable then sea-orm-cli generate entity -o some_dir)
3. I notice that the columns generated have the NaiveDateTime type (I see pub created_

[2021-09-17 03:53] billy1624 commented on #170
Hey @marlon-sousa, thanks for the report!

What should be correct corresponding Rust type of Postgres`timestamp with time zone`?
- I guess it's `chrono::DateTime<Utc>` / `chrono::DateTime<Local>` and perhaps `chrono::DateTime<chrono::FixedOffset>`?
- References
   - https://docs.rs/sqlx/0.5.7/sqlx/postgres/types/index.html#chrono
   - https://docs.rs/sqlx/0.5.7/sqlx/struct.Postgres.html#impl-Decod

[2021-09-17 06:38] billy1624 opened #171 "Why `PrimaryKeyTrait::ValueType: Default` is needed?"
Originally posted on Discord by @MuhannadAlrusayni

[2021-09-17 06:40] billy1624 commented on #171
We use `PrimaryKeyTrait::ValueType: Default` in two places...

1. https://github.com/SeaQL/sea-orm/blob/8564512350d3d20bb5293c97e073a3b5e419ba5b/src/entity/active_model.rs#L78-L79

2. https://github.com/SeaQL/sea-orm/blob/8564512350d3d20bb5293c97e073a3b5e419ba5b/src/executor/insert.rs#L98-L101

[2021-09-17 07:22] #152 closed

[2021-09-17 08:05] MuhannadAlrusayni commented on #171
- **1st place**: hmm, this method implementation doesn't make much sense to me, if I understand it right, it does:
  - **1:** insert the `active_mdoel` that returns `last_insert_id`
  - **2:** check if `last_insert_id` not equal `IdType::default()`, if so
      - **A:** fetch the entity from database
      - **B:** convert it to active model and return
  - **3:** other wise
      - **A:** return `

[2021-09-17 09:20] #159 closed

[2021-09-17 13:09] marlon-sousa commented on #170
Hello,

I mapped this by hand in the generated entity and it worked.

I however have another question though: Other orm's map this kind of timestamp to ``` Chrono::DateTime<Utc> ``` instead of ``` chrono::DateTime<FixedOffset> ```

I have yet to analize what the difference is, but if you ave any insight about why we should use one ratter than the other this would be great.

[2021-09-17 13:56] MuhannadAlrusayni commented on #171
Wait, when I think about it, this method shouldn't return `self` at all, since after the inserting to the database `self` becomes outdated, maybe we should fetch the database every time we do insert ?

[2021-09-17 15:50] tyt2y3 commented on #153
`sea-orm-cli` `0.2.2` released

[2021-09-17 15:50] #153 closed

[2021-09-17 15:50] tyt2y3 commented on #138
`sea-orm-codegen` `0.2.2` released

[2021-09-17 15:50] #138 closed

[2021-09-17 15:51] #115 closed

[2021-09-17 15:59] tyt2y3 commented on #170
It should have been fixed in `0.2.2`.

`DateTime<Utc>` is a special case of `DateTime<FixedOffset>` where `offset` = 0.
The rationale is, timestamps should be in UTC.
In fact, there isn't a concept of `timestamp with timezone` in MySQL, so the more intuitive mapping is `timestamp` to `NaiveDateTime`, which implies that it is in UTC.

[2021-09-17 15:59] #170 closed

[2021-09-17 17:01] marlon-sousa commented on #170
Hello,

I performed a cargo install-update -a and sea-orm-cli were updated from 0.2.0 to 0.2.2

In fact, the generated entities are now using the correct DateWithTimezone, but something else is broken because the code no longer compiles.

I am letting you know because may be 0.2.1 broke compatibility and sea-orm isn't yet released so anyone trying to make this migration may get trouble.

Errors ar

[2021-09-17 17:52] tyt2y3 commented on #170
Sorry about that. We were in the process of a release. Please also update `sea-orm` to `0.2.2`, which is released literally 1 minute ago.
We pair the `sea-orm` with a corresponding `sea-orm-cli` version.

[2021-09-17 17:54] tyt2y3 commented on #163
Sorry for not able to make it into `0.2.2`. I am still confident we could fix this before `0.3`.

[2021-09-17 17:57] MuhannadAlrusayni opened #174 "Impl `TryGetableMany` for diffrent types of generices `(A, B, C)`"
Hi, I find that I cannot use the type `(i32, Uuid, i32)` as `PrimaryKeyTrait::ValueType`.

I think this is because `TryGetableMany` is only implemented for tuples with the same type (e.g. `(i32, i32, i32)`).

Solving this should be easy:
[code]

[2021-09-17 22:45] marlon-sousa commented on #170
Now it is working indeed as expected.

Feel free to close this issue.

[2021-09-18 03:06] tyt2y3 commented on #170
Thank you for your early support!

[2021-09-18 09:14] tyt2y3 commented on #171
The `Default::default` was intended to be used to represent an invalid state.
For integer, `default` is 0. For Uuid, the default value is all 0s bytes.
In the case where insertion succeeds but we we can't get back the last_insert_id, we'd return `default` to indicate that.

[2021-09-18 13:16] #155 closed

[2021-09-18 13:17] #111 closed

[2021-09-18 13:24] tyt2y3 commented on #138
I discovered a slightly strange behavior, is when there no relation, it will not derive `DeriveRelation` for the `Relation` enum.
[code]

[2021-09-18 17:10] Acidic9 commented on #171
Could last_insert_id be switched to an `Option` to replace check with default?

[2021-09-18 17:54] #174 closed

[2021-09-19 09:18] MuhannadAlrusayni commented on #171
I see, that's explain how I misunderstand that function :D, I think using `Default::default()` is not good way to express an invalid state/value, it also force the users of SeaORM to impl `Default` for our custom types (newtypes in case) in places where newtypes cannot have default value (e.g. `Email(String)`)

This also have the same issue, when user call `active_model.insert()` they would expect

[2021-09-19 20:25] Oodachi commented on #170
![image](https://user-images.githubusercontent.com/34698754/133941950-a7fc7230-4d5e-4b56-ade5-a2684c9965a8.png)

[2021-09-20 02:36] billy1624 commented on #170
Hey @Oodachi, thanks for the catch! This was fixed on #178.

[2021-09-20 07:52] tyt2y3 commented on #171
Yes, presumably.

[2021-09-20 10:26] MuhannadAlrusayni opened #180 "Support feteching `T`, `(T, U)`, `(T, U, P)`..etc where they impl `TryGetableMany`"
Hi, I think we need a way to fetch data from database without putting into a `Model`, instead we use tuple or single type, here is what's in my mind:
[code]

We can also extend this to `TryGetableMany` it self, that would allow us to write:
[code]

sounds cool?

[2021-09-20 10:35] MuhannadAlrusayni commented on #171
I think returning `Result` is the way to go. Another thing to mention is that if `Err(..)` occur we should roll back the insert right?

[2021-09-20 13:00] tyt2y3 commented on #180
Sounds cool!

However instead of `T`, perhaps we only allow `(T)` (a unit tuple), that'd be more consistent?

[2021-09-20 13:58] MuhannadAlrusayni commented on #180
That's valid, although currently `TryGetableMany` is implemented for `T` not `(T)`, I think we can do both too. Another reason that I would like to have it for `T` is this use case:
[code]

Yeah definitely, that's why I added `Selector<..>`, we have `one`, `all` and `paginate` :D

[2021-09-20 14:23] tyt2y3 commented on #180
Wow, this is one level better abstraction

[2021-09-20 15:32] billy1624 commented on #163
Would adding `alias: Option<String>` to `Relation` be a good idea?

[2021-09-20 15:37] tyt2y3 commented on #163
If you are talking `RelationDef`, then no, not a good idea.

[2021-09-20 17:09] nicoulaj commented on #163
If that helps, I use this trait to workaround the issue (also has some unrelated filtering logic, but you get the idea):

[code]

[2021-09-21 03:14] tyt2y3 opened #181 "Change the behavior of update() to return error when rows_affected is 0"
`update()` can be used with filters. One might, for example, update a record but only if some column of itself still has some value set.

example:

[code]

This is useful to handle idempotency problems: I want to update status but only if, in the meantime, it hasn't yet been updated by another oprocess or something similar.

In this situation (or if I provide an id which does not exist) I have to

[2021-09-21 06:16] nicoulaj commented on #181
Alternative API proposition: `ActiveValue` could optionally contain the previous value so that it looks like this:
[code]

[2021-09-21 07:24] Acidic9 commented on #181
This seems a little like too much sugar. I personally think it's much more understandable and dynamic if we keep it more simple with just `.filter` instead.

[2021-09-21 10:33] marlon-sousa commented on #181
Filter is intuitive enough that must part of people will just understand it out of the box, which should be the ultimate goal of any ORM anyways.

In my way of thinking the less api's you have supporting the most functionality you can the better it is, so that an update process needs:

1. Specify columns to be updated. (ActiveModel)
2. Specify conditions that will make this update request applicab

[2021-09-21 12:57] marlon-sousa opened #183 "Support returning clause to avoid database hits"
Hello,

I took a look at discussions and haven't found nothing, so I am opening this issue to discuss something important.

We need to  support returning clauses in updates and insert clauses.

## Rationale

Sometimes, we need to perform batch operations, by means of multiple inserts or updates which affect more than one record and, at the same time, have the newly inserted / the updated records b

[2021-09-21 13:12] billy1624 commented on #183
Sounds good to me! But note that only Postgres support `returning` syntax. We have to take account of that.

[2021-09-21 13:59] marlon-sousa commented on #183
To deal with that we have some options:

1. Enable the returning only when postgres is being used with features.
2.  For non postgresql databases, investigate a way of producing the same results either by using transactions where we can update and then select / insert and then select or issue more than one connection if we don't want to use transactions.

I would first implement strategy one and t

[2021-09-21 16:50] billy1624 commented on #183
Reasonable!! @marlon-sousa

[2021-09-22 06:33] baoyachi opened #185 "support add db column auto field :created_at,update_at？"
[code]

with db column
[code]

[2021-09-22 08:54] Acidic9 commented on #185
Can't this already be done by adding the two fields to your `Model`?
[code]

[2021-09-22 10:38] baoyachi commented on #185
with sea-orm auto generated,don not have to specify it manually every time you create it.

I expect it to be implicit, and if not, manually specify that the device is not required. E.g.

* auto generated field.(created_at, updated_at)
[code]

[2021-09-22 12:06] Acidic9 commented on #185
It personally feels like a little over the top for something you can just write with two lines of code. Sometimes obscuring stuff like this makes it difficult to read code later.

Imagine someone new to SeaORM comes to a project's code base and doesn't know what AutoField is.. it'd be very easy to miss.

[2021-09-22 14:24] callym opened #186 "Primary & foreign key referencing same column panics"
Hi, I've got the following SQL, which crashes the generator.
Commenting out the foreign key line, or changing the primary key to `PRIMARY KEY (a)` makes it work fine, but I'm not sure why, as I think what I'm doing is valid?

[code]

The error I get is:
[code]

Running v0.2.3

The example is maybe a bit unclear, my use case is trying to store plant information (family, genus, species, etc), where

[2021-09-22 16:55] baoyachi opened #187 "with 'ON CONFLICT DO UPDATE ' support?"
raw sql e.g:
[code]

[2021-09-22 17:29] tyt2y3 commented on #186
Hi there, it certainly is valid schema.
It is a bug within codegen. I suspect that if you move the primary key line before the foreign key line, it'd work indeed.

[2021-09-22 22:12] marlon-sousa opened #188 "Use returning on databases which support it on ActiveModel::Save method"
Hello,

By investigating the save() method behavior I see that if it decides it is doing an insert two database operations are performed:

* insert
*  select, based on the id of the just inserted record.

Although this seems to be the only way of doing that for databases which does not support returning clauses, this causes a huge performance loss for databases which do support it, because if retu

[2021-09-23 07:52] tyt2y3 commented on #188
Yes. I see that you have made other proposals too, and I'd go through them soon.

This one I think is affirmative, and I agree to use a returning clause where appropriate (now that latest SQLite has it too).

If you want to start working on a PR, I think this could be a good one.

[2021-09-23 12:19] cemoktra opened #191 "[sea-orm-cli] Unique key handling"
Even with verbose mode i'm not sure why this `sea-orm-cli generate entity`  fails:

[code]

I know that i had problems with this database also with diesel but the error and the verbose log are not very helpful in this case.

[2021-09-23 12:25] tyt2y3 commented on #191
https://github.com/SeaQL/sea-schema/blob/b5063a9fa3954c12a22b6a15716e73946b519213/src/mysql/query/constraint.rs#L34-L41

[code]

Which of this column is null in your `information_schema.key_column_usage`?

[2021-09-23 12:35] cemoktra commented on #191
[code]

[2021-09-23 12:49] cemoktra commented on #191
Seems like all of those are `UNIQUE_KEY`s

[2021-09-23 12:58] tyt2y3 commented on #191
Well, nice info.
I will see whether I can reproduce and fix that.
It will be helpful if you have a minimal schema .sql to share.

[2021-09-23 13:09] cemoktra commented on #191
Seems to be a grown problem of the existing database, i cannot reproduce it with a minimal sample at the moment

[2021-09-23 13:10] tyt2y3 commented on #191
Oh then may be the only thing we can do is to modify the query such that these columns will not be NULL.

[2021-09-23 13:12] cemoktra commented on #191
Ok i got it:
[code]

[2021-09-23 13:13] tyt2y3 commented on #191
Cool! That is really helpful.

[2021-09-23 13:51] marlon-sousa commented on #188
Hello,

I can work on that.

If you do not mind I will post questions here related to the general design before implementing.

## Features

I think we can assume that every time postgees is used as back-end returning shall be used.

As far as I know, one can not enable multiple back-ends on the same project, so that if postgres feature is activated then we will use returning.

But for mysql and sq

[2021-09-24 01:30] billy1624 commented on #186
This bug exists in MySQL? Given the MySQL style of sql statements.

[2021-09-24 03:59] tyt2y3 commented on #188
I think the first step would be extend the `Inserter` to support a returning clause.

Then, we can use this new feature to implement `ActiveModel::insert`.

We dont need a new feature flag, I think it will be similar to the mechanism, check the database backend and handle accordingly.

https://github.com/SeaQL/sea-orm/blob/6861802a6d9c6eabe554cb984a56d55dca7b2e62/src/executor/insert.rs#L89-L105

[2021-09-24 04:17] tyt2y3 commented on #171
I think we can eliminate this `Default::default` check after we restructure the logic to handle MySQL composite primary keys.

[2021-09-24 05:02] tyt2y3 commented on #191
The crash has been fixed, at least for the schema in question.
You can try installing the unreleased version of sea-orm-cli 0.2.4 by

[code]

There is still an inaccurancy (the `unique` annotation is missing), but hopefully it will not block your workflow for now )

[2021-09-24 06:35] cemoktra commented on #191
I will try it later and give feedback. Thanks

[2021-09-24 07:51] billy1624 commented on #191
Added on 360436c. For expanded format, it already annotated `.unique()`.

[2021-09-24 08:01] cemoktra commented on #191
Works as expected. Thanks

[2021-09-24 08:03] cemoktra opened #194 "Column name `type`"
Hey,

when generating code column named `type` should be renamed to `r#type`. Maybe check other rust keywords.

[2021-09-24 08:07] billy1624 commented on #194
Related to #76

[2021-09-24 09:59] tyt2y3 commented on #185
Thank you for your suggesting indeed.
I agree with Ari, that seemed to be 'too much magic'.
Besides, I don't think it is actually possible with a derive macro.
You cannot modify existing code with a derive macro, only generating new code blocks.

[2021-09-24 09:59] #185 closed

[2021-09-24 10:02] tyt2y3 commented on #186
What was the story here @billy1624
I see that it failed at unwrapping, which I think it means that we can avoid the panic by checking not none.
Is there another problem implied, given the title of the PR?

[2021-09-24 10:11] billy1624 commented on #186
It is not related to "primary & foreign key referencing same column cause panics". The bug is that I forgot to ensure the conjunct relation should compose of 2 `columns` & `ref_columns`. Fixed on commit 9e584d0

[2021-09-24 10:21] tyt2y3 commented on #47
To whom it may concern, if it is important to you, make a comment.

[2021-09-24 10:27] tyt2y3 commented on #85
We might consider Axum and Tide (both tokio) in the future.

[2021-09-24 10:27] #85 closed

[2021-09-24 10:29] tyt2y3 commented on #188
Is this a duplicate of #183 ?
If so, can we merge the two threads?

[2021-09-24 12:18] marlon-sousa commented on #188
I would say that this is a subset of #183. Being so, I think we can extend #183  scope to also include save() on it.

About the feature flag, I asked because, again, we know for sure that postgres supports returning. Other supported RDB' s also support it, but not all versions. So if I implement returning for mysql, for example, it will work if mysql above version 10 is used, but not otherwise. Sa

[2021-09-24 12:27] billy1624 commented on #188
I would prefer having returning support for Postgres out of the box (not feature gated) and having extra db hits for MySQL and SQLite. Then, we provide feature gated returning support for MySQL and SQLite for those who wants it.

[2021-09-24 12:38] marlon-sousa commented on #188
Seems good.

[2021-09-25 10:32] #186 closed

[2021-09-25 10:33] tyt2y3 commented on #186
The crash has been fixed.

You can try installing the unreleased version of `sea-orm-cli 0.2.4` by

[code]

[2021-09-26 08:41] tyt2y3 commented on #186
Released in `sea-orm-cli 0.2.4` on crates.io

[2021-09-26 08:45] tyt2y3 commented on #191
Released in `sea-orm-cli 0.2.4` on crates.io

[2021-09-26 08:45] #191 closed

[2021-09-26 18:45] Stumblinbear commented on #142
Is it possible to allow returning custom error types from the transaction function? There are cases where you'd want to know how and when a transaction failed

[2021-09-26 18:49] nappa85 commented on #142
My implementation allows you to return anything that impl Error, wrapper in an error Type that permits you to know if the error happened opening the transaction

[2021-09-26 18:51] Stumblinbear commented on #142
Yeah, just noticed that, haha

[2021-09-26 19:27] Stumblinbear commented on #142
I managed to work around the lifetime issue by cloning the Arc just before starting the transaction, so thankfully that's a non-issue for me. I do have an additional question, though. Is it possible to accept both a normal connection and a transaction connection in a single function?

[2021-09-26 19:28] nappa85 commented on #142
Yes, use a generic over trait ConnectionTrait

[2021-09-26 19:34] Stumblinbear commented on #142
Hm. Well, I guess my inexperience with Rust is the issue, here. Anyway, thanks for the tip. Seems like you thought of everything, already, haha

[2021-09-27 02:20] billy1624 opened #200 "Postgres URI scheme designator can be be either `postgresql://` or `postgres://`"
Extracted from https://www.postgresql.org/docs/current/libpq-connect.html

[2021-09-27 02:26] baoyachi commented on #200
May be need define const with DbType scheme in sea-orm.

[2021-09-27 04:56] billy1624 commented on #180
Hey @MuhannadAlrusayni, I was wondering whether you would be interested in implementing it?

[2021-09-27 06:31] tyt2y3 commented on #194
Continuing from #82

Annotations we need to add to `DeriveColumn`

[code]

And also `DeriveEntityModel`

[code]

[2021-09-27 07:58] weiznich opened #203 "Update the "Compare with Diesel" page to include some more facts"
I would like to request that the ["Compare with Diesel"](https://www.sea-ql.org/SeaORM/docs/internal-design/diesel) page includes some more facts and that some inaccuracies are clarified:

Diesel also allows third parties to implement custom backends, which means there is support for more database "available".  Public sources I'm aware of:
* [diesel-oci](Both SeaORM and Diesel works with MySQL, Po

[2021-09-27 08:04] weiznich opened #204 "Add SeaORM to the Diesel benchmark"
I would like to invent you to add sea-orm (and maybe also sea-ql) to the relational database connection crates benchmark suite located inside of the diesel repository. This would give potential users a good overview over the current state + you would also have a comparison with other crates for free.
Additionally to address your [worries from reddit](https://old.reddit.com/r/rust/comments/pvwoh4/i

[2021-09-27 08:14] tyt2y3 commented on #203
Hi there, welcome!

I know people would ask this frequently, so I tried to write one up as objectively as possible.
However, we are both biased to some degree I'd admit.
I guess I should invite some external author to rewrite this article later.

I will try to rework the statements without being too verbose.
As per for performance claims, I do agree that having benchmarks are important.
And I'd sa

[2021-09-27 08:17] baoyachi commented on #203
@weiznich
Hi:what are the plans for supporting asynchrony in diesel.

[2021-09-27 08:50] weiznich commented on #203
@tyt2y3 It's perfectly fine to be biased here. I do not find that this comparison is badly written or heavily biased. I would likely remove that claim about compilation times (at least as long as there are no hard numbers for this) and probably soften a few other formulations (like that one saying diesel is tied to native drives, which could just say that diesel uses the native drivers).

As for t

[2021-09-27 09:08] #200 closed

[2021-09-27 10:07] amoriarty opened #206 "Support for sql type DATE"
Hi,
I will be great to have the support of the sql type `DATE` in the library.
I imagine this one will be done with `chrono::NaiveDate` since it's the one that is used in the [documentation](https://www.sea-ql.org/SeaORM/docs/generate-entity/entity-structure#column-type).

To give my own example, I have a model `Rate` which have a simple date:

[code]

But this implementation give me a compile err

[2021-09-27 12:20] MuhannadAlrusayni commented on #180
Yeah sure, I was a bit busy last week.

في الاثنين، ٢٧ سبتمبر ٢٠٢١ ٧:٥٧ ص Billy Chan ***@***.***> كتب:

[2021-09-27 13:37] billy1624 commented on #180
Is okay! Thank you so much!!

[2021-09-27 14:55] tyt2y3 commented on #203
@weiznich I always have puzzles about the `allow_tables_to_appear_in_same_query` and `allow_columns_to_appear_in_same_group_by_clause` macros.

It's like you always forget it, compile error, stack overflow and add it again. Can I use that as a counter-argument?

[2021-09-27 15:17] weiznich commented on #203
`allow_tables_to_appear_in_same_query` is something you normally don't even have to border with, as this is generated by diesel cli as part of the schema definition. If you feel that this is nevertheless a huge problem in diesel API you can use that as argument, but at least for me that does not really sound like a good argument then. `allow_columns_to_appear_in_same_group_by_clause` is not yet pa

[2021-09-27 18:42] mikaelmello commented on #203
I started to port my (very small) CLI app that uses SQLite as the back-end and there seems to be a lack of a main feature in my opinion: SeaORM is not able to generate entities from SQLIte databases, I receive a message saying "database not supported" and upon reading the code, it looks like only MySQL and PGSQL are supported.

With that in mind, the above phrase was highly misleading for me.

I w

[2021-09-28 03:53] tyt2y3 commented on #203
Yes. The utility is not able to generate entities from a SQLite database dump.

The recommend way is to go 'Model First', where you write the entity file by hand (or port from somewhere), and then use the [create_table_from_entity](https://docs.rs/sea-orm/0.2.x/sea_orm/schema/struct.Schema.html#method.create_table_from_entity) method.

[2021-09-28 04:21] tyt2y3 commented on #203
@weiznich

Added clarification

Added clarification

Added clarification

Removed the statement. It was 'probably' as in 'probably the best beer in the world' anyway.

Removed the statement.

Finally, I'd say, performance was never a selling point. The point is the programming paradigm, which, probably, at the end, do not have a strict better or worse.

Please closes this issue if you are satisfie

[2021-09-28 05:19] #163 closed

[2021-09-28 10:43] weiznich commented on #203
Thanks for the update. I feel its much better now. :+1:

Let me use this issue to thank you for your work here. I'm really happy to see some alternative to diesel emerging that explores a different design. I believe its important for the ecosystem to have more than one solution available for such complex crates. Especially if those solutions implement different design patterns, as there is no such

[2021-09-28 10:43] #203 closed

[2021-09-28 12:36] 6xzo commented on #147
I have implemented something for this, and it turned out a bit different than I expected going into it. I wound up with new methods (and macros) `Condition::not_any() -> Self` and `Condition::not_all() -> Self`. I also added `Condition::not(mut self) -> Self`, which turns an `any` or `all` into the negative version. The implementation is simply a new boolean field in `Condition` and emission of `"

[2021-09-28 12:38] bastien-solutions commented on #151
+1

I just test `sea-orm-cli generate entity ` from my model (which work fine with Diesel.rs), and I obtain the following code for entities :

[code]

Clearly, `other_patient_ids` should be a `Option<Vec<String>>`.
Is it planned to support ?

[2021-09-28 15:09] DanielHZhang commented on #194
Would it be possible to also include a rename macro such as `#[sea_orm(casing = "camelCase")]` for `DeriveColumn` or `DeriveEntityModel`?

I know it's been discussed previously that SeaORM wants to avoid relying too much on macro magic, but I think it's a common pain point that database column names are in `PascalCase` or `camelCase` and currently there's no convenient way to remap them without wr

[2021-09-28 17:11] 6xzo commented on #147
In actually trying to use my approach to solve the problem that I described here (https://github.com/SeaQL/sea-query/discussions/143), I discovered that maybe I'm in over my head... The problem is, wrapping a complex condition into a new layer of `not_all` still does not emit the necessary parentheses...

[code]
prints
[code]
Using the commented out line instead of the line above it does emit pare

[2021-09-28 19:12] tyt2y3 commented on #147
Thank you for the effort. I think a 'not()' method is good enough.

And 'not_all()' is really only a shorthand for 'all().not()' right? There is no need to have an extra operator 'not_all'.

That would pretty much do it! I would appreciate to have a look over the PR.

[2021-09-28 20:20] fenhl commented on #153
Should I open a separate issue for my original problem?

[2021-09-29 00:34] Stumblinbear commented on #142
I've got a suggestion, if it's in scope for this change. Could there be support for running tests inside of a transaction that always rolls back once the function has completed? Perhaps a procedural macro? The current way to do this is to start a transaction in each test, and always return Rollback in an Err, but this is a bit awkward

[2021-09-29 02:29] duskmoon314 opened #212 "ActiveModel.insert return ActiveModel instead of InsertResult?"
Hi, I'm new to sea-orm and trying to build a RESTful rocket app.

In the doc, `insert` is used in this way:

[code]

I'm using sea-orm 0.2 and come across some problems

[code]

[code]

So I get an `ActiveModel` instead of `InsertResult` thus I can't get `last_insert_id`.

[2021-09-29 08:23] tyt2y3 commented on #147
Seemingly we can ship this in 0.2 after bumping SeaQuery

[2021-09-29 17:31] tyt2y3 commented on #212
The Entity::insert function is still there.

https://docs.rs/sea-orm/0.2.3/sea_orm/entity/prelude/trait.EntityTrait.html#method.insert

[2021-09-30 00:58] duskmoon314 commented on #212
@tyt2y3 Thanks!

[2021-09-30 00:58] #212 closed

[2021-09-30 05:14] efrain2007 opened #213 "Support for mysql type DATE"
use chrono::NaiveDate;
use sea_orm::entity::prelude::*;
use sea_orm::DeriveEntityModel;

#[derive(Debug, Clone, PartialEq, DeriveEntityModel)]
#[sea_orm(table_name = "currency_exchange_rate")]
pub struct Model {
    #[sea_orm(primary_key)]
    pub currency_exchange_rate_id: i64,
    pub from_currency: String,
    pub to_currency: String,
    pub rate_date: NaiveDate,
    pub rate: f64,
}

#[derive

[2021-09-30 06:02] billy1624 commented on #213
Hey @efrain2007, we are working on the support of `chrono::Date` on #207.

Duplicate of #206.

[2021-09-30 11:30] #194 closed

[2021-09-30 12:01] billy1624 commented on #194
Hey @DanielHZhang, good suggestion. It's possible to add this feature.

[2021-09-30 12:03] Acidic9 opened #216 "Add `#[automatically_derived]` to derive macros"
Each implementation generated by macros should be tagged with the attribute `#[automatically_derived]`.
Many other libraries including serde and sqlx do this. I'm not sure what tools currently use this, but it would be a minor improvement, but definitely not important at this stage.

https://doc.rust-lang.org/reference/attributes/derive.html#the-automatically_derived-attribute

As an example:
[cod

[2021-09-30 12:28] tyt2y3 commented on #216
Sure, I agree. A PR will be appreciated!

[2021-09-30 13:51] #180 closed

[2021-09-30 13:59] BeneCollyridam opened #217 "sea-orm-cli: Entity generation fails if column name is a reserved keyword"
Hello,

I am very excited by this project, and I think the work you're doing is amazing.

I encountered a problem, when I was trying to use `sea-orm-cli` to generate entities. I got an error as one of the columns in my database was named `type` which is a reserved keyword. `rustc` suggest fixing it by writing `r#type` instead in the generated code.

Keep up the great work!

[2021-09-30 14:03] tyt2y3 commented on #217
Hi there, welcome!

It has also been discussed in #82 .

Basically the preliminary work #209 has already been merged, and will be released soon (like this week).

But it'd take some time for us to fix the codegen indeed.

Thank you for your support!

[2021-09-30 14:52] #206 closed

[2021-09-30 14:52] #213 closed

[2021-09-30 15:17] baoyachi commented on #187
I'm try do it.

[2021-09-30 15:19] billy1624 commented on #187
Thanks for the help!!

[2021-09-30 15:20] tyt2y3 commented on #187
Thank you for the uptaking. Have been busy preparing 0.2, but I think first, we’d need to support this construct in SeaQuery.
________________________________
From: baoyachi. Aka Rust Hairy crabs ***@***.***>
Sent: Thursday, September 30, 2021 11:18:02 PM
To: SeaQL/sea-orm ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [SeaQL/sea-orm] with 'ON CONFLICT DO UPDATE ' support? (#187)

I'm try d

[2021-09-30 15:26] baoyachi commented on #187
@billy1624 @tyt2y3  please add this issue assignees to me

[2021-09-30 18:10] graysonhead opened #218 "Cannot define multiple columns within the same table that have the same relationship to another table"
Hey there, currently migrating one of my projects over from Diesel to take advantage of tokio and I'm running into a problem with one of my tables.

Here is the table in question:

(Irrelevant columns omitted for brevity)
[code]

The generated `attackers.rs` entity is generated as so:

[code]

This looks correct, but EsiTypes is defined twice in the enum which is of course not possible.

As expect

[2021-09-30 18:17] tyt2y3 commented on #162
@Acidic9 do you have any new thoughts on this matter?

[2021-09-30 18:31] tyt2y3 commented on #218
Hi there, welcome!

So it has only been briefly mentioned in docs.

Basically, it can't be done with `Related`, but only the `Linked` trait.

https://github.com/SeaQL/sea-orm/blob/a6dfb417e2bbb151b8f3432139dc3d1679d70b18/src/tests_cfg/entity_linked.rs#L1-L34

https://github.com/SeaQL/sea-orm/blob/a6dfb417e2bbb151b8f3432139dc3d1679d70b18/src/query/join.rs#L286-L301

See also #89.

Oh btw, is that a

[2021-09-30 23:37] Acidic9 commented on #162
Like I showed in my code snippet in the post by Billy, I think `take` can just return `self.value.take()`, and `into_value` can return `self.value.map(Into::into)`, allowing the caller to handle the option and unwrap if they desire.

[2021-10-01 03:51] tyt2y3 commented on #187
Oh. Seems like the facility is missing in SeaQuery

https://github.com/SeaQL/sea-query/blob/a4e12409bdf1f2ca9ba44659b8925f265980c149/src/query/insert.rs#L34-L39

And it's mostly a Postgres only thing

But what does the `WHERE id > 0` do in the example?

[2021-10-01 04:42] tyt2y3 commented on #188
Closed to consolidate with #183

[2021-10-01 04:42] #188 closed

[2021-10-01 04:44] tyt2y3 commented on #147
[0.2.4](https://github.com/SeaQL/sea-orm/releases/tag/0.2.4)

[2021-10-01 04:44] #147 closed

[2021-10-01 04:46] tyt2y3 commented on #213
[0.2.4](https://github.com/SeaQL/sea-orm/releases/tag/0.2.4)

[2021-10-01 04:48] tyt2y3 commented on #206
[0.2.4](https://github.com/SeaQL/sea-orm/releases/tag/0.2.4)

[2021-10-01 04:49] tyt2y3 commented on #217
[0.2.4](https://github.com/SeaQL/sea-orm/releases/tag/0.2.4)

[2021-10-03 07:15] joeky888 opened #220 "[Feature Request] Soft Delete"
### Use case

* Sometimes we can't always perform hard deletions in production.
* This is what most ORMs do

### The Ideal way

* Respect the `deleted_at` column (`pub deleted_at: Option<DateTimeWithTimeZone>`)
* All `deleted_at` checkings should run behind the scenes instead manually adding `AND deleted_at IS NULL`
* `deleted_at` columns should be indexed for performance reasons

## Delete

[code

[2021-10-03 09:32] tyt2y3 commented on #220
Thank you so much for the proposal. And welcome to the Rust community!

Rust libraries tend to be less opinionated or at least offer choices. I am keen to bring this feature into SeaORM.

I also wonder, what is your stance on this? Are you confident in implementing this? If so, we can work together to bring this into reality.

Some rough thoughts off my head, I think we can add an attribute to the

[2021-10-03 09:38] tyt2y3 commented on #142
The theme of [0.3](https://github.com/SeaQL/sea-orm/milestone/3) have been designated as "Transaction". This will be the focus of our effort in October.

[2021-10-03 10:43] joeky888 commented on #220
This must be done for ORMs in my opinion. Currently, there is no rust ORM supports soft delete.

Still learning rust, can't really answer this.

Like #185 , not only `deleted_at` , ORM should also respect `created_at` and `updated_at`. I am thinking something like this:

[code]

[2021-10-04 01:06] bestgopher opened #221 "[bug] There are some errors when column's name is a keyword in rust."
When I use `sea-orm-cli` to generate models, there are some errors when columns' name is a keyword in rust.

error:
`error: expected identifier, found keyword 'type'`

[2021-10-04 01:24] billy1624 commented on #221
Hey @bestgopher, welcome!

It was discussed on #217.

[2021-10-04 01:27] tyt2y3 commented on #221
Close as duplicate

[2021-10-04 01:28] #221 closed

[2021-10-04 01:30] tyt2y3 commented on #217
Example included in https://www.sea-ql.org/SeaORM/blog#rename-column-name--column-enum-variant

[2021-10-04 04:35] tyt2y3 commented on #218
Did that help?

[2021-10-04 20:43] graysonhead commented on #218
Sorry for the delayed reply, been a bit busy lately to work on side projects. It looks like exactly what I'm looking for, and I'll give it a shot once I get a chance to work on this (hopefully in the next few days.)

Its a PVP statistics tracking system for the MMO Eve online.

Thanks for the help!

[2021-10-05 02:45] Ka1wa commented on #220
I'd be willing to help out on this feature request. I haven't yelled fully dug into the code yet and would require some pointers probably.

[2021-10-05 03:24] billy1624 commented on #220
We can just implement soft delete for now and leave the created_at & updated_at for another PR.

Got a rough idea below on the implementation plan

1. Add `deleted_at` macro attribute.
[code]

2. Store whether soft delete is enabled and its column name in `ActiveModelTrait`. Define the extra metadata inside derive macro given that the `deleted_at` macro attribute is tagged on some fields on `Model

[2021-10-05 04:12] Ka1wa commented on #220
Agree on doing the pull requests seperately, I'll read up on the macros tonight and if I have anymore questions I will follow up!

[2021-10-05 04:51] tyt2y3 commented on #220
I think 1) would be the most difficult if not familiar with derive macro already.

Let us know if you need help on that. Feel free to reach us on Discord.

[2021-10-05 10:09] shi-rudo opened #225 "sea-orm-cli: does not recognize SQL Date on Postgres"
[code]
sea-orm-cli: 0.2.4

---

Creating a Postgres tables with:
Postgres sql:
[code]

Generating entities by **sea-orm-cli**
[code]

results in:
[code]

executing:

[code]

🚨 leads to:
[code]

As expected, manually replacing **String** with **Chrono:NaiveDate** fixes the error. But the CLI produces every time again String as type for SQL Date.

[2021-10-05 10:15] billy1624 commented on #225
Hey @shi-rudo, thanks for the feedback! Just found the faulty lines. I will create a PR fixing it ASAP.

https://github.com/SeaQL/sea-orm/blob/632290469b649d40b45760ff00f687a1467c5508/sea-orm-codegen/src/entity/column.rs#L30-L31

[2021-10-05 10:16] billy1624 commented on #225
Please change... for now

[code]

[2021-10-05 10:26] shi-rudo commented on #225
thanks for the fast response!

By the way, the same thing happens with SQL Time `pub opening_time: String` should be `Time` resp. `NaiveTime` Just a note in case you didn't notice this type in the next PR.

[2021-10-05 10:27] billy1624 commented on #225
Yes, I will fix both `NaiveDate` & `NaiveTime` mappings. Thanks!!

[2021-10-05 14:01] #181 closed

[2021-10-05 15:30] Ka1wa commented on #220
So I've been reading a bit and so far came up with this:
https://github.com/Ka1wa/sea-orm/commit/95c66e499d7d1b6de7189c6f2685c4217536f0af

Not sure about line 269~270 from `src/entity/column.rs`.

I figured the next logical step would be to work on the ActiveModelTrait, I checked out the `DeriveEntityModel` macro and ended up at `derive_active_model` -> `derives::expand_derive_active_model` which

[2021-10-05 20:41] Dlordos opened #227 "Inserting actual none value of Option<Date> results in panic"
I have already brought it up in the Discord channel, but would like to open an issue for further investigation.

When I try to insert a `Option<Date>`wit value `None` the inserting fails with panic.

DB: Postgres
Version. 0.2.4

[code]

[code]

[code]

[2021-10-06 10:26] #227 closed, assigned to billy1624

[2021-10-06 10:57] tyt2y3 commented on #227
[0.2.5](https://github.com/SeaQL/sea-orm/releases/tag/0.2.5)

[2021-10-06 13:25] #225 closed

[2021-10-07 08:35] #217 closed

[2021-10-08 07:18] billy1624 opened #229 "0.3.0 To Write Docs"
## Content

1. [ ] Transaction #142

[2021-10-08 15:26] bestgopher opened #230 "How to define a one-to-one relationship on a table."

[2021-10-08 15:37] billy1624 commented on #230
Okay, self referencing one-to-one relation

[2021-10-08 15:46] #230 closed

[2021-10-09 01:30] iot-resister opened #232 "Tokio Basic example not inserting id"
Hello,

Great project!

I'm trying to follow the basic tokio example and I'm getting `null` for the id

`main.rs`
[code]

`cake.rs`
[code]

[2021-10-09 01:37] tyt2y3 commented on #232
Please try following other examples as they are more elaborate.

[2021-10-09 07:22] tyt2y3 commented on #232
Moved examples so that they are less confusing

[2021-10-09 07:22] #232 closed

[2021-10-09 10:44] bestgopher opened #233 "error: cannot find attribute `sea_orm` in this scope"
[code]

[2021-10-09 12:27] billy1624 commented on #233
Did you include `use sea_orm::entity::prelude::*;` in it?

[2021-10-09 12:35] billy1624 commented on #233
Oh, the expended entity format cannot mixed with macro attributes that are available in compact entity format.

[code]

[2021-10-09 12:36] tyt2y3 commented on #233
Welcome to use the discussion section if you need help on programming.

[2021-10-09 12:39] billy1624 commented on #233
See

- compact format demo: https://github.com/SeaQL/sea-orm/blob/master/src/tests_cfg/cake.rs
- expanded format demo: https://github.com/SeaQL/sea-orm/blob/master/src/tests_cfg/cake_expanded.rs

[2021-10-10 21:02] elbart opened #235 "(Solved)Cyclic dependency issue with ahash crate - maybe worthwhile to document."
Dear Sea ORM creators / maintainers,

first of all, thanks a lot for all the effort you seem to spend on this nice peace of software. I was just skimming around to look for a ORM to try for a new project I am trying to build. While knowing diesel (no it's not async, so it's not really interesting to me anymore) and also trying rbatis, Sea ORM looks the most promising to be honest. I have been work

[2021-10-10 21:10] baoyachi commented on #235
it's caused by this issue:[https://github.com/tkaitchuck/aHash/issues/95](https://github.com/tkaitchuck/aHash/issues/95).
Using indexmap = "~1.6.2" works as a workaround.

[2021-10-10 21:18] elbart commented on #235
@baoyachi thanks for the quick reply! I never claimed that sea orm can solve the issue, sorry if that somehow sounded like that (which is why I put solved in the ticket title). I just wanted to point out that this happened to mem while adding sea orm to the project and never happend before with any other crate I added. Therefore i thought it might be good to document this here, too, just someone e

[2021-10-10 21:18] #235 closed

[2021-10-10 22:51] elbart opened #236 "[Feature Request] CLI / Entity generator: Optionally derive `serde::{Serialize/Deserialize}`"
Dear SeaORM team,

another question / request from my side.

I just generated Sea ORM entities from my existing database structure using the `sea-orm-cli` tool. This worked like a charm. however it does not have an option to also add the the derive attributes for `serde::{Serialize,Deserialize}` traits. I know there is JSON support using `into_json()` however a `serde_json::Value` is nothing to ha

[2021-10-11 02:54] tyt2y3 opened #239 "[sea-orm-cli] Better handling of relation generations"
It has been reported that the codegen can generate non-compilable code when dealing with relations.

As the first step, we can simply skip generating the relations if:

1) the related entity is self::Entity (https://github.com/SeaQL/sea-orm/discussions/231#discussioncomment-1449066)
2) there exist multiple relations to the same related Entity (#218)

Later, we can also try to generate Links inplac

[2021-10-12 14:12] billy1624 opened #242 "Join with table alias"
[code]

There is a problem here is that the names of the two tables in SQL are `metadata`。How to use `AS` to defind the alias.

_Originally posted by @bestgopher in https://github.com/SeaQL/sea-orm/discussions/231#discussioncomment-1452668_

[2021-10-13 09:47] #161 closed

[2021-10-13 20:56] GrandChaman opened #244 "[BUG][SQLITE] Failed to find inserted item"
Hello!

Thank you for the great library!

I've run into a small problem. It seems there is a problem when inserting new data into a `Sqlite` database, in a table which primary key is a string.

I've tried using `WITHOUT ROWID` in the table definition, but no luck.

From a debug statement I added in a local version of `sea-orm`, it seems the "last inserted id" is defaulting to either `"0"` or `"1"`

[2021-10-14 06:28] GrandChaman commented on #244
I'll try `Entity::insert()` a bit later. However, this issue is not fixed by master AFAIK

[2021-10-14 10:43] #236 closed

[2021-10-15 06:45] #244 closed, assigned to billy1624

[2021-10-15 13:25] #216 closed

[2021-10-15 14:37] tqwewe opened #249 "SeaORM doesn't compile when "macros" flag is not set"
SeaORM fails to compile when the "macros" flag is not set due to it being used in places such as `tests_cfg` and possibly other modules.

[2021-10-16 07:17] GrandChaman opened #250 "Bundle migrations"
Hello!

Is there a way to bundle the migrations file and to apply them when first connecting to the database ?

In the same fashion that `sqlx` does it.

[2021-10-16 07:26] tyt2y3 commented on #142
[0.3.0](https://github.com/SeaQL/sea-orm/releases/tag/0.3.0)

[2021-10-16 07:26] #142 closed

[2021-10-16 07:30] tyt2y3 commented on #160
Close with lack of interest

[2021-10-16 09:27] tyt2y3 opened #252 "Enumeration"
This issue is to outline the design of how to allow custom Enums to be used in SeaORM Entity.

It will be supported in 3 steps:

- [x] Rust enum support (but serialize to string or integer)
- [x] Mapping to a database native enum
- [ ] Schema discovery & code generation

A proposed trait `ActiveEnum` (or `DbEnum` or `OrmEnum` etc) would be:

[code]

A sample model would be like:

[code]

Such a tr

[2021-10-16 15:33] tyt2y3 commented on #204
I think a part of it is unavoidable: the dynamic query building stage. But then, there should be a lot of room to improve, like using smallvec, and refactor internally to reduce memory reallocation etc.

Okay, sorry for not made myself clear. We can have an actix web server, connecting to a database, doing some CRUD operations. The only variable will be the database driver, and then we will be abl

[2021-10-17 01:33] Acidic9 commented on #220
I like the idea of adding it to `ActiveModelTrait`. But I'm thinking if there's a way to make this more generic rather than just for `deleted_at`.

I'm not sure if it's possible, but perhaps `ActiveModelTrait` could have a function instead like:
[code]
So it could be added with:
[code]
And SeaORM could export a helper function: `fn soft_delete<C: ColumnTrait>(col: C, &mut query)`:
[code]

[2021-10-17 02:15] AngelOnFira commented on #239
Hey, this doesn't look like too hard of an issue, can I take it? Also, is this repo participating in Hacktoberfest (or rather, would you be willing to add the `hacktoberfest-accepted` tag once I get to the PR stage?)

[2021-10-18 04:04] tqwewe opened #254 "Rename sea-orm-cli binary to sea-orm"
The package `sea-orm-cli` can keep the same name under "package", but can be renamed to `sea-orm` in `[[bin]]`:
[code]

This will change the built executable to be just called `sea-orm`, so commands can be ran with:
[code]

If this is not desired, feel free to close the issue :)

[2021-10-19 04:25] #250 closed

[2021-10-19 05:28] AngelOnFira commented on #239
Ya, if I can be assigned this it would be good :smile: I just got caught up in the other PR I was working on 😛

[2021-10-20 03:07] tyt2y3 opened #259 "Insert one and update one should also trigger ActiveModelBehavior"
We might need to refactor the logic for before/after save

[2021-10-20 08:38] #242 closed, assigned to billy1624

[2021-10-20 08:59] tyt2y3 opened #260 "0.4.x Docs"
## Advanced Relations
- [x] Entity related to itself
- [x] multiple relations to the same related Entity

## Issues / PRs
- [x] #273
- [x] #252 & #324
- [x] #290
- [x] #292
- [x] #297
- [x] #306 & #307
- [x] #309
- [x] #318

[2021-10-20 09:41] #249 closed, assigned to nobody

[2021-10-20 13:28] nappa85 opened #262 "Different case-trasform systems used results in different naming"
If you name a field in a Model with a number but not followed  by an underscore, e.g.  `md5sum`, some macro will trasform it into Md5sum and some other Md5Sum, haven't had time to look deeply into it but probably the difference is in my `DeriveEntityModel` macro that uses `convert_case` crate, while other macros uses other systems.

This obviously causes an error like
[code]

[2021-10-20 13:38] tyt2y3 commented on #262
https://github.com/SeaQL/sea-orm/blob/864ec522b81c5bac3c0a2ce24bf67a16dd9fa01b/sea-orm-macros/src/derives/entity_model.rs#L64-L67

[2021-10-22 20:35] Trivernis opened #267 "Bug: Filtering by ColumnTrait.eq(None) does not filter by NULL"
## Summary

When using the expression `mytable::Column::MyColumn.eq(None)` the resulting sql statement is `...column = ?`. This expression filters by value and therefore does not filter for `NULL` since `NULL` is not a value in the sql syntax.

## Expected Result

The resulting query should filter by `IS NULL` instead. This type of expression can currently only be constructed when using the sea_qu

[2021-10-23 06:52] #267 closed, assigned to nobody

[2021-10-23 15:32] tyt2y3 opened #269 "Examples & Tutorials wanted"
SeaORM aims to play well with other crates in the async ecosystem.

We now have an array of integration examples. But if you used SeaORM with a framework / library not already on our list, we'd appreciate you to submit an example project. Also, upgrading these examples to the latest dependencies is a regular maintenance work, and we'd also appreciate some help from time-to-time.

If you have made

[2021-10-23 18:38] fenhl opened #270 "Option unwrap in CLI"
Making a new issue since #153 got repurposed. With the `--verbose` flag introduced there, this is the output I'm getting:

[code]

[2021-10-24 03:24] juzi5201314 opened #271 "Schema::create_table_from_entity caused stack overflow"
Model:
[code]
code:
[code]
error:
[code]

rustc:
`rustc 1.58.0-nightly (514b38779 2021-10-22)`

sea-orm:
`v0.3.1`

[2021-10-24 03:41] #271 closed, assigned to nobody

[2021-10-24 04:30] efrain2007 opened #272 "because when he updated a field he moved the row to the last one"
![image](https://user-images.githubusercontent.com/65697999/138580850-3e46fe07-64ea-4473-a621-71050232beb2.png)

[2021-10-28 08:24] edg-l opened #275 "Distinct support?"
I saw sea-query supports it, but It doesn't seem like it's supported yet in sea-orm.

[2021-10-28 13:52] elbart opened #277 "Relation / Many To Many question"
Hi all,

I am having a quite hard time to actually get a many to many relation selected and at least based on my limited experience the query you provide as an example in your docs also looks wrongish. I'd be happy if you have any guidance for me.

My project does not have Cakes and Fillings, but Recipes and Ingredients. The Join Table in between is called recipe_ingredient. Apart from this - same

[2021-10-28 15:54] #277 closed, assigned to billy1624

[2021-10-29 06:06] robot-head opened #279 "HashMap support for ` sea_orm::Value`, for Postgres hstore extension"
I have code where I need to supply a HashMap<String, String> to a query as a parameter using the postgres hstore extension.

Do you think this could be added as an optional feature a-la chrono?

[2021-10-30 14:33] Stefan99353 opened #281 "Create SQLite database file"
SQLx does have the option to create the database file if it does not exist.
Diesel automatically creates the file by default.

I haven't found any way to do this using sea-orm.

[2021-10-30 14:48] billy1624 commented on #281
Hey @Stefan99353, you can do it via [from_sqlx_sqlite_pool](https://docs.rs/sea-orm/0.3.1/sea_orm/struct.SqlxSqliteConnector.html#method.from_sqlx_sqlite_pool). Basically you create a ordinary SQLx SQLIte connection then convert it into `sea_orm::DatabaseConnection`.

[2021-10-30 15:33] Stefan99353 commented on #281
Thanks, that works.
Is there a way to do it in a way to be database agnostic?

[2021-10-30 18:22] efrain2007 commented on #272
If I register 10 rows of a table and I update the item in row 5, what it does is update the row and remove it to the last row, that is, if before row 5 was in 5, now it is in 10 because that happens ?

[2021-10-30 20:16] insanebaba opened #282 "Add postbus types support and allow custom types"
Hi team,
I want to use postbus types, but I'm not sure how to do it.

I can use genotypes crate but it's not allowed in entity,

Can you please support geotypes and also allow to add custom types?

[2021-10-31 01:45] aaronleopold commented on #281
One thing I've been doing is just appending the appropriate permission flags to the end of the path to the database file in the `Database::connect` call. Since it uses sqlx internally i figured it would work and it seems to have done the trick. For example:

[code]

Just make sure the path to wherever you are creating the file exists beforehand (or create it using `std::fs`)

[2021-10-31 06:51] tyt2y3 commented on #281
Thank you @aaronleopold for helping out!

[2021-10-31 06:57] #281 closed

[2021-10-31 15:11] AngelOnFira opened #284 "Cli generate entity select multiple tables"
Currently, if I want to select multiple tables from the database using `sea-orm-cli`, I have to do something like this:

[code]

It would be nice if I could instead clean it up somehow. Here is something that might look better.

[code]

[2021-10-31 17:13] tyt2y3 commented on #272
I think this behaviour has nothing to do with ORM.
It's just that database would return rows in pseudorandom order, if there isn't a primary key in place.

[2021-10-31 17:13] #272 closed

[2021-11-01 04:28] billy1624 commented on #284
Hi @AngelOnFira, that make sense to me!

P.S. https://docs.rs/clap/2.33.3/clap/struct.Arg.html#method.multiple

[2021-11-02 04:07] robot-head commented on #279
I'm gonna close this as I decided to use JSONB instead as it has similar performance.

[2021-11-02 04:07] #279 closed

[2021-11-02 04:09] robot-head opened #286 "Support for BYTEA Postgres primary keys"
Currently any column marked as a primary key needs to satisfy `TryFromU64`.

A BYTEA (`Vec<u8>`) does not satisfy this (and, I don't think ever could).

Would it be possible to add support for this type of primary key?  We use it a lot in our application

[2021-11-02 06:12] tyt2y3 commented on #286
`TryFromU64` can definitely return `Err` in that case. That's how `UUID` primary key is supported.
We can do something to support `Vec<u8>` explicitly, but it should be working already.

https://github.com/SeaQL/sea-orm/blob/57c255387f62884915311a7f3a8995c2c209b58e/tests/common/features/metadata.rs#L5-L15

[2021-11-02 06:33] robot-head commented on #286
Seeing this
![image](https://user-images.githubusercontent.com/877644/139797408-64cf6a3d-8c51-4c46-98c8-a05b56466380.png)

With this example model:

[code]

[2021-11-02 06:35] billy1624 commented on #286
The errors are expected. I will create a PR now to make it work! Stay tuned

[2021-11-02 06:43] robot-head commented on #286
Thank you so much!

Loving this crate so far btw, refactoring our large codebase to make it *finally* unit testable.

Thanks for the quick help

[2021-11-02 06:50] billy1624 commented on #286
Thanks for the support! Do recommend `sea-orm` to your friends loll :P

[2021-11-02 08:06] billy1624 commented on #286
Hey @robot-head, please try #287.

Simply...

[code]

P.S. For now, it works on Postgres but not MySQL and MariaDB

[2021-11-02 09:40] tyt2y3 commented on #286
Cool, we definitely would like to know a bit more about your scenario!

[2021-11-02 10:16] edg-l opened #289 "Why insert, update, etc return a ActiveModel instead of Model?"
I find it curious, since you can easily go from a model to a activemodel, but not backwards (from what i've seen), and most of the time after a insert i want the Model which i can return from my api.

I've seen the impl of the insert model and it in fact does a query to find the inserted model and then it converts it to a activemodel, I think we should let the end user decide whether to convert it

[2021-11-02 11:02] tyt2y3 commented on #289
You have made a good point! I agree that the conversion could seem unnecessary.

For now, the returned object of 'update' is the input ActiveModel.

So may be it makes sense that the return type of 'model.insert()' is Self.

And they also trigger the ActiveModelBehavior

Do you have new thoughts on it?

[2021-11-02 16:32] #286 closed

[2021-11-02 18:05] tyt2y3 commented on #286
[0.3.x](https://github.com/SeaQL/sea-orm/releases/tag/0.3.2)

[2021-11-02 21:56] Vandell63 commented on #289
+1 here. So finally we have to make a double `select` query to get back the last inserted user as Model finally right ?

[2021-11-04 12:47] YoshieraHuang opened #290 "Disable query output"
Hi guys, could you tell me how to disable SQL logging to the console, which like:
[code]
Thank you!

[2021-11-04 12:52] AngelOnFira commented on #290
It depends on your logger, but this is how I do it:
[code]

(I'm using the log crate with env_logger)

[2021-11-04 12:54] tyt2y3 commented on #290
https://docs.rs/sea-orm/0.3.2/src/sea_orm/database/mod.rs.html#40

Apparently I forgot to expose a public method for it.

[2021-11-04 15:44] #290 closed

[2021-11-05 04:24] billy1624 commented on #183
Just to summarise the support of `RETURNING` syntax across various databases...

**Postgres**
- All versions

**MySQL**
- Not supported

**MariaDB**
- Supported since version [10.5.0](https://mariadb.com/kb/en/mariadb-1050-release-notes/)
- Have [`INSERT...RETURNING`](https://mariadb.com/kb/en/insertreturning/)
- Have [`REPLACE...RETURNING`](https://mariadb.com/kb/en/replacereturning/) but doesn't

[2021-11-05 22:05] robot-head opened #293 "Impl Clone on DatabaseConnection"
I saw in https://github.com/SeaQL/sea-orm/issues/152 that `DatabaseConnection` was not marked `Clone` if mocks are enabled, but I see now that the Mock connection variant is behind an `Arc`.

Is there any reason not to make `DatbaseConnection` `Clone`?  We've stuffed it into an `Arc` in our application code, but my code reviewers are questioning why the `Arc` is necessary.

[2021-11-06 01:11] tyt2y3 commented on #293
Yes he is right. Do not stuff an Arc in your app code.

Add a feature in your Cargo, and only enable Mock while in testing.

The reason behind that is Mock has a mock output buffer and a transaction log, where it will be hard to reason it's behaviour when being cloned.

[2021-11-06 02:45] exzachlyvv opened #295 "orm-cli generated incorrect type for #[sea_orm(primary_key)]. Should be u64. Was i64."
It appears that orm-cli failed to handle unsigned type as a primary key when generating models.

This later resulted in a:

[code]

[2021-11-06 08:13] YoshieraHuang opened #296 "scripts generated by `sea-orm-cli` cannot pass clippy"
This is typical script generated by `sea-orm-cli` without existing relation:
[code]

When I run `cargo cilppy`, there is a warning:
[code]
Could someone fix it?

[2021-11-06 08:14] billy1624 commented on #296
Hi @YoshieraHuang, thanks for pointing that out! We could fix it for sure.

[2021-11-06 08:15] tyt2y3 commented on #296
Hi, it seems that you are not using `DeriveRelation`, it shouldn't warn when it is expanded inside the derive macro.

[2021-11-06 08:20] billy1624 commented on #296
Yes!

[2021-11-06 08:22] tyt2y3 commented on #296
Oh, the following shouldn't warn:

[code]

[2021-11-06 08:25] billy1624 commented on #296
Correct, but the point is codegen with `expanded` flag will generate the following...

[code]

I will fix it!

[2021-11-06 09:39] YoshieraHuang commented on #269
I write an `axum` version of `actix_example` at PR #297 .

[2021-11-06 13:43] billy1624 commented on #269
Hi @YoshieraHuang, thank you so much for the huge PR!!

[2021-11-07 07:10] robot-head commented on #293
Thanks!

I might send ya a PR on the testing docs to help others that come across this

[2021-11-07 07:12] #293 closed

[2021-11-07 09:07] lberezy opened #300 "Efficient Pagination"
It would be fantastic if SeaORM could support pagination in an efficient manner, namely by using a combination of `first`/`after` or `last`/`before` count/cursor combinations.

I see that the current implementation uses `OFFSET` and `LIMIT` to do pagination, which will work just fine for small tables, but quickly becomes an issue as the size of the table grows. Imagine that an `OFFSET` grows very

[2021-11-07 09:25] tyt2y3 commented on #300
Thank you for raising this. Yes this knowledge is helpful.

But there isn't too many things SeaORM need to do to support cursor based pagination, you can:

[code]

[2021-11-07 09:58] lberezy commented on #300
Thanks for that and do agree that it's mostly simple.

Just a question about that example, doesn't `finder.query().limit(10);` require the use of `sea_query` directly? It would be very handy to have this sort of thing exposed to be used solely within SeaORM.

[2021-11-07 10:37] tyt2y3 commented on #300
Yes, you are right. It kinda broke the fluent interface.

Anyway, I think adding `first` and `last` methods would be nice.

[2021-11-07 11:00] bestgopher opened #301 "ON CONFLICT"
How to use ON CONFLICT stmt when insert?
`insert into xxx on conflict xxx`

[2021-11-07 13:58] billy1624 commented on #301
Related #187

[2021-11-07 23:59] PoOnesNerfect commented on #293
It seems like [DatabaseConnection::MockDatabaseConnection](https://github.com/SeaQL/sea-orm/blob/master/src/database/db_connection.rs#L30) has inner mock connection struct in an `Arc`, making it cloneable.
It seems strange that all variants of this `DatabaseConnection` derives `Clone` including `Arc<MockDatabaseConnection>`, but the wrapper enum itself does not implement `Clone` when mock feature

[2021-11-08 01:57] YoshieraHuang opened #302 "Select only part of fields"
Hi guys, can `sea-orm` select only part of  fields in `Model` rather than the whole `Model`?

[2021-11-08 03:36] billy1624 commented on #302
Hi @YoshieraHuang, yes you can!

[code]

And, you can derive `FromQueryResult` if want to select partial fields into custom struct.

https://github.com/SeaQL/sea-orm/blob/6a0db92c8b194e3bccaaa2f7a8fe136b96b0e088/tests/relational_tests.rs#L663-L689

[2021-11-08 03:42] YoshieraHuang commented on #302
Uhh @billy1624 , I find this at `Advanced Queries/Custom Select` in docs later. Thank you for your kind reply.

[2021-11-08 03:42] #302 closed

[2021-11-08 03:47] billy1624 commented on #295
Hi @exzachlyvv, are you using MySQL?

[2021-11-08 03:52] exzachlyvv commented on #295
Yep, MySQL

[2021-11-08 03:53] billy1624 commented on #295
Currently, we did not capture `UNSIGNED` flag inside `sea-schema` hence `sea-orm-codegen` fail to annotate the column as `u64`.

I guess unsigned integer type is not included in `sea-query` because not all database drivers support it? @tyt2y3
https://github.com/SeaQL/sea-query/blob/e05a85196fdba9b838b4fb5b62970c783d9c604d/src/table/column.rs#L12-L39

[2021-11-08 05:18] tyt2y3 commented on #295
Yes, you are right. I checked, SeaSchema does parsed the unsigned flag.

[code]

But yeah we have to add it to SeaQuery first before it could be supported. The implication is though, it will not be portable as Postgres does not support unsigned apparently.

[2021-11-08 05:35] #296 closed

[2021-11-08 07:53] #252 closed

[2021-11-09 10:58] YoshieraHuang opened #305 "Add `skip_serializing_if` when codegen"
`#[serde(skip_serialzing_if = "Option::is_none")]` is a very useful annotation used to skip serializing fields which values are `none`. How about considering to automatically add this annotation to fields with type `Option` in the `Model` when codegen?

[2021-11-09 11:46] billy1624 commented on #305
We could, but this has to be opt-in.

[2021-11-09 11:46] billy1624 commented on #305
Wonder what's your use case? Web API?

[2021-11-09 11:51] YoshieraHuang commented on #305
Opt-in is fine.

[2021-11-09 11:51] YoshieraHuang commented on #305
Yes, I build my web api with sea-orm and axum.

[2021-11-09 11:54] billy1624 commented on #305
Do you want to implement it? I can guide you lolll

[2021-11-09 12:03] YoshieraHuang commented on #305
Ok, I will try to implement it.

[2021-11-10 17:44] Tuetuopay commented on #160
@tyt2y3 you should reopen this, as there is currently no way to specify an `ON` clause when joining tables, which is mandatory for some usecases (some are impossible to do with a `WHERE` clause).

[2021-11-10 18:19] tyt2y3 commented on #160
I would appreciate if you can suggest some test entities )

[2021-11-11 04:11] tyt2y3 commented on #301
Duplicate issue, let's continue on 187

[2021-11-11 04:11] #301 closed

[2021-11-11 06:23] SKTT1Ryze opened #308 "Some Questions about comparing with Diesel"
Hi : ).
I'm writing Rust code in a company, and our Rust project is using **diesel** as ORM framework.
It seems that you are writing another ORM using Rust -- **SeaOrm**, that's amazing!
Due to many problems on diesel, I consider replacing it with SeaOrm. So I come to you to ask some questions:
+ SeaOrm supports async, does this feature makes SeaOrm faster than diesel?
+ diesel brings too many bin

[2021-11-11 08:12] yamowner opened #310 "maybe should return a error detail for connection failure"
I am a beginner, when i use sea-orm with mysql, The first problem I encountered was the connection problem, it only told me: "Connection Error: Failed to connect". I am very confused. em.. maybe we can return error detail for fix code.
[code]

[2021-11-11 08:15] billy1624 commented on #310
Hey @yamowner, welcome!! Can you show me how you setup the connection? Remember to mask the credentials in connection string.

[2021-11-11 08:16] billy1624 commented on #310
It should be something like...

[code]

[2021-11-11 08:19] yamowner commented on #310
@billy1624  yes, i did like this:
[code]
then, it print "Connection Error: Failed to connect.", this mistake confused me。

[2021-11-11 08:20] yamowner commented on #310
my Cargo.toml like this:
[code]

[2021-11-11 08:37] billy1624 commented on #310
Hmmmm... this is weird

[2021-11-11 08:45] billy1624 commented on #310
I can't reproduce the error in #311

[2021-11-11 09:01] billy1624 commented on #310
Hey @yamowner, can you try #312? And see what error thrown out of SQLx

[code]

[2021-11-11 09:01] xiayulu opened #313 "Can sea orm generate database migrations from entity?"
Hello, I am using sea orm building an app.

I find it hard to write migrations with SQL by myself.

Can sea orm generate database migrations from entity? That will simplify rust web development a lot.

[2021-11-11 09:03] yamowner commented on #310
@billy1624 I found answer in this sqlx issue[#846](https://github.com/launchbadge/sqlx/issues/846), it looks like to be rustls lack support of ipaddress

[2021-11-11 09:04] billy1624 commented on #310
Oh, interesting issue

[2021-11-11 09:04] tyt2y3 commented on #313
In short, yes. Checkout the Rocket example.

[2021-11-11 09:05] yamowner commented on #310
i edit my /etc/hosts, and change my connect string, then it works~

[2021-11-11 09:05] billy1624 commented on #310
Crazy... then you have to convert your address to IPv6 and quote it loll

[2021-11-11 09:06] billy1624 commented on #310
Anyways, we will improve the error messages #312

[2021-11-11 09:08] yamowner commented on #310
Thank you for your kind help!!

[2021-11-11 09:10] billy1624 commented on #310
Welcome!

[2021-11-11 09:10] #310 closed

[2021-11-11 09:42] #313 closed

[2021-11-11 10:44] billy1624 commented on #282
Hey @insanebaba, sorry for the late reply. It's currently not supported. Seems that it's not supported in SQLx at this stage too.
- launchbadge/sqlx/issues/166

[2021-11-12 08:53] billy1624 commented on #308
CC @weiznich

[2021-11-12 11:12] weiznich commented on #308
@billy1624 Thanks for the ping :heart:

As a diesel maintainer I'm always interested in reports on potential problems. May I ask you to open a discussion thread in diesels github repository for this?

Let me provide some answers to some of the questions out of my perspective as diesel maintainer:

Generally speaking there is no inherent reason why an async or sync API should be slower or faster th

[2021-11-13 14:25] markusgod opened #315 "Barrel integration"
Hey  just a shower though. It would be really great to support Barrel https://git.irde.st/spacekookie/barrel for schema generation and Refinery https://github.com/rust-db/refinery for migrations.
That way it will be possible to handle migrations completely from rust code, that can be handy for redistributable apps.
As per integration I mean generating entities and their relations from barrel/refin

[2021-11-13 14:55] #315 closed

[2021-11-14 18:17] tyt2y3 commented on #308
For the first two questions, it has to be measured against your particular application.

Some general comments: SeaORM builds query at runtime. This does come at a cost, but for an IO bound workload, the overhead should not bother you too much.

Depends on how you define 'safe'. SeaORM and SQLx has no `unsafe` code, so we are 'safe' for it's meaning in Rust. But SeaORM does not currently have as m

[2021-11-15 02:18] tyt2y3 commented on #270
Please reopen if you still have problems

[2021-11-15 02:18] #270 closed

[2021-11-15 02:19] oscartbeaumont opened #317 "Make ColumnDef fields public"
Hello,
I am creating a package called [sea-migrations](https://github.com/oscartbeaumont/sea-migrations) which handles doing automatic database migrations for sea-orm. To do database migrations I require information from sea-orm about the desired structure of the database.

I found that the relationship data (`RelationDef`) [defined here](https://github.com/SeaQL/sea-orm/blob/d5da351f50ab44aaef210

[2021-11-15 02:50] SKTT1Ryze commented on #308
@weiznich
Thanks for your answers and hard work!

Of course you may. I would like to do that.

This statement completely solved my doubts, pretty professional answer.

The sizes that I mainly concern is the binary sizes of  compiled product, possibly caused by generic expansion and macros.
That is also the main problem which I talk about the DIesel, maybe all the ORM framework. I would open a new

[2021-11-15 03:05] tyt2y3 commented on #308
If you are concerning SQL injection, then yes, only prepared statements are used in SeaORM. Also, SeaQuery escapes everything including SQL identifiers. Though, if you found a vulnerability, we should discuss privately.

I honestly don't know much about size optimization in Rust. Is there any resources I read from? May be I am able to borrow some techniques and make relevant comments.

[2021-11-15 03:21] SKTT1Ryze commented on #308
There' s one post on reddit: https://www.reddit.com/r/rust/comments/otam71/question_about_rusts_binary_size/.
And in diesel' s case, I guess diesel write too much generic code(I don't mean diesel shouldn't), which may cause large binary size.

[2021-11-15 03:43] SKTT1Ryze commented on #308
@weiznich

[2021-11-15 09:49] Tuetuopay commented on #160
Sure! I don't have any case with the bakery entities, but here's one that could very well happen: soft-delete filtering.

Say you have two entities, `User` and `BlogPost`, the latter having a `deleted` boolean field (the former could very well have one, but it's irrelevant in the discussion), indicating whether the user has deleted the blog post.

### `user.rs`

[code]

### `post.rs`

[code]

Now,

[2021-11-15 09:53] billy1624 commented on #160
We are implementing soft delete now at #276. Do you wanna try it out?

[2021-11-15 10:05] billy1624 commented on #160
Hey @Tuetuopay, indeed!!

[2021-11-15 12:58] YoshieraHuang opened #319 "`DateTimeWithTimeZone` does not implement `Serialize` and `Deserialize`"
Hi. `sea-orm` use `DateTimeWithTimeZone` in `Model` to map `TIMESTAMPTZ` in postgresql. `DateTimeWithTimeZone` is just an alias of type `chrono::DateTime<chrono::FixedOffset>`, which has already implemented `Serialze` and `Deserialize` traits in `chrono` crate. However, the compiler says `DateTimeWithTimeZone` does not implement `Serialize` and `Deserialize` in the generated scripts. It is weird.

[2021-11-15 13:00] billy1624 commented on #319
Hey @YoshieraHuang, would you mind showing us the detail compile errors?

[2021-11-15 13:02] YoshieraHuang commented on #319
This is my scripts:
[code]

And this is the error:
[code]

[2021-11-15 13:31] billy1624 commented on #319
Correct! Should be fixed on #320

[2021-11-15 13:34] YoshieraHuang commented on #319
The `chrono/serde` feature works for me! Thank you for your quick fix!

[2021-11-15 13:35] billy1624 commented on #319
Welcome! :)

[2021-11-16 05:19] #319 closed

[2021-11-16 05:30] tyt2y3 opened #321 "Rework `ActiveValue`"
Currently our ActiveValue looks like this:

[code]

I am thinking to go back to a simple Enum:

[code]

The overall API should remain the same, just that we should deprecate `Unset(None)` and favour `NotSet` instead.

[2021-11-16 08:57] YoshieraHuang opened #322 "Cannot derive `DeriveIntoActiveModel` for fields wrapped with `Option`"
I meet compiling error when I use `DeriveIntoActiveModel` to convert the struct to `ActiveModel`. The struct has only part of fields and these fields are wrapped with `Option`. Here is an example script:
[code]

And here is the detailed compiling error:
[code]
[code]

The error says the `Option<T>` is converted to `ActiveValue<Option<T>>`. But I want `Option<T>` to be converted to `ActiveValue<T>`

[2021-11-17 09:41] #183 closed

[2021-11-18 01:34] oscartbeaumont commented on #317
I gave fixing this issue an attempt by removing the ColumnDef defined by `sea-orm` and upgrading sea-query's `ColumnDef` to satisfy all the required functionality.

Doing this introduces a large number of `.unwrap()` calls due to sea-queries `ColumnDef.get_column_type()` method returning an `Option<&ColumnType>` as opposed to `&ColumnType` directly like sea-orm's `ColumnDef` does.

Another issue I

[2021-11-18 06:31] #308 closed

[2021-11-18 08:51] billy1624 commented on #260
I think we do have this. Perhaps we can reorganize it?

https://www.sea-ql.org/SeaORM/docs/advanced-query/advanced-relations/#linked

[2021-11-18 08:53] tyt2y3 commented on #260
Yeah at least extract it to its own

[2021-11-18 08:54] billy1624 commented on #260
Maybe we can put it under "Relation"?

[2021-11-19 04:22] tyt2y3 commented on #317
Yeah, it's a bit unfortunate that there is mismatch between sea-query and sea-orm, and its because they were catering different needs in the first place.

I agree, unifying them would lead to less confusion. If we go down this path, some features have to be removed from sea-query, to make it less 'raw'.

[2021-11-19 04:34] tyt2y3 commented on #317
I agree on pursuing this direction, it's a debt we have to pay at some point.

@billy1624 thoughts?

[2021-11-19 05:04] billy1624 commented on #317
I agree on unifying the `ColumnType ` & `ColumnDef` but I think the "Raw SQL" feature such as column width of integers should be achieve in other ways in `sea-query`. For example, using a wrapper struct like below.

[code]

[2021-11-19 09:46] billy1624 opened #327 "Insert & Update Return `Model` instead of `ActiveModel`"
I wonder, since RETURNING support the methods return ActiveModels, wouldn't it be better to just return Models instead ? ActiveModel is better suited for inputs and Model for output, and it would make things more aligned with select. Also it is easy to convert from Model into ActiveModel, but not the other way around

It would also open possibility for convergence with QuerySelect/Select traits, s

[2021-11-19 09:47] billy1624 commented on #327
You made a good point! One blocker is that `ActiveModelBehavior`'s `before_*` & `after_*` operations takes `ActiveModel` instead of Model. https://docs.rs/sea-orm/0.3.2/sea_orm/entity/trait.ActiveModelBehavior.html

I guess we could do is to change `before_*` taking `ActiveModel`, while `after_*` taking `Model`.

How is that sounds?

[2021-11-19 10:57] tyt2y3 commented on #327
duplicate of #289

[2021-11-19 10:57] #327 closed

[2021-11-22 07:30] kev0960 opened #330 "Add `TryFromU64` trait for `DateTime<FixedOffset>`"
The timestamp column (with time zone) generates the field with `chrono::DateTime<chrono::FixedOffset>`. Sadly, `DeriveEntityModel` macro fails because `TryFromU64` is not implemented for this type.

Example error:

[code]

[2021-11-22 07:36] tyt2y3 commented on #330
Can you share your entity file?
________________________________
From: Jaebum Lee ***@***.***>
Sent: Monday, November 22, 2021 3:31:05 PM
To: SeaQL/sea-orm ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [SeaQL/sea-orm] Add `TryFromU64` trait for `DateTime<FixedOffset>` (Issue #330)

The timestamp column (with time zone) generates the field with chrono::DateTime<chrono::FixedOffset>. Sadly, Deri

[2021-11-22 07:37] billy1624 commented on #330
Hi @kev0960, welcome!! Oh, are you using date time column as primary key?

[2021-11-22 07:38] kev0960 commented on #330
Yes :) Schema looks like this

[code]

[2021-11-22 07:39] kev0960 commented on #330
I created a pull request here: https://github.com/SeaQL/sea-orm/pull/331

[2021-11-22 07:48] kev0960 commented on #330
@tyt2y3 Entity file looks like this

[code]

[2021-11-22 12:14] tyt2y3 commented on #330
Oh I see, a composite primary key

[2021-11-23 02:19] #330 closed

[2021-11-24 08:42] niuhuan opened #332 "How can auto migrate table struct when application startup?"
I used sea-orm and sqlite for desktop application save preferences.
I need auto modify columns and index when app upgrade (app startup).

Does sea-orm have this function ?

like this

[code]

[code]
auto migrate index
[code]

[2021-11-24 08:51] billy1624 commented on #332
Hey @niuhuan, welcome! We don't have migration feature at the moment but we're developing it.
If you looking for ways to setup database schema from fresh you could reference [this](https://www.sea-ql.org/SeaORM/docs/write-test/sqlite).

[2021-11-24 08:59] billy1624 commented on #332
Thanks for the support!

[2021-11-25 11:42] billy1624 commented on #239
Hey @AngelOnFira, any updates on this? :P

[2021-11-25 11:46] #260 closed

[2021-11-25 13:34] AngelOnFira commented on #239
Thanks for checking in, I need this for a project I have coming up, but I've been super busy with other work. As soon as I do have time, I do plan on hopping on this issue since it's quite important to me, but if someone else has time to work on it right now, I'd be very grateful for that as well :(

[2021-11-25 14:28] billy1624 commented on #239
Thanks!! @AngelOnFira. Take your time!

[2021-11-26 04:17] billy1624 opened #333 "Migration Supports"
Feature provided by sea-schema
- SeaQL/sea-schema#12

[2021-11-26 07:06] frankhorv opened #334 "Schema name is missing in the generated Model entity (Postgresql)"
I'm running `sea-orm-cli` code generator on Postgresql and using the schema name CLI option, but the
schema_name attribute is missing in the generated table entity:

[code]

[2021-11-26 07:10] billy1624 commented on #334
Hi @frankhorv, welcome! Oh, this is your first issue on GitHub loll

Yes, currently the schema name is not generated automatically. Thanks for the report!

[2021-11-27 06:15] qyihua opened #336 "Make QueryResult fields and QueryResultRow public"
Hello team,
I want to use postgis types with postgis crate,  but the geometry type is not support currently

So, I use custom type like this:

[code]

convert geometry to point need impl sqlx::Decode,  So I need QueryResultRow public

Would it be possible for these fields to be changed to be public similar to the relationship data? Alternatively could getter methods be implemented to fetch the row

[2021-11-27 06:31] tyt2y3 commented on #336
I think so. At least if that's the only workaround available for now.

[2021-11-27 07:59] qyihua commented on #336
Thank you for your reply quickly.

I am new to rust, and not very familiar with rust, so I couldn't make a right PR now.
I have a thought,
defined a struct just like named RawType that contain Vec<u8> , the raw binary data from database, then everyone can convert it to another type in rust within TryGetable trait.And it don't need to 'leak' sqlx types.
The RawType need impl sqlx::Type , and fn com

[2021-11-28 10:02] tyt2y3 commented on #336
Yeah that's one solution.

I was suggesting may be we can instead provide postgis support inside SeaORM. Such that we can simply dump all the boilerplate into a separate file which can be enabled with a `sqlx-postgis` feature flag.

[2021-11-28 14:40] qyihua commented on #336
Oh, I see. May be I am able to do.  If I work it out and I will make a PR for it.

[2021-11-28 15:27] billy1624 commented on #282
Related #336

[2021-11-28 15:31] billy1624 commented on #336
Hey @qyihua, I think SQLx did try to support postgis crate but it's still WIP
- launchbadge/sqlx#166

Just a side note loll

[2021-11-29 04:22] qyihua commented on #336
I have an issue:
postgis type need convert to json value, I found crate geo-json and  geozero::wkt, but they haven't support 3d point in postgis yet.
I don't know how to deal with the serialize of postgis type. And it will have a lot of work without geo-json or geozero.
I am not able to save all the hassle now.
Can anyone help? @tyt2y3 @billy1624

[2021-11-30 02:44] vincascm opened #337 "more options for sea-orm-cli"
i use `sea-orm-cli` to generate `model`，and the work flow like update database schema, sea-orm-cli generate, web api `mod` use it.
with this work flow, generated code is immutable，but may be add more options to fit it.
my English is too poor, forgive me for using Chinese.
发现的问题有几个:
1. sea-orm-cli generate的 output-dir 是 `src/model`，在这个目录里，我会有一个`impls`目录，用来放`Model`额外的implement，所以需要model中mod.rs的生成是可选

[2021-11-30 03:50] billy1624 commented on #337
Hey @vincascm, welcome!

I'm translating your comment with Google Translate, please do let me know if the translation is inaccurate.

Reply:

Hmmm... okay so you want to organize the code in a different way. Could you clarify what will be stored in `impls` directory?

Yeah, this could be optional but this is just one file, so I guess user can delete it manually if they don't want it. We could add

[2021-11-30 05:58] vincascm commented on #337
@billy1624  thanks your reply,
1. add some `mod` in `src/model`,  it's just a pattern such as impl extra methods for model, to express more precisely business logic on model, and this layer encapsulates closest to CRUD of model, so i think it should be in `src/mod`
2.  the Json here refers to a converted type, which in the database may be TEXT, BLOB, or other types that can be converted to Json. I

[2021-11-30 07:03] billy1624 opened #338 "Some missing `ActiveEnum` utilities"
Missing utilities
- `sea-orm-cli` supports generating code for database native enum
- Add `Schema::create_enum_from_active_enum`, generate type creation SQL statement from any `ActiveEnum`

[2021-12-01 06:36] billy1624 opened #342 "Consider Improving `column_as` & `filter` Select API"
Hey, I would like to write this, but I'm getting error:

[code]

[code]

[code]

_Originally posted by @MuhannadAlrusayni on Discord_

[2021-12-01 09:21] billy1624 opened #344 "How to define rust type of TIMESTAMP?"
### Discussed in https://github.com/SeaQL/sea-orm/discussions/341

<div type='discussions-op-text'>

<sup>Originally posted by **lz1998** December  1, 2021</sup>
I have tried 4 types, never of them works. **`NaiveDateTime`, `i64`, `DateTime<Utc>` and `DateTime<FixedOffset>`**

I use MySQL 8. I create table by myself without `automigrate`, and I define rust struct by myself.

[code]

[code]

**`Nai

[2021-12-01 11:03] qyihua opened #346 "how to update dynamicly from json value"
Hello,
Is there any way to support dynamic update from json value?
like update from user input , and only allow update special fields
if the input json field is null, need set None value for activemodel,
so it need get None value from column:

[code]
Any better suggestion?

https://github.com/qyihua/sea-orm/commit/0fa0f33ac1ebfa1444e8b4de1411a11e59bd4533

[2021-12-01 11:18] billy1624 commented on #346
Hey @qyihua, thanks for the suggestions!

Are you integrating sea-orm with other web API? I'm interested in your use case.

I think it's common to take a Json / key-value pair from user and updating the corresponding rows in the database.

[2021-12-01 11:44] qyihua commented on #346
Hi, @billy1624
I am integrating sea-orm with axum,
demo web page like this:
![Screenshot_20211201_193024](https://user-images.githubusercontent.com/13034668/144228083-6a2f0489-ac66-4e02-ab72-d4d3cc44e24c.png)

it's very common to update dynamicly from json value in web api, so i need a None SeaValue.
I am not very familiar with github, i think i make a wrong commit

[2021-12-01 21:19] frankhorv commented on #187
Hey @baoyachi , any update on this? Thx

[2021-12-02 02:24] billy1624 commented on #346
Wow, you got some serious use case here!!

I'm thinking a mass assignment API similar to Laravel Eloquent, where you need to explicitly define what column is allowed to be mass assigned. Then, passing in a PHP array as input data.
- https://laravel.com/docs/8.x/eloquent#mass-assignment

We could did similar things in sea-orm
- explicitly define what column is allowed to be mass assigned
- taking i

[2021-12-02 02:53] qyihua commented on #346
- explicitly define what column is allowed to be mass assigned
  I think the columns can be changed at runtime, special in RBAC , diffirent role has diffirent permission, it need some variable vecs

[2021-12-02 03:01] billy1624 commented on #346
We could provide two methods for mass assignment
- `set_attributes(input: Json)` it will mass assign all keys defined in `fillable` vec
- `set_attributes_with_keys(input: Json, keys: &[Column])` it will mass assign all keys in `keys` slice
(I just name the method randomly, we can rethink it later)

[2021-12-02 07:51] billy1624 commented on #239
Hey @AngelOnFira, I have just open a PR for this. You can check it if you have time :))

[2021-12-02 10:27] qyihua commented on #346
Hello, @billy1624 @tyt2y3
I had make a commit for `set_from_json`.
Can you give me some suggestion ? Thank you.
https://github.com/qyihua/sea-orm/commit/6d3f693453f3897aaa49189b7ce4ec44d8bb782d
[code]

[2021-12-02 23:00] videobitva opened #352 "Is it possible to have 4 values Composite Key?"
Hello there!

I was trying to implement a 4 value Composite Key, here is what I got:
[code]

Here is what I got in return from cargo check:

[code]

If I try to create a Composite Key of 3 values or less everything is fine.
Is there any workaround to have a 4 values Composite Key in SeaORM?

Thank you!

[2021-12-03 03:33] billy1624 commented on #352
Hey @videobitva, welcome and thanks for the report! I will be creating a PR to support up to 6 values composite key. Stay tuned :P

[2021-12-03 04:39] billy1624 commented on #346
I'm checking the changes you made with following link
- https://github.com/SeaQL/sea-orm/compare/master...qyihua:test-json

It looks reasonable to me but I think we need some helper methods in `ActiveModel` as well. So, we don't need to manually iterate the attributes in it and update it one by one like you did here.

All in all, this is a good starting point & demo :))

[2021-12-03 05:12] qyihua commented on #346
Thank you in advance for your attention to this issue.
I think so. waiting for your good news :))

[2021-12-03 05:26] billy1624 commented on #352
Hey @videobitva, please check the PR below
- #353

You can update your sea-orm dep as follow
[code]

[2021-12-03 11:11] videobitva commented on #352
Wow, that was fast. Checked out it just now, and it just works. Thank you!

[2021-12-03 11:17] billy1624 commented on #352
Welcome! Will let you know once it's released

[2021-12-03 21:27] Sytten opened #356 "Add Table on the generated Column enum"
This might seem weird, but it comes from a legit need to no change hundreds of lines of sea-query code.
Currently we have a lot of enums like:
[code]
That we use like:
[code]

We want to use sea-orm for all the most simple use cases, but doing so would imply having to change all the `InterceptEntries::Table` to `intercept_entries::Entity` and `InterceptEntries::Id` to `intercept_entries::Column::I

[2021-12-03 21:40] baoyachi commented on #187
Comming soon.

[2021-12-03 23:13] robot-head opened #357 "Impl `IntoMockRow` on `FromQueryResult` derived structs so they can be supplied to `MockDatabase`'s `append_query_results()`"
Would it be possible to Impl `IntoMockRow` on `FromQueryResult` derived structs so they can be supplied to `MockDatabase`'s `append_query_results()`?

As it stands, it seems the only way to provide expectations for custom model selects is to use the `BTreeMap` `IntoMockRow` impl

[2021-12-04 04:53] billy1624 commented on #356
As discussed on Discord. It's doable and we should implement it :P

[2021-12-04 11:15] helphi commented on #332
What's the release date?

[2021-12-04 12:06] billy1624 commented on #332
Hi @helphi, would probably be near the Christmas or early 2022.

[2021-12-04 12:54] tyt2y3 commented on #346
Thank you for the contribution! I think this is pretty close.
Though, I believe there could be a way to avoid adding the impl inside the `DeriveActiveModel`.
Instead, I believe it is possible to default implement it inside `ActiveModelTrait` by relying on `set`.
And perhaps the method could be `set_json_value`.
Because in my opinion I thought `set_from_json` is a massive assignment that would iter

[2021-12-04 13:22] #239 closed

[2021-12-04 16:25] billy1624 commented on #352
Fixed on 0.4.1

CC @videobitva

[2021-12-06 04:35] billy1624 commented on #357
Hey @robot-head, can you explain more on your use case?

You can supply any `IntoMockRow ` into `append_query_results()`, including
- `MockRow`
- `ModelTrait`
- BTreeMap<&str, Value>

https://github.com/SeaQL/sea-orm/blob/871a5e8de646eca2d1669fe69235e277f27b679e/src/database/mock.rs#L182-L207

[2021-12-07 14:54] tyt2y3 commented on #356
Great, and thanks for the PR

[2021-12-08 07:15] frankhorv opened #362 "Delete::many() doesn't work when schema_name is defined"
I've a  PostgreSQL database where tables are located in their schema.
I need to delete multiple rows, so I'm using Delete::many(), but it seems that the schema name is not included in the query, so the database complains about it `relation \"valid_table_name\" does not exist`

[2021-12-08 08:02] billy1624 commented on #362
Hey @frankhorv, once again thanks for reporting! I will also double check all other CRUD operations where similar problem might have happened.

[2021-12-08 08:13] billy1624 commented on #362
Please try #363

[2021-12-08 08:20] frankhorv commented on #362
Works for me, thanks a million.
Great project! Keep going.

[2021-12-08 08:20] billy1624 commented on #362
Thanks for helping out!

[2021-12-08 23:41] elderapo opened #369 "Question regarding select_only"
Hey, I am new to rust so please excuse my lack of knowledge about specific rust things.

I was wondering if it was possible to somehow do:
[code]
instead of
[code]

it would shorten the user-land code for custom selects quite a bit and add additional type-safety (ex. when selecting `username` column it's possible to make a typo in the result struct and write `usernamea`). This runtime casting make

[2021-12-09 02:09] #362 closed

[2021-12-09 02:44] tyt2y3 commented on #344
We can use `sea_orm::prelude::DateTime`, which is actually `NaiveDateTime`.
Whether it is `DateTime<Local>` or `DateTime<Utc>` is dependent on system configuration.

[2021-12-09 09:47] billy1624 commented on #344
Yes, it should. I discover that for MySQL, it's blocked by SQLx. See launchbadge/sqlx#1581

[2021-12-09 15:09] tyt2y3 commented on #369
It is possible, if we attach a derive macro to `UsernameResult` and have it impl a `CustomSelect` trait, then it can be handled directly by the `Select`.
It is moderately difficult though, because it involves derive macros.

[2021-12-10 00:44] MorganNesbitt opened #374 "find_with_related panic"
Hey, I am new to sea-orm, so was looking to see if I could get some help around this.

I have two entities with a one to many relation (that I built using the cli generation).
I can fetch them both individually, but it panics when I try to join them together.

They are quite big structs, each with the following properties
- id is a uuid
- have one Postgres enum
- with the only overlapping fields b

[2021-12-10 03:28] billy1624 commented on #374
Hey @MorganNesbitt, welcome! And thanks for the report. I'm digging into it right now

[2021-12-10 15:41] #374 closed

[2021-12-11 04:51] Goodjooy opened #380 "unable to install `sea-orm-cli`"
`cargo install sea-orm-cli` rust report comilpe error
[code]
where `M:\rust\.cargo` is my `CARGO_HOME`
it seem there has some wrong code in `sea-orm-cli` ?

my rustc version : `rustc 1.57.0 (f1edd0429 2021-11-29)`

[code]

windows version is `21H2`

---

but I entry the dir `M:\rust\.cargo\registry\src\github.com-1ecc6299db9ec823\sea-orm-cli-0.4.1`
 then run `cargo check` no error report
run `carg

[2021-12-11 05:06] tyt2y3 commented on #380
Sorry for the hiccup and thank you for the quick catch!
I just yanked sea-schema `0.2.10`

[2021-12-11 05:06] #380 closed

[2021-12-11 06:35] tyt2y3 commented on #344
I think the root cause is we have different opinions to the MySQL timestamp.
They usually are `DateTime<Utc>` but it really depends on the MySQL configuration.
To me, it seems like `NaiveDateTime` is an appropriate representation.

[2021-12-11 06:38] tyt2y3 commented on #344
I think the root cause is the slightly strange behavior MySQL timestamp.

They usually are `DateTime<Utc>` but it really depends on the MySQL configuration.

To me, it seems like `NaiveDateTime` is an appropriate representation.

[2021-12-11 06:54] tyt2y3 commented on #344
My opinion is, `DateTime<Utc>` should have same size as `NaiveDateTime`, where `Utc` is only a marker instead of being a true byte of data where `offset = 0`.

[2021-12-11 07:06] tyt2y3 commented on #344
I think we should support `DateTime<Utc>` natively in SeaORM soon

[2021-12-12 06:43] tyt2y3 opened #381 "Support `DateTime<Utc>` & `DateTime<Local>`"
I think we should support `DateTime<Utc>` natively in SeaORM soon

_Originally posted by @tyt2y3 in https://github.com/SeaQL/sea-orm/issues/344#issuecomment-991500315_

May be we can create a new type alias `DateTimeUtc` on `chrono::DateTime<Utc>`

[2021-12-12 06:47] #344 closed

[2021-12-12 14:23] #356 closed

[2021-12-12 15:02] tyt2y3 commented on #356
[0.4.2](https://github.com/SeaQL/sea-orm/releases/tag/0.4.2)

[2021-12-12 15:02] tyt2y3 commented on #344
[0.4.2](https://github.com/SeaQL/sea-orm/releases/tag/0.4.2)

[2021-12-12 15:04] tyt2y3 commented on #374
[0.4.2](https://github.com/SeaQL/sea-orm/releases/tag/0.4.2)

[2021-12-12 15:04] tyt2y3 commented on #362
[0.4.2](https://github.com/SeaQL/sea-orm/releases/tag/0.4.2)

[2021-12-13 10:58] videobitva opened #382 "Question about complex(?) relationships"
Hello there!

I have been struggling to implement this kind of relationship:
![sea-orm-issue drawio](https://user-images.githubusercontent.com/22913634/145799442-eac7f618-4b61-40f4-a7a3-48992a16b077.png)

Here is the code which I came up with:

[code]

[code]

The problem is that if implementing it this way only relationships `switch_id_two -> switch_id` and `port_id_two -> port_id` are built.

So

[2021-12-13 11:32] billy1624 commented on #382
Hey @videobitva, you could use `Linked` for this.
https://www.sea-ql.org/SeaORM/docs/relation/chained-relations

[2021-12-13 14:47] videobitva commented on #382
Thank you, I tried to look into that. As far as I could understood `Linked` is used when you already have multiple tables with relations and you want to have a more comfortable way of making joins, am I correct?

[2021-12-13 15:08] billy1624 commented on #382
Correct!

[2021-12-13 15:18] videobitva commented on #382
Ok, so my question remains the same: how (or can I even) define both `switch_id_one -> switch_id`, `port_id_one -> port_id` and `switch_id_two -> switch_id`, `port_id_two -> port_id`? Like, I can't use `Linked` before I have any relation between `switch_port` and `switch_link` defined. Or can I?

[2021-12-13 15:42] videobitva commented on #382
No, I still don't get it.

In order to make relations between `switch_link` and `switch_port` I need to implement this thing:
[code]

but I can't, because in order to do that I need to properly implement this:
[code]

[2021-12-13 15:47] billy1624 commented on #382
Use Linked trait with https://docs.rs/sea-orm/0.4.2/sea_orm/?search=_linked find_linked methods

[2021-12-13 15:50] billy1624 commented on #382
Sorry, gonna sleep now. Let's continue the conversation tmr loll

[2021-12-13 15:51] videobitva commented on #382
Thank you, have a good sleep =)

[2021-12-14 16:52] #338 closed

[2021-12-17 12:56] cemoktra opened #387 "Create DatabaseConnection from sqlx::mysql::MySqlConnectOptions"
Hi,

it would be nice to create a connection from the underlying sql options. It offers more configuration and is easier to use than the connection string

[2021-12-17 13:30] billy1624 commented on #387
Hey @cemoktra, yes you could configure and create a `Pool` on your own then supply it to sea-orm
https://docs.rs/sea-orm/0.4.2/sea_orm/struct.SqlxMySqlConnector.html?search=from_sqlx_#method.from_sqlx_mysql_pool

[2021-12-17 14:00] cemoktra commented on #387
To understand this right

- create `MySqlConnectOptions`
- create `MysqlPool` from `MySqlConnectOptions` using `connect_with`
- use `from_sqlx_mysql_pool` in sea orm

[2021-12-17 14:04] tyt2y3 commented on #387
Yes you are right

[2021-12-17 14:07] cemoktra commented on #387
Might be a nice addition to the docks as i was fighting ssl options for quite some time today

[2021-12-17 15:09] liabri opened #388 "Foreign Key Marker"
Hello,

I am wondering of the possibility to mark foreign_keys in models the same way primary_keys are marked. This would allow the entry of the foreign_key to exist directly inside the model. I imagine the syntax to be something like: `#[sea_orm(foreign_key)]`, in the case of Fruit and Cake (as per the example provided in examples/basic) I would imagine it to be like this:

[code]

Queries utilis

[2021-12-17 15:45] Gabriel-Paulucci opened #389 "Column name"
Add a way to define the database column name, the same as the table name

[code]

[2021-12-17 18:01] oscartbeaumont opened #390 "Issue with SELECT 1 query"
I have been using SeaORM and have found what looks to me like a bug. Please let me know if this is a mistake on my end.

If I run the query `SELECT 1 AS 'a' FROM '{table_name}';`  I think it should be expected that the result should always be `a=1` as long as `{table_name}` exists in the DB.

When executing this query using SeaORM on a table that contains **no rows** instead of it returning a `Som

[2021-12-18 05:10] billy1624 commented on #389
Hey @Gabriel-Paulucci, I think you can.
https://github.com/SeaQL/sea-orm/blob/acf8eac4419ddef90028d8ae839388986940b08d/src/entity/column.rs#L550

[2021-12-18 05:19] billy1624 commented on #388
Hey @lbcat06, welcome!! I see the potential use case of it in web API.

I'm thinking if it's only for selecting data from the database (readonly)? Or, it's mutable and can use for saving data back into the database?

[2021-12-18 06:30] #289 closed

[2021-12-18 06:54] lbcat06 commented on #388
I am not too well versed in SQL so I'm not quite sure whether writing operations using JOIN are feasible (I do think it is, so I think making it mutable would be great), but I am sure it would be feasible for readonly JOIN operations. Ideally it would be both, as this would allow to denormalise the data for more intuitive use within APIs and such.

[2021-12-18 14:51] tyt2y3 commented on #388
I think the type definition of `cake: Cake` is bad as it makes the size of the struct much larger.
It could better be `cake: Option<Box<Cake>>`, which means 'a nullable pointer to Cake'.
Then it leaves open a lot of API behaviour to define.

[2021-12-18 14:59] tyt2y3 commented on #390
I am not entirely sure, but it seems like it is the behaviour of the SQL engine, SQLite in this case. More experiments are needed though.
That said, it is not the best way to detect whether a table exists.
The good news is, schema discovery support for SQLite is more or less ready, @billy1624 right?

[2021-12-18 15:11] billy1624 commented on #390
Yes, please check #386 :)

[2021-12-18 18:22] #321 closed

[2021-12-19 05:43] oscartbeaumont commented on #390
I gave it another look and I think you are correct @tyt2y3 that this is how the SQLite engine is acting and hence not an issue in SeaORM. I must have made a mistake when testing the issue using DBeaver so I think we can close the issue.

### About my usecase

I am not exactly sure the schema discovery is what I need for this use case. Essentially I am writing a unit test for the Rust GraphQL API I

[2021-12-19 05:43] #390 closed

[2021-12-20 00:19] lbcat06 commented on #388
Sounds like a good idea, I am not sure how passing that over a web api would work though.

[2021-12-20 06:46] LucienGCW opened #393 "connect by ip address"
use this:
`let db = Database::connect("postgresql://username:password@ipAddress/mydb").await.unwrap();`
Err:
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Conn("error occurred while attempting to establish a TLS connection: InvalidDNSNameError")'
but this is ok:
`let db = Database::connect("postgresql://username:password@domainName/mydb").await.unwrap();`
So, do I have to

[2021-12-20 06:53] billy1624 commented on #393
Hey @LucienGCW, welcome!! Thanks for reaching out. Can you see if this is helpful?

Related #310

[2021-12-20 07:11] LucienGCW commented on #393
Oh,thanks.
The problem was solved when i use  "runtime-tokio-native-tls" instead of  "runtime-tokio-rustls",

[2021-12-20 07:56] #393 closed

[2021-12-21 04:53] billy1624 opened #394 "Produce compile errors when unexpected proc_macros attributes are provided"
Related to #391

[2021-12-21 08:23] billy1624 opened #395 "Codegen `column_name` proc_macro attribute if column name isn't in snake case"
And a question I'm having, doesn't sea-orm-cli automatically generate the `column_name` ?

_Originally posted by @Gabriel-Paulucci in https://github.com/SeaQL/sea-orm/discussions/391#discussioncomment-1842047_

[2021-12-22 22:49] 05storm26 opened #398 "Support creating a `sea_orm::Database` from any `sqlx::Executor` for example from an `sqlx::any::AnyPool`."
Currently sqlx allows you to create a connection pool with custom pool options based on e.g.: the kind of database (extracted from the url) or anything else.

e.g.:

[code]

(I know that the sqlite `create_if_missing` option could be configured from the database url as well).

The user should have the ability to create and setup their own connection using sqlx. SeaQL should allow creating `sea_orm

[2021-12-25 07:12] oscartbeaumont opened #402 "Model with Generics"
I am working on a crate called [`async-graphql-relay`](https://github.com/oscartbeaumont/async-graphql-relay) and have recently redone the public API to make it less cumbersome to use (you can checkout the example folder in the repo). When doing this I introduced a type `RelayNodeID` which is generic on the Model so it is declared as `RelayNodeID<Self>`. This is done so that among other things all

[2021-12-25 11:02] tyt2y3 commented on #402
❄️🎄

[2021-12-25 11:06] billy1624 commented on #402
With #400 you could define the following:

[code]

But not...

[code]

So, I'm think should we also support the use of generics over Model? @tyt2y3

[2021-12-25 14:18] oscartbeaumont commented on #402
PR #400 works perfectly for my usecase. Thanks, @billy1624.
Something to note was that although my original idea was `RelayNodeID<Self>` this causes a lot of issues because the ID field is copied to some SeaORM internal stuff (Eg. `ActiveModel`, etc) and those types do not satisfy the expected trait for my code. I fixed this easily by changing it to `RelayNodeID<Model>`. This could be worth noting

[2021-12-25 16:56] tyt2y3 opened #403 "Who's using SeaORM?"
If you have built an app using SeaORM and want to showcase it, feel free to open a PR and add it to the list below!

https://github.com/SeaQL/sea-orm/blob/master/COMMUNITY.md#built-with-seaorm

[2021-12-25 17:13] tyt2y3 commented on #403
@Sytten Added Caido 😄

[2021-12-26 12:39] hlb8122 opened #405 "Foreign key constraint collision when multiple keys exist between the same two tables"
[code]

generates

[code]
which results in
[code]

[2021-12-27 02:45] niuhuan commented on #332
It's all year, any weather. I will still come and have a look the issue every day. Is going well?

[2021-12-27 21:56] ammongit opened #407 "Mention pagination after Streaming in the docs"
Reading through the [Sea-ORM Docs](https://www.sea-ql.org/SeaORM/docs/index), I found the section on [Streaming](https://www.sea-ql.org/SeaORM/docs/advanced-query/streaming/), which was useful information. However, what I wanted was closer to [Eloquent's `chunk` method](https://laravel.com/docs/8.x/eloquent#chunking-results), which it seemed to me I would have to implement myself using streams.

H

[2021-12-27 22:38] ammongit commented on #407
I see that pagination is mentioned at the bottom of the [Select](https://www.sea-ql.org/SeaORM/docs/basic-crud/select) page.

[2021-12-27 22:38] #407 closed

[2021-12-28 06:21] billy1624 commented on #332
I think I saw a comment here last night. @niuhuan

The migrator will be ready by Jan 2022 :P

[2021-12-28 07:29] niuhuan commented on #332
That's great!!

[2021-12-28 21:09] Gabriel-Paulucci opened #408 "Exists"
Add a variant of `find`, which checks if the record exists in the database but doesn't return any data, just says whether or not it exists

This improves performance in some cases where a test of whether the user has already been registered and the case will not be registered

There are better ways to do this test, which is in the insertion case of failure, check the error code, but as it is not s

[2021-12-29 10:14] daltonxiong opened #409 "column name changed in raw sql"
`cake.rs`

[code]

`main.rs`
[code]

output
[code]

column `num_2of_3cakes` got `num2of3cakes`

[2021-12-29 11:01] RomainMazB commented on #409
The column name in the Struct must be SnakeCased, see [the doc](https://www.sea-ql.org/SeaORM/docs/generate-entity/expanded-entity-structure#column).

that said, with number in the column, I'm not sure how it could convert `Num2Of3Cakes`, this will probably ends with a column name like `num2_of3_cakes`

[2021-12-29 11:05] RomainMazB commented on #408
This would be useful indeed, I may take a look to implement this in the next few days.

[2021-12-29 14:49] billy1624 commented on #398
Hey @05storm26, I wonder what is the use case for you to convert any `sqlx::Executor` into `sea_orm::Database`?

[2021-12-29 14:53] billy1624 commented on #405
Hey @hlb8122, I was thinking a new naming scheme for foreign keys.

What do you think if we employ the scheme below?

[2021-12-29 15:03] billy1624 commented on #408
How about adding a new operation `exists` under find?

[code]

[2021-12-29 15:10] Gabriel-Paulucci commented on #408
I think it's good like this, just one thing that maybe you should take into account, when using the filter maybe there can be more than one, but when the filter is by id, it can only exist or not

So maybe you can use `count(1)` in the filter to be able to nab the amount of existing records

[2021-12-29 15:40] billy1624 commented on #408
Btw... you could also `count` it with paginator
https://docs.rs/sea-orm/0.4.2/sea_orm/trait.PaginatorTrait.html#method.count

[2021-12-29 16:45] Gabriel-Paulucci commented on #408
yes, I agree with what you said, but that would be one more call to the database

that's why I talked about the filter returning the number of records, but it's just my opinion

[2021-12-29 19:49] RomainMazB commented on #408
🤔 Using the sql `EXISTS` statement, no matter if there is one or multiple results, it will just return `TRUE` or `FALSE` directly from the database.

I thought this would be already implemented into sea-query but it's not. I guess this should be the starting point.

Related to https://github.com/SeaQL/sea-query/issues/118

[2021-12-29 19:53] Gabriel-Paulucci commented on #408
makes sense, and when I did that I didn't use this command, but looking at it from this side it only makes sense to return the boolean value

[2021-12-30 02:36] billy1624 commented on #398
Seems `Pool::any_kind()` have been released today.
https://github.com/launchbadge/sqlx/releases/tag/v0.5.10

[2021-12-30 14:13] DavidFreire-FEUP opened #410 "Error during build: `std::clone::Clone` is not implemented for `sea_orm::DatabaseConnection`"
In the dependencies of Cargo.toml:

```sea-orm = {version = "0.5.0-rc.1", features = ["runtime-async-std-rustls"]}```

Relevant code:
[code]
...
[code]
...
[code]

Any idea to why I could get this error during build? From the source code and examples I see that the Clone trait IS implemented for DatabaseConnection.

[2021-12-30 14:24] billy1624 commented on #410
Hey @DavidFreire-FEUP, this error occured because you have "mock" feature enabled. If you don't need mock connection, then you could opt-out from "mock" feature.

https://github.com/SeaQL/sea-orm/blob/da21e79bb59755800153a1b8d55a1641ffc6c683/src/database/db_connection.rs#L16-L34

[2021-12-30 14:42] DavidFreire-FEUP commented on #410
Thanks for the fast response. I had forgot to disable default features! Sorry for the newbie mistake and thank you so much again :)

[2021-12-30 14:42] #410 closed

[2021-12-30 14:44] billy1624 commented on #410
Welcome :P

[2021-12-31 09:34] niuhuan opened #412 "Can we exec a upsert?"
I need the upsert function. I'm not found it form [docs](https://www.sea-ql.org/SeaORM/docs/basic-crud/insert) and issues.
I hope this operation will be implemented in SeaOrm. This can reduce error of writing raw sql.
 I am a novice with rust. These codes are just my imagination.

[code]

Their effect should be like this in the database

[code]

[2021-12-31 09:45] RomainMazB commented on #412
The upsert function is not available yet, there is an active PR in sea-query that needs to be merged before this append in sea-orm.

Mentionned in:
- https://github.com/SeaQL/sea-orm/issues/187
- https://github.com/SeaQL/sea-query/pull/167

[2022-01-01 08:51] RomainMazB commented on #409
@billy1624
I've seen that in sea-query there is a way to exactly reflects the column name, whatever how they are named: https://github.com/SeaQL/sea-query#iden

Maybe there is a trick to reflects this directly from sea-orm that would avoid this issue?

[2022-01-01 12:52] jacksoom opened #416 "Sql condition orm"
[code]

I'm a rust fresher. Is there a more elegant way to deal with this conditions?

[2022-01-01 12:56] jacksoom commented on #416
In the golang orm. the same code like this
[code]

[2022-01-01 13:05] #416 closed

[2022-01-02 14:49] PauMAVA commented on #388
Hey! I am pretty interested in this feature being added to `sea-orm`. I would even be willing to develop it myself.

First of all regarding @lbcat06 concern on how a `Box<T>` would show over web API I have tested it using a really simple `rocket` app you can find in [this gist](https://gist.github.com/PauMAVA/f1501767da5930128d7060bde72cbe46). There is no problem in sending a `Box<T>` via API as s

[2022-01-02 15:12] billy1624 commented on #388
Hey @PauMAVA, thanks for reaching out!! We love to see more and more contributors joining in!

@RomainMazB are you working on this?

[2022-01-02 15:30] billy1624 commented on #416
Problem solved?

[2022-01-02 16:34] RomainMazB commented on #388
I am working on #415 yes (not the foreign_key). I have to admit that I may have to learn some few things about trait types and other stuff in the rust's typing-system to succeed but yes, I'm actively working on it.

[2022-01-03 07:10] billy1624 commented on #409
Hey @daltonxiong, sorry for the delay. You could always override it with `column_name` macro attribute.

[code]

[2022-01-03 08:17] PauMAVA commented on #388
Hello @RomainMazB ! That's good as we will need the save methods in order to make the `foreign_key` feature writeable. We can continue discussing the API you propose in #415.

[2022-01-03 09:47] AndreiOrmanji opened #418 "Can not check the transaction log of mock database in `actix` framework"
I'm trying to implement a test with actix framework using sea-orm mocking feature  by repeating stuff from documentation and examples, but I'm stuck on implementing assertion of transaction logs. I understand that into_transaction_log can be called only by owned value, but I don't see the way how I can achieve it.
<details>
  <summary>My code</summary>

[code]

</details>
As I see for now, there i

[2022-01-04 00:14] hlb8122 commented on #405
Does this scheme prevent colisions in all cases?

What I was looking for when I noticed the collision was a way to do manual naming.

[2022-01-04 04:26] tyt2y3 commented on #418
I think so, perhaps you need to add a method to take ownership of the state:

[code]

That said, I think the general rule of thumb is, you'd refactor the app logic into a business domain module where there is no `Actix` or any web API dependency.

If you want to test it at app level, you'd probably want to use a real database, or at least, SQLite.

[2022-01-04 05:04] tyt2y3 commented on #408
I am still thinking whether we should add the method to `PaginatorTrait` or create a new `Trait` (which includes other methods like `max` or `min`)

[2022-01-04 07:33] Crypto-Virus opened #420 "Failed to insert row with only default values"
Invalid SQL query is generated when inserting into a table that has default values for all columns.

e.g.

When inserting into below table
[code]
with this rust code
[code]
returns this error
`DbErr(Query("error returned from database: syntax error at or near \")\""))`

because below query is generated
`INSERT INTO "topics" () VALUES () RETURNING "id"`

[2022-01-04 10:35] billy1624 commented on #420
Hey @Crypto-Virus, welcome and thanks for the report!

For all insert statement without specifying columns & values it should generate
[code]

[2022-01-04 12:54] Gabriel-Paulucci commented on #408
I think it would be interesting to be separated as it doesn't have anything to do strictly with pagination, but something useful that can be used in any context.

[2022-01-04 17:01] VaZark opened #421 "Highlight how does SeaORM handle the classic N+1 problem"
Since SeaORM is not lazy and can use eager loading to fetch data, I'm assuming the classic N+1 problems that occur in most ORMs are completely sidestepped.

It will be useful for newcomers to learn how to use it if there is an explicit reference to the problem and the solution in the docs.

[2022-01-05 07:10] billy1624 commented on #405
Not all cases, it's possible to create two foreign keys on the same local column and referencing two different foreign columns. But I would say this seems unlikely to happen in real life.

[code]

Yeah, it's possible to perform manual naming on `RelationDef`, I can add that.

[2022-01-05 07:31] ammongit commented on #352
I am (allegedly at least) on 0.4.2 and I've been getting a panic when I have composite keys with more than 3 columns.

This is my entry from `Cargo.lock`:
[code]

Am I missing something here?

[2022-01-05 07:33] billy1624 commented on #352
Hey @ammongit, could you show me the error messages?

[2022-01-05 07:38] billy1624 commented on #352
I'm compiling [`issues/352`](https://github.com/SeaQL/sea-orm/tree/master/issues/352) on sea-orm 0.4.2 and it compiled without any errors.

[code]

[2022-01-05 07:38] billy1624 commented on #352
Can you remove the lines below and execute `cargo update` then compile it again?

[code]

[2022-01-05 07:39] ammongit commented on #352
It's running via Docker. When attempting to insert an `ActiveModel` with a four-column primary key: (`page_connection_missing`, columns `from_page_id`, `to_site_id`, `to_page_slug`, `connection_type`)
[code]

The insert here is the prior insertion and shouldn't be related to this I believe.

[2022-01-05 07:41] billy1624 commented on #352
Ahhh... I see. This is another problem

[2022-01-05 07:43] ammongit commented on #352
I haven't rebuilt it in the container, but removing that and re-running `cargo update` re-adds the same lines. Seems like it only knows `4f594c...` as the latest hash.

[2022-01-05 08:19] billy1624 commented on #352
Hey @ammongit, could you try #423?

[2022-01-05 08:20] billy1624 commented on #352
Wait... let me rebase it onto 0.4.2

[2022-01-05 08:43] VaZark opened #424 "Highlight how to solve N+1 class of problems"
Since SeaORM is not lazy and can use eager loading to fetch data, I'm assuming the classic N+1 problems that occur in most ORMs are completely sidestepped.

It will be useful for newcomers to learn the "standard" way to handle it if there is an explicit example in the docs.

[2022-01-05 08:43] #424 closed

[2022-01-05 08:57] ammongit commented on #352
The build took a bit, but I'm getting a different (non-Sea-ORM) error now. Looking at the log, it looks like it was able to insert properly.

[2022-01-05 12:10] Rudi3 opened #425 "Clone is not implemented for `sea_orm::DatabaseConnection` in rocket_example"
I tried the `rocket_example` and I'm getting an error in `pool.rs`.

https://github.com/SeaQL/sea-orm/blob/82bad4a376efb875ac32ab601ac2cd9cce191e3f/examples/rocket_example/src/pool.rs#L12

[code]

Removing `#[derive(Clone)]` from `SeaOrmPool` fixes the error, but is it intended to have the `Clone` trait?

Features I was using:
[code]

[2022-01-05 14:00] Rudi3 opened #426 "Custom ColumnTypes"
Is it currently possible to use other types such as (Pg) Interval?

I found the `Custom` Variant in the [Docs](https://docs.rs/sea-orm/0.5.0/sea_orm/entity/enum.ColumnType.html), but is this meant to map back to existing `sea_orm::Value`s or can it be used to access other types than the predefined ones?

Is there currently a way to use other types than the [listed ones](https://www.sea-ql.org/SeaO

[2022-01-06 12:16] billy1624 commented on #425
Hi @Rudi3, I believe you can safely remove the derive `Clone` here.

https://github.com/SeaQL/sea-orm/blob/82bad4a376efb875ac32ab601ac2cd9cce191e3f/examples/rocket_example/src/pool.rs#L10-L13

[2022-01-07 03:56] billy1624 commented on #426
Hi @Rudi3, regarding the use of custom types you can check the following discussion & PR
- #139
- #400

Btw... how would you defined the interval attribute in the Model?

[code]

[2022-01-07 11:02] Rudi3 commented on #426
Hi @billy1624, sorry - it seems that I missed those issues.
I'd probably use `chrono` as the other Date/Time types already rely on `chrono` (as far as I've seen) and it should be higher level (and can be converted back to `std::time::Duration` if needed).

But if I try this, `DeriveEntityModel` fails.
I'll try if implementing the traits in https://github.com/SeaQL/sea-orm/pull/400/files and using

[2022-01-07 14:32] billy1624 commented on #426
A PR would be required in SeaORM before you can insert / get Pg interval value into / from PostgreSQL

[2022-01-07 14:33] billy1624 commented on #426
Btw... these PRs in sea-query are related
- SeaQL/sea-query#169
- SeaQL/sea-query#195

[2022-01-07 16:44] jokil123 opened #435 "sea-orm-cli passwordless database user causes "No password was found in the database url" error"
when you try to generate an entity using the `sea-orm-cli generate entity --database-url "mysql://root@localhost/<dbname>"` command it panics with the error `thread 'main' panicked at 'No password was found in the database url'`

is there some other way to log into a database user without a password?

[2022-01-07 16:48] billy1624 commented on #435
Hey @jokil123, could you try `mysql://root:@localhost/<dbname>`?

[2022-01-07 17:05] #409 closed

[2022-01-07 17:21] jokil123 commented on #435
`mysql://root:@localhost/<dbname>` will return the same error.
`mysql://root: @localhost/<dbname>` throws `error returned from database: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)`

[2022-01-07 18:59] Rudi3 commented on #426
I see. I prepared this now, but I'm still missing something: https://github.com/SeaQL/sea-orm/commit/e5ee4765469fe8d4920e7c58befcafa6802dddab

I didn't find any related code dealing with `sqlx::Decode` for other `chrono` Types such as `DateTime` in `sea_orm` - if you could tell me how you handled this, I might be able to make a PR (I don't necessarily know what I'm doing).

[code]

[2022-01-08 05:12] kakarot-dev opened #437 "Boolean Support( mariadb )"
`sea-orm-cli` is generating a type wrongly. When the type should be boolean, it generates the entites as the type `i8`
That is expected as apparently mariadb stores boolean as integer values inside the database. I wanted to ask if this bug can be fixed, and the cli can produce booleans correctly

#### Sql statement
[code]

[2022-01-08 05:15] billy1624 commented on #437
Hey @kakarot-dev, thanks!!

Can I also know what version of mariadb you're using?

[2022-01-08 07:39] kakarot-dev commented on #437
`Server version: 10.6.5-MariaDB-1:10.6.5+maria~focal`

[2022-01-08 10:27] 05storm26 opened #438 "Make `DatabaseConnection` `Clone` with the default features enabled"
Some frameworks like actix_web require app global datas to be clonable. Currently one can only disable the `mock` feature to fix this. It would be great if `sea_orm::DatabaseConnection` could be clonable in all cases.

Currently the `mock` feature is by default enabled and that causes the `sea_orm::DatabaseConnection` to not implement `Clone` by default, because `MockDatabaseConnection` (which is

[2022-01-08 11:22] tyt2y3 commented on #425
You missed the `default-features = false`

[code]

[2022-01-08 11:22] #425 closed

[2022-01-08 11:33] tyt2y3 commented on #438
I think the problem is `sea-orm` cannot build without at least one backend. We could either enable `sqlx-all` or `mock` by default, and I chose the latter because enabling all database backends by default will bloat the build time and binary size (if I only enable say `mysql`, it feels pretty biased too). It's thus necessary for users to add `default-features = false`.

[2022-01-08 11:35] 05storm26 commented on #438
I think my point is that we should make `MockDatabaseConnection` implement `Clone`.

[2022-01-08 11:41] tyt2y3 commented on #438
That would in theory work too, but another problem is there is no good way to model a MockDatabase if we allow concurrent access to it. Like the transaction log will be interleaved and probably be quite confusing.

I think the best solution is to allow `sea-orm` to at least build itself without any features enabled (and without any backend).

[2022-01-08 12:39] 05storm26 opened #439 "`TryGetError` doesn't implement `std::error::Error`"
`TryGetError` should implement `std::error::Error` similarly as `sqlx::DbErr` is implementing it:

[code]

Without it `TryGetError` cannot be used with `anyhow::Result`

[2022-01-08 12:50] 05storm26 commented on #439
Oh sorry `TryGetError` can already be converted into `DbErr` usint `into()`.

[2022-01-08 12:50] #439 closed

[2022-01-09 05:22] billy1624 commented on #439
Yeah, that's confusing. Good spotting!

[2022-01-09 07:16] Crypto-Virus commented on #420
@billy1624 I know but how do I generate that using rust code?

[2022-01-09 19:02] OskarPersson opened #440 "Eagerly fetch nested relations?"
When fetching a list of my table `Foo` I know that I can use `find_with_related` to eagerly fetch each Foo objects related `Bar`, giving me the following in return: `Vec<(Foo, Vec<Bar>)>`.  This is perfect for when there is only one level of relation. But what if I also have a one-to-one relation from `Bar` named `Qux` .

What should I use if I want all three from the same query, i.e. `Vec<(Foo, V

[2022-01-10 10:41] billy1624 commented on #440
Hey @OskarPersson, two levels eager loading is not supported at the moment.

I guess it would be `Vec<(Foo, Vec<(Bar, Vec<Qux>)>)>`. Btw... this is way too complex loll

[2022-01-10 10:47] OskarPersson commented on #440
hmm okay. How do you mean with "way too complex"? I feel like this is a pretty standard setup/problem and is supported in, for example, Django with [`select_related`](https://docs.djangoproject.com/en/4.0/ref/models/querysets/#select-related)/[`prefetch_related`](https://docs.djangoproject.com/en/4.0/ref/models/querysets/#prefetch-related)

[2022-01-11 11:50] RomainMazB commented on #409
@billy1624
You asked me for undocumented/unclear feature? here is one ;)

The only example using this is here: https://www.sea-ql.org/SeaORM/blog/2021-10-01-whats-new-in-0.2.4/#rename-column-name--column-enum-variant

[2022-01-12 01:11] vikigenius opened #441 "working of insert_many vs multiple single inserts"
I want to know about the optimization of insert_many. How is it implemented? Does it work as a single insert with multiple values like SQLITE allows

[code]

or does it work as multiple insert statements, which is presumably slower?

[2022-01-12 12:00] billy1624 commented on #441
Hey @vikigenius, just like what you have said. `insert_many` will construct SQL statement like that. And it will be sent to the database once only.

https://github.com/SeaQL/sea-orm/blob/6120d829245a3fb672d79c45f1860c06047921ec/src/entity/base_entity.rs#L384-L406

[2022-01-13 02:33] jacksoom opened #445 "[bug]: generate entity panic"
[code]
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Database(MySqlDatabaseError { code: Some("42S22"), number: 1054, message: "Unknown column 'generation_expression' in 'field list'" })', /Users/jacksoom/.cargo/registry/src/github.com-1ecc6299db9ec823/sea-schema-0.2.9/src/mysql/discovery/executor/real.rs:32:14

[2022-01-13 02:37] billy1624 commented on #445
Hey @jacksoom, can I know the MySQL database version that you are using? I think this issue is specific to a database version.

[2022-01-13 02:40] jacksoom commented on #445
mysql version: 5.5.62-log

verbose backtrace
[2022-01-13T02:35:37Z INFO  sqlx::query] SELECT `column_name`, `column_type`, `is_nullable`, …; rows: 0, elapsed: 31.262ms

    SELECT
      `column_name`,
      `column_type`,
      `is_nullable`,
      `column_key`,
      `column_default`,
      `extra`,
      `generation_expression`,
      `column_comment`
    FROM
      `information_schema`.`columns

[2022-01-13 02:42] billy1624 commented on #445
Thanks!

[2022-01-13 02:48] #445 closed

[2022-01-13 02:51] billy1624 commented on #445
So the column `GENERATION_EXPRESSION ` was added since `5.7` any MySQL version below that won't have the column.

The INFORMATION_SCHEMA COLUMNS Table:
- MySQL 5.6: https://dev.mysql.com/doc/refman/5.6/en/information-schema-columns-table.html
- MySQL 5.7: https://dev.mysql.com/doc/refman/5.7/en/information-schema-columns-table.html

[2022-01-13 03:06] billy1624 commented on #445
I'm not sure is there any breaking changes when upgrading from `5.5.62-log` to `5.7.x`. But I'll check why we need `GENERATION_EXPRESSION` in a minute.

[2022-01-13 03:12] billy1624 commented on #445
Hey @tyt2y3, I want to know why we need the `expression: Option<ColumnExpression>`? Seems that it's not being used in the writer.

https://github.com/SeaQL/sea-schema/blob/bd742757bd2dc609c822daccd3ab426144a9804b/src/mysql/def/column.rs#L6-L25

[2022-01-13 06:38] billy1624 opened #447 "Testing joins with MockDatabase"
Is it possible to somehow have a function that generates such a map given two `Entity` structs? Like iterating all columns adding `A_` to the first and `B_` to the second

_Originally posted by @cemoktra in https://github.com/SeaQL/sea-orm/discussions/443#discussioncomment-1955728_

---

Just as a proposal:

[code]

and then:
[code]

_Originally posted by @cemoktra in https://github.com/SeaQL/sea-

[2022-01-13 06:53] cemoktra commented on #447
Note that this BTreeMap has owned `String` as key, so it might be also useful to implement `IntoMockRow` for `BTreeMap<String, Value>`

[2022-01-13 07:23] cemoktra commented on #447
Putting it all together:
[code]

[2022-01-13 07:40] billy1624 commented on #447
And perhaps...

[code]

[code]

[2022-01-13 07:42] cemoktra commented on #447
Yeah exactly

[2022-01-13 09:07] kev0960 opened #448 "Select partial column is broken."
I was trying to select only a couple of column using

[code]

But this fails saying some other column in Data is missing.

My guess is that because what all() returns is an Entity, it needs to have all columns in Entity to be returned. This will be impossible for this case since we are only fetching partial columns.

Is there a way to make all to return not an Entity but partially set values? like

[2022-01-13 09:09] billy1624 commented on #448
Hey @kev0960, you have to select the partial result into a custom struct.

https://www.sea-ql.org/SeaORM/docs/advanced-query/custom-select#handling-custom-selects

[2022-01-13 09:11] billy1624 commented on #448
For example...

[code]

[2022-01-13 12:19] Rudi3 commented on #426
Is it safe to assume that there is still some code missing in sea_query?

When adding

[code]

in `active_model.rs`, I see that:
[code]
(I am assuming that `PgInterval` is the only option available for now)

https://github.com/SeaQL/sea-orm/compare/master...Rudi3:pginterval?expand=1

[2022-01-13 12:23] billy1624 commented on #426
Yes, currently we have no variant defined in `sea_query::Value` to store `Interval`
- https://github.com/SeaQL/sea-query/blob/5d6ef72a4db7e8e494a297a6bf570d9a91f41262/src/value.rs#L23-L79

[2022-01-13 16:46] #435 closed

[2022-01-13 17:16] #352 closed

[2022-01-13 17:18] #402 closed

[2022-01-14 04:10] billy1624 commented on #342
Closing this due to inactivity

[2022-01-14 04:10] #342 closed

[2022-01-14 22:09] kev0960 commented on #448
Oh Nice. Thank you :)

[2022-01-14 22:09] #448 closed

[2022-01-14 23:28] VaZark opened #457 "How to Deserialize an ActiveModel ? and a request for Serialization examples"
I'm trying to implement a basic CRUD app and I'm a bit lost. I'm trying to create a REST API with Axum. I've been trying to use the `Json(new_active_model)`. Is this not supported by Serde yet ?

[code]

Regardless of the problem that I'm facing, It'd be nice if the examples and/or docs were updated showing how to serialize and deserialize entities/models, as well as, examples for REST APIs

[2022-01-14 23:42] robot-head opened #458 "How do you supply a vector of values to a custom query for use in an `in` operator?`"
I'm trying to do a `find_by_statement` on a model, but my query contains something like:

`select column from table where column in (1,2,3)'

If I try to implement it as such, it does not compile:

[code]

[code]

Alternatively, if I try it as such:

[code]
I get a query error as the possible values become single quoted and interpreted as a string.

[2022-01-15 02:03] billy1624 commented on #457
Hey @VaZark, you can check web API demo in the `/examples` folder. Example for Actix, Rocket and Poem (#) are included

[2022-01-15 02:20] billy1624 commented on #458
Hey @robot-head, you can use the `is_in` method. It's just a wrapper method of sea-query's method

- https://docs.rs/sea-orm/latest/sea_orm/entity/prelude/trait.ColumnTrait.html#method.is_in

[2022-01-15 02:31] robot-head commented on #458
Right, but I want to do this in a custom query instead

[2022-01-15 02:38] robot-head commented on #458
That's what I was afraid of, and wanted to avoid doing so I was protected from sql injection etc.

It looks like sea-query supports this in the `Value` enum through a `postgres-arrays` feature flag.

Could we do similar for sea-orm?

https://github.com/SeaQL/sea-query/blob/master/src/value.rs#L76-L78