[2022-01-15 19:08] VaZark commented on #457
hI @billy1624, I played with the examples but it seems like the underlying issue is `the trait Serialize is not implemented for task::ActiveModel`.  (I generated the model with the sea-orm-cli generate entity)

So can the ActiveModel add support for Serialize? Or can I convert an ActiveModel to just a Model and just use derive Serialize on it?

I'm pretty new to rust so you can feel free to point

[2022-01-15 23:19] alper commented on #438
This was a huge gotcha for me trying to make the axum example work.

If you don't add `default-features = false`, you get exactly this error and it's very hard to figure out how to fix it. Diving into the Connections, all of them do derive Clone.

[2022-01-16 02:30] billy1624 commented on #457
If you want to get back the inserted / updated model in `Model` instead of `ActiveModel`. You can use `insert` / `update` method in sea-orm 0.5.x

[2022-01-16 11:07] VaZark commented on #457
Thanks. Insert was what I needed to get it working. Is it not possible to make the `ActiveModel` support `Serialize`?

[2022-01-16 11:15] VaZark opened #460 "Updating mutiple fields in a Model by passing a reference"
From what I've seen in the Basic CRUD section of the docs, it seems like we need to manually `Set` every field that needs to be updated before passing to the `update` function.

Is there any method to pass a reference and expect it to update all or most of the fields?

[2022-01-16 11:26] VaZark commented on #440
Some kind of recursive call with a base case that falls back to lazy loading/fetching reference for cyclic relations might be one way to go about it. But I can see how it can quickly escalate in complexity.

OTOH, running a subquery can be a workaround but that makes the application code messy quickly too.

[2022-01-16 20:34] BenJeau opened #461 "SeaORM CLI not adding serde derives to Enums"
I'm currently playing with `sea-orm` coming from `diesel-rs` and I love it! But I ran into this error while using enums and serde, the enums do not contain any serde derives.

### Reproduction

With a simple PostgreSQL schema

[code]

Running the following command (same behaviour with either `serialize`, `deserialize`, `both`):

[code]

Creates the following file with Enums that does not contain t

[2022-01-16 20:35] Rudi3 opened #462 "More than one self reference causes constraint issue with create_table_from_entity"
**EDIT:** Possibly a duplicate of https://github.com/SeaQL/sea-orm/issues/405

If you have more than one linked (self referencing) relation like  https://www.sea-ql.org/SeaORM/docs/relation/self-referencing with the pg backend, the postgres constraint will have the same name and the table won't be created.

[code]

[code]
[code]

Removing the second constraint manually makes the code work. (Howeve

[2022-01-16 20:46] BenJeau commented on #461
Just by looking at the source code, seems like enums are not treating imports the same way as entities.

Enums (https://github.com/SeaQL/sea-orm/blob/master/sea-orm-codegen/src/entity/writer.rs#L156) don't seem to care about serde whereas entities are using this function for generating imports (https://github.com/SeaQL/sea-orm/blob/master/sea-orm-codegen/src/entity/writer.rs#L231).

And as for the

[2022-01-16 21:18] Rudi3 commented on #462
I suppose, for a tree-like structure, it should be something like this:
[code]

[2022-01-17 02:43] billy1624 commented on #461
Seems like it has been forgotten unless it was intentional?

I can look into creating a PR adding serde derives to enums if it is wanted in this crate.

[2022-01-17 04:47] Dispersia opened #464 "Trying to design simpler inner join"
Hello, I'm trying to do a similar concept to find_also_related, but for inner joins instead of outer (which can then return a tuple of (element, element) instead of (element, Option<element>). However, I don't understand where the Option part of that query is actually coming from (from select_also). I'm still not great at following traits like this so was just hoping to have some guidance on that,

[2022-01-17 17:14] BenJeau commented on #47
I'm moving from `diesel` to this crate, and love it! Although I'm using `count` https://docs.diesel.rs/1.4.x/diesel/dsl/fn.count.html and would like it if it was implemented here too. I can help implementing it, if someone could help me/indicate what to do :)

[2022-01-18 03:42] billy1624 commented on #464
Hey @Dispersia, welcome!

The code snippet that control returning `(element, Option)` was
- https://github.com/SeaQL/sea-orm/blob/a517e9db1aa8447300c25c3cf7fcf06724d0b698/src/executor/select.rs#L97-L110

I think it's good that we can a public API specifically for mandatory relation. A PR would be welcomed!
Feel free to let us know if you need any help :P

[2022-01-18 03:45] billy1624 commented on #462
Hey @Rudi3, thanks for the report! Yes, this is related to #405, and should be fixed on #417. You can try the PR :)

[2022-01-18 03:53] billy1624 commented on #460
Hey @VaZark, I'm not sure what you mean by _"pass a reference and expect it to update all or most of the fields"_. Could you show me a demo for it? Thanks!

[2022-01-18 06:50] ltoddy opened #466 "Support connect database from db handler."
e.g.

[code]

[2022-01-18 13:39] billy1624 commented on #458
As a temporary solution, you can do

[code]

[code]

[2022-01-18 20:26] Rudi3 opened #470 "Query from raw SQL blows apart && operator in postgres"
A query like https://www.sea-ql.org/SeaORM/docs/basic-crud/raw-sql/ using `from_raw_sql` with a supplied string containing a `&&` operator will fail, as it gets converted into `& &`.

(The same seems to be the case for other array related postgres operators)

I don't know where it happens, but it might be in `sqlx`. As far as I could tell, it just gets passed to `sqlx` as a string without being mo

[2022-01-18 21:48] Rudi3 commented on #470
I don't know where it happens, but it might be in sqlx. As far as I could tell, it just gets passed to sqlx as a string without being modified or formatted.

[2022-01-19 11:30] robot-head commented on #458
Well, unfortunately the size of the array is variable so that won't work.

[2022-01-20 18:45] VaZark commented on #460
[code]

[2022-01-20 19:16] VaZark opened #474 "Example for deriving Model with default / nullable values"
The following code fails when used as the `id` field is not part of the `InputTask`. how to use `Default::default()` for an entity model when `transforming` from another Struct defined for input type. I'm trying to create a generic From so that I can reuse the idea with different models

[code]

[2022-01-21 02:37] billy1624 commented on #460
Related #346

[2022-01-21 02:40] billy1624 commented on #474
Hey @VaZark, see https://www.sea-ql.org/SeaORM/docs/advanced-query/custom-active-model

[2022-01-21 03:13] billy1624 commented on #466
Hey @ltoddy, is there any special reason for you to use `mysql_async` instead of `sqlx`?

[2022-01-21 06:48] ltoddy commented on #466
No.
Sometimes, the database used by developer is a cloud database.
For example, mysql.
The database client actually connects to the proxy, not the database itself .
In other words, connecting to the database is through service discovery not IP address.
Therefore, cloud service providers provide SDKs for service discovery, and SDK return the db handler.

[2022-01-21 06:51] ltoddy commented on #466
其实意思就是，使用云服务商提供的数据库，是通过服务发现的方式来连接数据库的，用户是不知道数据库真是的ip地址的。
使用云服务商提供的sdk，只能得到一个db handler，比如他们基于async_mysql库自己做了一个库，支持上了服务发现的方式去连接。
这样子，就无法使用sea-orm了。
所以，如果sea-orm支持了通过一个数据库连接，来得到sea-orm的DBConnection对象，这样子就可以使用sea-orm来连接云数据库了。

[2022-01-21 09:36] billy1624 commented on #466
Take Planetscale as an example, you have no fixed ip address access to the cloud db. But you can connect to it with a connection string `mysql://jp388djdawnod:pscale_pw_sVkiE_m1111111111111111@gxvhbzcxfw01.us-east-2.psdb.cloud/<DATABASE_NAME>`

[2022-01-21 09:55] ltoddy commented on #466
Your example uses the MySQL connection protocol header . But In my life, dsn like: "sd@<service_name>/<db_name>".

[2022-01-21 09:59] billy1624 commented on #466
I guess you have to specify the db protocol at the front, `db_protocal://sd@<service_name>/<db_name>`

[2022-01-21 11:12] Rudi3 commented on #470
This seems to be a wrong report - it gets debug printed as `& &`, but it actually executes normally.

[2022-01-21 11:12] #470 closed

[2022-01-21 14:32] billy1624 commented on #470
Hey @Rudi3, thanks for the update :P

[2022-01-21 17:09] ltoddy commented on #466
Not in front.
The process of parsing the protocol is:
1. service discovery read the DSN which like `sd@<service_name>/<db_name>`
2. client send request to service discovery center by <service_name> to get database proxy ip address
3. client establish connection with database proxy.
4. client send sql to db proxy, and then proxy send sql to db to execute it.

[2022-01-21 19:59] Sytten opened #475 "Surface max_lifetime connection option"
It is missing from the abstraction over sqlx, but is an important thing (specially for serverless)

[2022-01-21 20:09] callym opened #476 "Postgres JSONB support?"
I'm using sea-orm-cli to generate the entities for me, and I've got the following table in Postgres:

[code]

It generates the following:

[code]

Which then gives this error:

[code]

[2022-01-22 11:17] alper opened #478 "Where does a TableCreateStatement go?"
I want to create a new Model and have that create database tables as well.

I saw this: https://docs.rs/sea-query/0.20.0/sea_query/table/struct.TableCreateStatement.html

But where does it go? Will that automatically create a Model

[2022-01-22 20:35] alper commented on #478
I put it in my main and ran it once just like the Axum example.

[2022-01-22 20:35] #478 closed

[2022-01-22 20:37] alper commented on #478
Here's the line in the example: https://github.com/SeaQL/sea-orm/blob/master/examples/axum_example/src/main.rs#L37

Still not sure whether to run that on every application start or not.

[2022-01-23 01:23] Sytten opened #485 "Handle tables with no primary keys"
It it quite common to have tables with no primary key, here are a few use cases:
- Time series data (specially with TimescaleDB)
- One-to-many where individual elements are never references

It would be nice it was supported by sea-orm. At first I would be totally fine by just rendering the `Column` so we can use it with sea-query and later down the line do a better integration. Currently it is a

[2022-01-23 01:28] Sytten opened #486 "Allow to fetch entity and all related ones"
Consider the following example (where a release has multiple release_links):
[code]
This returns a `Vec<(Model, Vec<Model>)>`. Changing `.all` to .`one` yields a `Option<(Model, Option<Model>)>`.
For a One-to-Many relation this is really weird, what is expected is `Option<(Model, Vec<Model>)>`.

[2022-01-24 05:09] billy1624 commented on #457
Is there any reason you need to `Serialize` `ActiveModel`? I guess what you need is just getting POST data (`Model` without primary key attribute if it's insert) from end user and responding the saved `Model`

[2022-01-24 05:15] billy1624 commented on #440
At this early stage of sea-orm, we want to keep things simple, so we only allow fetching nested relation of one level deep, i.e. `Vec<(Foo, Vec<Bar>)>`. Anything beyond is just repetitive of it, fetching nested relation of two level deep, i.e. `Vec<(Foo, Vec<(Bar, Vec<Qux>)>)>`

[2022-01-24 07:17] billy1624 commented on #458
I wonder how complex is your query in `query.sql`? Making it difficult to build it with sea-query

[2022-01-24 07:27] billy1624 commented on #466
Seems you can perform the first two steps without sea-orm?

After you get the concrete IP then you can initialize the connection with sea-orm. e.g. `protocol://username:password@host/database`

Please correct me if I'm wrong

[2022-01-24 07:37] billy1624 commented on #475
Hey @Sytten, thanks for pointing that out. We can add that, in the meantime you can use one of [`from_sqlx_*`](https://docs.rs/sea-orm/0.5.0/sea_orm/?search=from_sqlx_) conversion method to setup the connection with `max_lifetime` config.

REF: https://docs.rs/sqlx/latest/sqlx/pool/struct.PoolOptions.html#method.max_lifetime

[2022-01-24 15:08] billy1624 commented on #476
Hey @callym, this has to be fixed in sea-orm-cli. As a temporary solution, can you change the generated code to below? Changing the `data: String` into `data: Json`.

[code]

[2022-01-24 15:26] callym commented on #476
Thanks, that seems to be working perfectly!

Is it possible to have `data: MyData` where `MyData` derives `serde::Deserialize`, and to have it "automatically" converted, instead of having to then have `serde_json::from_value(x).unwrap()` wherever I want to use it? Not sure if that's something that is supported and I'm missing it, isn't supported and is out of scope, or something that could potenti

[2022-01-24 15:32] billy1624 commented on #476
That would be nice! I think this is possible.

Related SeaQL/sea-query#185

[2022-01-24 15:59] billy1624 commented on #478
In this demo, yes, we run the create table statement every time on application startup. As I said in [another discussion](https://github.com/SeaQL/sea-orm/discussions/481#discussioncomment-2035054), once we have migration (#335) in place. You could migrate the database once by hand via the migrator CLI. But I would say running the migration automatically on application startup would be better, thi

[2022-01-24 16:02] billy1624 commented on #485
Hey @Sytten, do you mean generating entities of table without primary key will cause errors?

[2022-01-24 16:04] billy1624 commented on #486
Hey @Sytten, basically, calling one returns the first pair of related model i.e. `Option<(Model, Option<Model>)>`. And, calling all returns all of the pairs, `Vec<(Model, Vec<Model>)>`.

For a one-to-many relation you can expect the behaviour stated above happened.
But for a one-to-one relation you can expect both one and all will return zero or one pair of related model.

[2022-01-24 17:59] Sytten commented on #486
I guess then there should be a `first` which would return a `Option<(Model, Vec<Model>)>`? Basically the same query as all but with a `LIMIT 1` on the parent for performance reasons.

[2022-01-25 07:28] billy1624 commented on #381
We may also support `DateTime<Local>`. Then, we have full support over all three `chrono::DateTime`, namely `DateTime<FixedOffset>`, `DateTime<Utc>` and `DateTime<Local>`.

[2022-01-25 13:07] VaZark commented on #457
Yup. That's what I ended up doing. I was trying to come up with ways to not write new types by hand for each table.

[2022-01-25 13:07] #457 closed

[2022-01-25 13:13] billy1624 commented on #457
Nice! Feel free to ping us if you got any other questions :)

[2022-01-25 13:18] VaZark commented on #474
Thanks! That was exactly what I needed.

The custom active model seems like the closest thing to a `Serializer` from Django/DRF.

Do you reckon that each Model can have a `Model.asInputModel()` that autogenerates the base model just without the field marked as _primary_key_ as default?

[2022-01-26 04:56] billy1624 commented on #474
The concept of InputModel has been discussed in #101

[2022-01-26 05:27] ammongit commented on #476
I'm also able to fix the entity file by manually changing the type to `JsonBinary` and using `serde_json::Value` instead of `String`. One strange thing is that it works fine for `JSON`, but `JSONB` columns trip it up.

[2022-01-26 07:02] billy1624 commented on #476
Hey @ammongit, I have written a demo #488. Seems that `JSONB` is working. I can insert a row with `JSONB` datatype and retrieve it from the db.

[2022-01-26 07:04] ammongit commented on #476
Oh interesting, the `Json` datatype. Thanks, I'll look at this.

[2022-01-26 21:45] manuel-kolm opened #490 "sea-orm-cli generates wrong datatype for nullable blob"
I'm using `sea-orm-cli` to generate my entities for this table:

[code]
and the generated entity looks like this:
[code]

According to the documentation, the cli will convert a `BLOB` into a`Vec<u8>`. Since this is a nullable field it should be `Option<Vec<u8>>`  and not `Option<String>`

Thanks!

[2022-01-27 06:02] Madoshakalaka commented on #435
As a temporary workaround, I can confirm a random password works for Postgres (like `postgres://Matt:anythingworks@localhost:5432/my_db`). According to @jokil123 though, it doesn't seem to work for MySQL.

[2022-01-27 06:33] billy1624 commented on #435
Thanks! @Madoshakalaka
It has been fixed on latest master.

As a temporary solution, you can install the fixed version of sea-orm-cli by running
[code]

[2022-01-27 06:46] Madoshakalaka opened #491 "allow a feature gate option in codegen for use in different crates"
When the entities are shared between a backend and web frontend (like one built with [yew](https://github.com/yewstack/yew)), it's undesirable (and impossible maybe) to pack sqlx+sea-orm into the frontend, where the data are meant to be fetched by HTTP requests. The frontend does benefit from the structs and the serde traits though.

For this reason it might be desirable to allow a feature gate fl

[2022-01-27 10:48] billy1624 commented on #346
Hey @qyihua, please check PR #492

[2022-01-27 11:50] jmeischner commented on #334
+1

Thanks for creating this great library and cli 👍

[2022-01-27 12:20] billy1624 commented on #334
Hey @jmeischner, thanks for the love and support! :))

[2022-01-27 14:42] Madoshakalaka commented on #491
In the meantime, I crafted this super useful build.rs script. It's meant to be used in a frontend crate. It:
- parses entities in `backend/src/entities/`
- stripes away sea-orm attributes and extracts Model structs
- adds `serde::Deserialize` attributes and imports
- outputs the transformed code under `frontend/src/models/` (mod.rs/prelude.rs/<your_table_a.rs>/<your_table_b.rs)/..>)

[code]

The e

[2022-01-27 17:03] #405 closed

[2022-01-28 00:56] tyt2y3 commented on #491
Out of curiousity, what will SeaORM at the frontend?

[2022-01-28 03:01] Madoshakalaka commented on #491
The model structs generated by sea-orm help deserialize fetched data in the frontend

[2022-01-28 04:58] qyihua commented on #346
Thank

Hi, @billy1624 Thank you for your attention . The PR work for me

But in my use case, a web crawler, and the primary keys come from json. I think we also need to set primary keys come from json.
[code]

[2022-01-28 14:10] billy1624 commented on #346
If it's implemented in this way the `set_from_json` method might be confusing. Consider the following cases...

1. Given the original ActiveModel with primary key which is `NotSet`. After calling `set_from_json` method, primary key value will be `Set(JSON_primary_key_value)`

2. Given the original ActiveModel with primary key which is `Set(some_primary_key_value)` or `Unchanged(some_primary_key_va

[2022-01-28 14:44] billy1624 commented on #424
Hey @VaZark, sorry for the late reply.

For the eager loading of one to many relation, we use `find_with_related` method

[code]

It will query all parents and its children in a single select query

[code]

Then, aggregate the result into the shape `Vec<(active_enum::Model, Vec<active_enum_child::Model>)>` by going through the query result linearly from start to end (as the query result is sorted

[2022-01-29 03:35] qyihua commented on #346
To case 1, we can implement an associated function named `from_json`, this function will not backup or restore primary key values.
What do you think about it?

[2022-01-29 14:38] Johann150 commented on #395
I just got surprised by this when trying to implement something on a big legacy database whose structure I can not change. The code generation renaming columns in the code *without even telling me* means that the generated code does not work.

Please add this! 🙏

[2022-01-31 04:05] Madoshakalaka commented on #332
Looking forward to it! Thanks for the work!

[2022-01-31 07:36] billy1624 commented on #395
Hey @Johann150, we are releasing this fix soon, in the next sprint.

Btw... at the meantime you can clone the PR #433, then install the updated CLI.

[2022-01-31 08:09] Johann150 commented on #395
Thank you 😃

[2022-01-31 09:44] billy1624 commented on #346
Hey @qyihua, yeah, this make sense. Check https://github.com/SeaQL/sea-orm/pull/492/commits/50aeb1c42631781341dfc8ef240b4e83f13a0563

[2022-02-01 07:25] #381 closed

[2022-02-02 02:39] tyt2y3 commented on #485
That might be a bit tricky. I always have an assumption that for a table without primary key, the DB engine implicitly adds one and hides it from you anyway.
A table without primary key breaks many assumptions about the concept of "Entity", and hence methods like `find_by_id` is not possible too.
If we need to support it within SeaORM, we might have to invent a new concept, `Datum` I guess? (just

[2022-02-02 05:55] Sytten commented on #485
You are partially right. Databases in fact have a row ID no matter if you have a primary key or not.

Yeah it is probably hard to support in an ORM. I think my wish would mostly be to be able to still generate some entities for it (at least the columns and models) so they are usually with sea-query and dont break the build.

This would fit with my other issue on providing something in between the

[2022-02-02 12:30] tasn opened #499 "Support the time crate in addition (instead of?) chrono"
It looks like chrono has security issues that can't be fixed. It depends on an old version of the `time` library which is good on its own anyway. Should we add support for the time crate?

Is there a way for me to do it in our own code before support hits sea-orm?

More info: https://github.com/svix/rust-ksuid/issues/1

[2022-02-02 13:39] cemoktra opened #500 "PaginatorTrait for SelectorRaw"
Hi,

it seems this is not implemented at the moment, any plans on doing it?

[2022-02-03 03:00] t-sin opened #501 "Query `.one()` to empty Mock DB fails, instead of `Some(None)`"
If a Mock database has no records, querying with [`sea_orm::query::Select::one()`](https://docs.rs/sea-orm/0.5.0/sea_orm/query/struct.Select.html#method.one) fails instead of returning `Some(None)`.

## Details

This caused only in [mock database](https://docs.rs/sea-orm/latest/sea_orm/struct.MockDatabase.html). In case of mock database, by running the reproduction code below, I got an error messa

[2022-02-03 03:17] t-sin commented on #501
Woo I'm sorry, this situation cause by my fault. In reproduction code works by fixing like this:

[code]

I close this issue.

[2022-02-03 03:17] #501 closed

[2022-02-04 21:30] efrain2007 opened #503 "how to change the time zone?"
![image](https://user-images.githubusercontent.com/65697999/152605687-51879d65-0e0a-4dbd-8592-5bc533c91b01.png)
I want to change the time zone to connect in another zone

[2022-02-05 12:32] #333 closed

[2022-02-05 12:50] #475 closed

[2022-02-05 13:14] #395 closed

[2022-02-05 13:23] dragonJACson opened #524 "From Rust type char to ColumnType Char wouldn't work"

[2022-02-05 15:39] tyt2y3 opened #504 "Chore: test cases for sea-orm-macros"
thanks for the catch! @billy1624 I imagine we can also add some test cases using the MockInterface?

_Originally posted by @tyt2y3 in https://github.com/SeaQL/sea-orm/issues/494#issuecomment-1025049430_

[2022-02-07 01:38] #447 closed

[2022-02-07 02:33] helphi commented on #332
It's now Feb 2022, is it released?

[2022-02-07 03:05] billy1624 commented on #332
Hey @helphi, it will comes with sea-orm 0.6.0, it's around the corner. We are brushing up the docs today

[2022-02-07 03:33] AngelOnFira opened #506 "sea-orm-cli generate entity from sqlite generates String for boolean fields"
I haven't gotten to the bottom of diagnosing yet, but I have a table that has a boolean field, in an sqlite database. I'm trying to import the schema from it, but codegen is setting it to a String. Here is what the table looks like:

![image](https://user-images.githubusercontent.com/14791619/152718774-ca8750df-0da1-484e-9ab2-cb134ea7641b.png)

I debugged the schema from [this line](https://github

[2022-02-07 04:12] billy1624 commented on #506
Hey @AngelOnFira, could you also attach the SQL of the SQLite table? Thanks!

[2022-02-07 05:52] sergeyshaykhullin opened #507 "CockroachDB support"
Sqlx has a known issue with transations and MARS
https://github.com/launchbadge/sqlx/issues/933

Does sea orm has a workaround to do multiple inserts inside single transaction with CockroachDB?

tokio-postgres has no problems, so it might be fixed on client side somehow without waiting for https://github.com/cockroachdb/cockroach/issues/40195

[2022-02-08 19:39] nicoulaj commented on #148
I think this issue can be closed since #183 handled it ?

[2022-02-09 02:51] niuhuan commented on #332
I upgrade sea-orm to 0.6.0. I saw a migration program, like a database version controller, this is good.

I'm making a light app, table is compatible with lower versions.

I most desirable :  Auto add nonexistent columns and indexes, after run **Cake::auto_migrate(db).await?;** .

I think it would be better if I could support it.

[2022-02-09 06:33] billy1624 commented on #332
Hey @niuhuan, I think in terms of migration, we want things to be predictable. The auto migrate feature which create missing columns or indexes might not be desired. As it will perform operations under the hood.

You might want to set a baseline for the database schema then migrate it based on that.

[2022-02-09 13:57] cemoktra opened #510 "ltree"
We just played around with ltrees. `sea-orm-cli` currently generates an empty enum. Maybe for the special ltree case it shoud generate something like

[code]

Currently this ends up in `error: Missing macro attribute, either `string_value` or `num_value` should be specified`, so there would need to be a way to extract the string out of the Value variant.

[2022-02-09 14:20] billy1624 commented on #510
Hey @cemoktra, I guess you need to implement `ActiveEnum` manually instead of deriving `DeriveActiveEnum`.
https://www.sea-ql.org/SeaORM/docs/generate-entity/enumeration#manual-implementation

[2022-02-09 14:28] cemoktra commented on #510
Ok also possible, and what about mapping ltree to TEXT?

[2022-02-09 17:10] cemoktra commented on #510
But I think I'll provide some changes for ltree

[2022-02-10 10:23] billy1624 commented on #485
Hey @Sytten, you can select the `Datum` like below.

[code]

_Adapted from a Discord [message](https://discord.com/channels/873880840487206962/900758376164757555/940567015687606312) by jochen#5064_

[2022-02-10 10:56] billy1624 commented on #510
I'm not sure how `ltree` works.

But for `ActiveEnum`,
- on insert, it will generate SQL `'enum_value' AS enum_type`
- on select, it will generate SQL `enum_column AS text`

[2022-02-10 12:11] cemoktra commented on #510
I started with the basic work on sqlx: https://github.com/launchbadge/sqlx/pull/1696

[2022-02-10 12:15] billy1624 commented on #510
Thanks!! @cemoktra
Let me know if you need any help on it!

[2022-02-10 14:36] billy1624 commented on #485
Good idea! We could simply generate a Model struct and Column enum.

[2022-02-10 17:30] benluelo opened #511 "Reduce database connections to 1 during codegen"
## Summary

Currently, the default connection pool of SQLx is used which defaults to 10 connections. This could be reduced to 1 since codegen only performs readonly requests.

## Motivation

This can cause issues with databases that limit the amount of connections (my personal use case is ElephantSQL free tier, which limits to 5 connections).

[2022-02-11 03:57] billy1624 commented on #510
I think we can treat ltree as a simple string? Then, we don't need any additional SQLx dependency.
https://github.com/launchbadge/sqlx/pull/1696#discussion_r804343242

[2022-02-11 06:21] MattGson opened #512 "Better migration docs please!"
Right now, migrations looks like it contains some powerful features.
Unfortunately is is very difficult to work out what to use and how to use it.

From what I can see the docs first suggest using sqlx migrations? https://www.sea-ql.org/SeaORM/docs/install-and-config/schema
So I wrote some migrations and now have some tables.

Then they tell me that it can generate entities from existing table: ht

[2022-02-11 11:35] billy1624 commented on #512
Hey @MattGson, docs updated. See https://www.sea-ql.org/SeaORM/docs/install-and-config/schema

[2022-02-11 11:45] cemoktra commented on #510
Currently i get `thread 'test::test' panicked at 'not implemented', sea-orm/src/driver/sqlx_postgres.rs:8:1` when trying to filter for an LTree with .eq, also .contains wants a String instead of PgLTree

[2022-02-11 11:52] cemoktra commented on #510
Ok found the missing piece, sorry

[2022-02-11 13:40] tyt2y3 commented on #512
I think being schema first is (or should) be the default path. So the difference only comes down to defining the schema in raw SQL or in a database-generic syntax (which sea-query provides) plus being a programming language that could do more than SQL.

The problem with `create_table_from_entity` is that it is only good for the first time. Once we have a live database, we can only write migrations

[2022-02-11 13:42] #512 closed, assigned to nobody

[2022-02-11 16:51] billy1624 commented on #499
Hey @tasn, thanks for the suggestion! I think it's more future proof to adopt `time`.

Related PRs
- https://github.com/SeaQL/sea-query/pull/254
- https://github.com/SeaQL/sea-query/pull/256
- https://github.com/SeaQL/sea-orm/pull/508

Shout-out to @cemoktra!

[2022-02-11 17:31] Hirtol commented on #506
If the datatype displayed in your screenshot is correct then you've got the wrong type.

It should be a `boolean` instead of a `bool`. Sea-schema parses the types [here](https://github.com/SeaQL/sea-schema/blob/e099830418c207021f96b9842284491c40bf7e24/src/sqlite/types.rs#L72).

`bool` would then be parsed as a `BLOB` instead in your case. (Though `BLOB` has also got the wrong type at the moment, b

[2022-02-11 18:16] tasn commented on #499
Ha, I thought I missed those PRs, but I opened this ticket before these PRs were opened. :P

[2022-02-11 18:54] cemoktra commented on #499
You can take my starts and finalize it, I'm busy with different stuff right now but also interested in this.

[2022-02-12 11:04] niuhuan commented on #332
This is very important if it is the server side.

But I used sea-orm on mobile app, It never downgrades. I look forward to supporting automatic migration in the future.

[2022-02-12 15:58] feelingnothing opened #517 "sea_orm::DatabaseConnection should implement `Clone` by default"
Because `MockConnection` is under an `Arc` - `DatabaseConnection` can implement `Clone` by default
https://github.com/SeaQL/sea-orm/blob/f418c4e58069cb7ae42b79c721a44c8bb8915f1a/src/database/db_connection.rs#L18
https://github.com/SeaQL/sea-orm/blob/f418c4e58069cb7ae42b79c721a44c8bb8915f1a/src/database/db_connection.rs#L31

[2022-02-12 20:45] erayerdin opened #520 "Distribute `sea-orm-cli` by Binstall"
[cargo-binstall](https://github.com/ryankurte/cargo-binstall) is a project letting prebuilt binaries to be downloaded instead of compiling the code locally like `cargo install` does. This would save a lot of time.

[2022-02-13 02:57] MattGson opened #521 "sea-orm-cli migrate doesn't respect DATABASE_SCHEMA in .env file"
## Description

Running the command:
[code]
Always runs migrations against the `public` schema in PostgreSQL rather than the schema specified in `.env`

## Steps to Reproduce

1. Create `.env` file with `DATABASE_SCHEMA=not_public`
2. Run `sea-orm-cli migrate...`

### Expected Behavior

Migrations are run in specified schema

### Actual Behavior

See that all migrations were run in `public` schema

[2022-02-13 08:08] billy1624 commented on #521
Hey @MattGson, PostgreSQL's migration currently only operate on `public` schema for now. We will respect `DATABASE_SCHEMA` in .env file soon.

[2022-02-13 08:28] billy1624 commented on #520
Hey @erayerdin, thanks for the suggestion! Yeah, this would be a huge speedup :P

[2022-02-13 11:15] billy1624 opened #522 "How do you seed data in migrations using ActiveModels?"
### Discussed in https://github.com/SeaQL/sea-orm/discussions/519

<div type='discussions-op-text'>

<sup>Originally posted by **Drakota** February 13, 2022</sup>
I'm trying to seed data directly inside a migration, but I'm unable to get a DatabaseConnection handle to be able to do it.
[code]
I tried something like this, but I'm getting:
`the size for values of type 'dyn sea_schema::migration::sea

[2022-02-13 11:45] billy1624 commented on #517
Hey @feelingnothing, good observations! We have discussed it previously, see
- https://github.com/SeaQL/sea-orm/issues/438#issuecomment-1007968237

[2022-02-13 14:12] billy1624 commented on #517
How about we exclude `mock` feature from default feature? This way normal user will have cloneable `DatabaseConnection` out of the box.

[2022-02-13 15:16] billy1624 commented on #499
I will, if I have the time to do so.

Others are welcome to contribute :)

[2022-02-13 15:23] billy1624 commented on #506
Nice observations! @Hirtol
Thanks!!

[2022-02-13 15:36] sergeyshaykhullin commented on #507
I need an insert

[2022-02-13 15:37] billy1624 commented on #507
Oh, right.

[2022-02-13 15:43] billy1624 commented on #503
Hey @efrain2007, you can check this comment made by SQLx team.
- https://github.com/launchbadge/sqlx/issues/329#issuecomment-631313940

[2022-02-13 15:55] sergeyshaykhullin commented on #507
Yes

1. You need a running cockroachdb

[code]

2. Connection string

[code]

3. And something with the insert

https://github.com/SeaQL/sea-orm/blob/f418c4e58069cb7ae42b79c721a44c8bb8915f1a/examples/axum_example/src/main.rs#L131

To reproduce you will need to wrap create_post with transaction

[2022-02-13 16:39] niuhuan commented on #332
Yes, is client side. I'm using.sea-orm and sqlite.
Save user preferences, album, lesson, video. it are not many tables.

[2022-02-13 17:20] feelingnothing commented on #517
Sound cool, considering that not much people would write tests with `sea-orm` along the lines, but the main problem is that if person would have to write a test with it, that person would lose `Clone`, also the fact that it is a breaking change. My point on either making separate `MockDatabaseConnection` specifically for testing purposes, or making `Clone` a default for `DatabaseConnection`.

[2022-02-14 06:10] dragonJACson commented on #524
OK, thanks! So is this waiting to be implemented or is something wrong with my code?

[2022-02-14 06:56] conanchen opened #526 "sea-orm-cli generate entity warning for license template"
## Description

## Steps to Reproduce

1. run ❯
[code]

### Expected Behavior

without error

### Actual Behavior

[code]

### Reproduces How Often

yes

## Versions

[code]
## Additional Information

[2022-02-14 07:06] conanchen opened #527 "sea-orm-cli generate entity: auto_increment should be true?"
## Description

with sqlite schema :
[code]

## Steps to Reproduce

1. sea-orm-cli generate entity -o src/entity
2. check src/entity/nodes.rs
[code]
3.

### Expected Behavior
the generated code should be true for auto_increment ?
[code]
### Actual Behavior

 #[sea_orm(primary_key, auto_increment = false)]

### Reproduces How Often

yes

## Versions

❯ cargo tree | grep sea-

db-sea-orm v0.1.0 (/db

[2022-02-14 13:15] isgj commented on #486
That will complicate the query builder as there is no easy way to limit on one of the join tables. It can be achieved with a subquery like:

[code]

and if the conditions involve both the tables the join should happen also in the subquery.

I guess you can do:

[code]
The result will be of type `Vec<(Model, Vec<Model>)>` and the `len` at most `1`

[2022-02-14 14:56] syrflover opened #529 "Why added `order by PRIMARY KEY asc` to `SelectTwoMany`?"
Hello. thanks for creating great crate this `sea-orm`

I had problem, so  i wrote this post.

[Please check this code.](https://github.com/syrflover/select-two-many-example/blob/master/src/main.rs)

my expected is
[code]

but actually
[code]

I find this code

https://github.com/SeaQL/sea-orm/blob/e63d4631559c0fac369f0a94fcabebaaf36f1d29/src/query/combine.rs#L130

why added `order by "food_truck".

[2022-02-14 16:20] e-rhodes opened #530 "Datetime fields are not serialized by .into_json() on queries"
## Description
When using the `.into_json()` method to load the result of a query into a `JsonValue` object, the resulting JSON is missing any date/datetime fields (chrono `Date`/`DateTime<Tz>` objects) that were present in the model.

## Steps to Reproduce

1. Create a model/database with date and/or datetime fields.
2. Query the data in that model.
3. Call `.into_json()` on the result.

### Expe

[2022-02-15 08:32] billy1624 commented on #529
Hey @syrflover, welcome! Good observations! Please find the explanation on https://github.com/SeaQL/sea-orm/issues/424#issuecomment-1024289619

[2022-02-15 09:15] billy1624 commented on #332
Cool! I guess you can always run the follow code on startup to make sure clients' SQLite schemas are up to date?

[code]

REF: https://www.sea-ql.org/SeaORM/docs/migration/running-migration#migrating-programmatically

[2022-02-15 10:34] sergeyshaykhullin commented on #507
I can't see begin transaction here 😅

[2022-02-15 10:49] billy1624 commented on #507
Ok, now we have transaction, https://github.com/SeaQL/sea-orm/pull/531/commits/340e3a0811b8af3f87464cb1014b9faf5ab6e1dd. Works as well loll

[2022-02-15 10:49] hunjixin opened #532 "cannt exec find on sea orm, report which is required by `&mut entity::worker_info::Entity: Iterator`"
[code]

[2022-02-15 10:53] hunjixin commented on #532
my models is below
[code]

[2022-02-15 10:57] billy1624 commented on #532
Hey @hunjixin, I guess you are missing some imports.

Try importing the prelude with
[code]

[2022-02-15 11:12] billy1624 commented on #524
Hey @dragonJACson, what database are you using?

I would say the docs is wrong. Database `Char` should corresponds to `String` in Rust.

[2022-02-15 11:13] sergeyshaykhullin commented on #507
@billy1624  Hmm, interesting... You need multiple inserts to catch this error...

![image](https://user-images.githubusercontent.com/46970457/154050889-8a1f01fc-2e3b-4d40-b47b-2d75d3024438.png)

[2022-02-15 11:28] sergeyshaykhullin commented on #507
Also i found another one)
![image](https://user-images.githubusercontent.com/46970457/154053337-c9143191-6a91-4825-a435-bf970de53939.png)

[2022-02-15 13:25] #532 closed

[2022-02-15 13:36] dragonJACson commented on #524
I am using SQLite currently.

OK, I understand now, thanks for the reply!

[2022-02-15 14:26] billy1624 commented on #507
Oh. Okay, hidden bug...

[2022-02-16 03:56] syrflover commented on #529
@billy1624, I understand. thanks for comment and have a nice day!

[2022-02-16 03:56] #529 closed

[2022-02-16 07:44] billy1624 commented on #529
Thanks!

[2022-02-16 10:50] Ilqjx opened #536 "Entity"
I use sea-orm-cli to generate entities, but I don't see Entity in the file.

pub use super::animal::Entity as Animal;

[code]

[2022-02-16 11:04] billy1624 commented on #536
Hey @Ilqjx, welcome! Good questions!

The `DeriveEntityModel` proc_macro actually defined `Entity` struct and implemented `EntityName` trait for you under the hood.

[code]

_Adapted from https://www.sea-ql.org/SeaORM/docs/generate-entity/expanded-entity-structure#entity_

The source code of `DeriveEntityModel` proc_macro:

https://github.com/SeaQL/sea-orm/blob/56cf4ea662dc4865176650f34b0bc08cbed9

[2022-02-17 01:37] Ilqjx commented on #536
Thanks for your reply

[2022-02-17 01:38] Ilqjx commented on #536
@billy1624 Thanks for your reply

[2022-02-17 04:43] billy1624 commented on #526
Hey @conanchen, sorry for the delay. I can't reproduce the warning messages that you got.

I executed the following command
[code]

I wonder if you have some extension enabled so that the warning messages was generated?

[2022-02-17 04:49] billy1624 commented on #527
Hey @conanchen, it's expected that the following Entity will be generated

[code]

As the primary key does not `AUTOINCREMENT`

[code]

To make it `AUTOINCREMENT`, you should add the keyword

[code]

[2022-02-17 07:48] Ilqjx opened #540 "Cascade"
Table Person
![image](https://user-images.githubusercontent.com/53934234/154426814-ad681874-b1b2-43ce-8d2d-d58ba1c6418a.png)

Table Animal
![image](https://user-images.githubusercontent.com/53934234/154426760-6c4bd898-f5a5-416a-8419-8429f2042a22.png)

The generated model is like this, I mean a person has many animals, but I don't see anything similar to the generation of `animals: Vec<Animal>`. If

[2022-02-17 07:49] billy1624 commented on #530
Hey @e-rhodes, sorry for the delay. Thanks for providing a minimal reproducible example! Please check #539 for the fix.

[2022-02-17 08:03] billy1624 commented on #540
Hey @Ilqjx, you can select related models via lazy loading or eager loading.
More on https://www.sea-ql.org/SeaORM/docs/basic-crud/select#find-related-models

[2022-02-17 08:18] Ilqjx commented on #540
Hello @billy1624, I know these two apis exist, what I want to know is can `animals: Vec<Animal>` be included in the generated struct. Like this:
[code]
This will make it more convenient to obtain animals, such as `person.animals`.

[2022-02-17 09:28] Ilqjx opened #541 "PartialEq"
I might be able to solve this problem #540 like this, but

![image](https://user-images.githubusercontent.com/53934234/154445551-87d4b094-3421-4c4a-be61-dbabe6790bc9.png)

I wonder if this `PartialEq` is important, can i remove it?

[code]

[2022-02-17 10:03] Ilqjx commented on #541
Or I can fix this by [Custom Active Model](https://www.sea-ql.org/SeaORM/docs/advanced-query/custom-active-model)?

[2022-02-17 10:26] billy1624 commented on #541
You can safely remove it.

[2022-02-17 10:28] billy1624 commented on #540
Similar feature is under development, see #415 for details

[2022-02-17 10:38] Ilqjx commented on #540
Ok, thanks for your reply.

[2022-02-17 10:39] Ilqjx commented on #540
Ok, thanks for your reply.

[2022-02-17 10:40] Ilqjx commented on #541
Thank you very much for your reply

[2022-02-18 02:36] #540 closed

[2022-02-18 08:45] johannescpk opened #544 "Compile time checked Raw SQL"
## Summary

Currently Raw SQL isn't compile time checked, but since sea-orm builds on sqlx, which has compile time checks as its main feature, it would be great to allow those in sea-orm as well.

## Motivation

Compile time checks for raw sql give confidence and help you to not break things when writing SQL.

## Additional Information

Not sure if this is even feasible with sea-orm.

[2022-02-18 17:03] zbinhazzaa opened #546 "Fn selector::one"
I was try to use [sea_orm::Selector::one](https://docs.rs/sea-orm/0.6.0/sea_orm/struct.Selector.html#method.one)
The return of the function is Result<Option<S::Item>, DbErr>
I expected if the database not exist or record is not found then i will have DbErr enum which will describe the error, but the actual behavior i always i get Ok(None)
the database is SQLite.

[2022-02-18 20:18] fairingrey opened #547 "Trait conflict when implementing `IntoActiveModel<A>` by hand"
## Description

Trying to implement [`IntoActiveModel<A>`](https://docs.rs/sea-orm/0.6.0/sea_orm/entity/trait.IntoActiveModel.html) gives the following error:

[code]
I can't use `DeriveIntoActiveModel` either since I'm unaware how to specify (via attribute or etc) the specific `ActiveModelTrait` type that my type converts into (since I define it outside of my crate). It's worth mentioning however

[2022-02-19 22:42] koptan commented on #547
facing the same issue

[2022-02-20 10:59] #490 closed

[2022-02-20 13:41] xodix opened #548 "String primary key with default auto_incrementing breaks app."
## Description

When using String as primary key "Execution Error: Failed to find inserted item" appears.

## Steps to Reproduce

Entity model:

[code]

actix web function:

[code]

### Expected Behavior

If 'json' model is correct it should be inserted to db and 'res' should not return Err.

### Actual Behavior

Wild "Execution Error: Failed to find inserted item" appears when 'json' model is cor

[2022-02-20 13:47] billy1624 commented on #548
Hey @xodix, welcome! I wonder why the `id` column is of Strong type?

[2022-02-20 13:48] billy1624 commented on #548
And, is the `id` column an auto generated column?

[2022-02-20 13:49] xodix commented on #548
Some primary keys are meant to be representation of ID codes found in an ID card or a passport ID.

[2022-02-20 13:50] xodix commented on #548
I am working with an existing database not generated by SeaORM.

[2022-02-21 00:09] koptan commented on #547
@fairingrey  if you define your implementation of trait in inside entity create the error will gone.

I am still new to rust, but think this is related to orphan rule I guess.

[2022-02-21 02:22] billy1624 commented on #547
Hey @fairingrey, welcome!

The `UpdateUser` struct should have two non-null fields since both of them are required in the original Model.

So, we have...

[code]

[2022-02-21 02:29] billy1624 commented on #547
Hey @koptan, you manage to solve the errors by moving the trait implementation inside entity crate?

[2022-02-21 02:30] fairingrey commented on #547
Thanks for the welcome :slightly_smiling_face:

I know that works, but maybe more related to #322 -- Is it not possible for `UpdateUser` to act as a sort of changeset? i.e. if `name` is None then the active value for it should be unchanged. I'm using this for a PUT endpoint, so some values should stay the same.

[2022-02-21 02:33] Ilqjx opened #549 "Default"
Why do you need to implement the `Default` trait, what is the rationale for implementing it, and does it matter?

[code]

[code]

[2022-02-21 02:34] fairingrey commented on #547
Just as another question but in https://github.com/SeaQL/sea-orm/blob/master/src/entity/active_model.rs#L573-L599

I've patched it for my use case by including the following:

[code]
But I'm wondering if or why it wouldn't make sense. Is `NotSet` intended for updating with `NULL` values?

[2022-02-21 02:51] billy1624 commented on #549
Hey @Ilqjx, I think this `Default` trait bound is not part of SeaORM.

[2022-02-21 03:02] Ilqjx commented on #549
Hello @billy1624, look at this.
![image](https://user-images.githubusercontent.com/53934234/154882152-2a9b2e58-8de9-4927-b87b-d3eb376552b9.png)

[2022-02-21 03:20] billy1624 commented on #549
Oh, okay. If it's being tagged with `#[sea_orm(ignore)]`, it will be using `Default::default()` when unwrapping from QueryResult.

https://github.com/SeaQL/sea-orm/blob/858953b4781b6d43162538fd0b02b9e29c9c0738/sea-orm-macros/src/derives/model.rs#L109-L123

[2022-02-21 03:32] billy1624 commented on #547
`NotSet` is intended to represent a undefined state. You could say it's a `NULL`. `Unchanged` takes `sea_query::Value` because it represent the state of a value. This info is useful for us to determine which attributes are updated and has to be included in SQL UPDATE statement.

[2022-02-21 03:37] billy1624 commented on #547
With the patch you made, I think it's good enough for your current use case. Btw... #492 might be helpful to you.

[2022-02-21 03:37] Ilqjx commented on #549
Thank you so much for your reply, it let me know why.

[2022-02-21 03:37] #549 closed

[2022-02-21 03:39] billy1624 commented on #548
Ok, the `id` column does not auto increment on its own. So, it normal to specify `#[sea_orm(auto_increment = false)]` on the Model.

[2022-02-21 03:39] billy1624 commented on #549
Welcome!

[2022-02-21 03:48] fairingrey commented on #547
I see. Regarding the patch, I'll definitely take a look at that (as I would like not to resort to my own patches if possible). Thanks for the quick responses!

[2022-02-21 05:16] fairingrey commented on #547
I updated this issue to better reflect my original problem. You're free to close it if this is not the intended way of using the library, although it might be worth mentioning in the guides e.g. [here](https://www.sea-ql.org/SeaORM/docs/advanced-query/custom-active-model)

[2022-02-21 06:13] Ilqjx opened #550 "Generate database table from struct"
## Summary

Generate database table from structure.

## Motivation

The entities generated by sea-orm-cli are sometimes not very expected, and the structure of the generated entity needs to be modified or a structure is defined for conversion.

## Additional Information

[2022-02-21 10:18] Ilqjx opened #552 "Update / Delete by id"
Is there something like `find_by_id(1).one(&db)` for `update` and `delete`?

Look like `update_by_id(1).one(&db)` and `delete_by_id(1).one(&db)`.

[2022-02-21 11:19] koptan commented on #547
Yes

[2022-02-21 14:46] baoyachi commented on #547
Oh,Seems to be at the wrong person. @koptan

[2022-02-21 14:51] koptan commented on #547
@baoyachi  sorry my bad, I will modify the mention.

[2022-02-22 09:21] cemoktra opened #553 "The try_get function on MockRow unwraps"
## Description

While a real implemention of try_get returns an error, the MockRow unwraps on not found keys. This makes testing a bit harder:
[code]

## Steps to Reproduce

1. Have a struct with custom `FromQueryResult`
2. Have JSON_EXTRACT columns that are optional
3. Try to test it this with `#[serde(skip_serializing_if = "Option::is_none")]`

### Expected Behavior

It should return `DbErr`

##

[2022-02-23 07:53] grtlr opened #554 "`#[sea_orm(indexed)]` only works for MySQL"
## Description

Using the `#[sea_orm(indexed)]` property only works for the MySQL backend and crashes when using sqlite.

## Steps to Reproduce

Put the `#[sea_orm(indexed)]` property on any field of a struct that derives `DeriveEntityModel` while using a sqlite backend.

### Expected Behavior

Ideally it would create the index, but at least it shouldn't crash, emitting an error at compile time.

[2022-02-23 09:03] milesgranger opened #555 "Failed to generate entities for large schema"
## Description

When testing out the project, specifically generating entities for a schema we use which has nearly 1,000 tables, the following results:

[code]

## Steps to Reproduce

Difficult, but generating a lot of tables, which may have hundreds of columns can reproduce this error.

### Expected Behavior

Same behavior (works) on small schemas with ~20 tables.

### Actual Behavior

`PoolTime

[2022-02-23 12:56] nickb937 commented on #554
I'd opened a similar issue, incorrectly against sea-query, too : https://github.com/SeaQL/sea-query/issues/232

[2022-02-27 00:11] MattGson commented on #160
This applies to all cases where we want to filter the right-hand table, not just soft-deletions.

[2022-03-01 01:26] GreenYun opened #559 "Make `QueryResult.row` and `QueryResultRow` public for helping users define their custom types and impl `TryGetable`"
## Summary

Make `QueryResult.row` and `QueryResultRow` public for helping users define their custom types and impl `TryGetable`

## Motivation

I am using PostgreSQL and I have made some composite types. For ORM, I want to create my custom types and their value parser. When I tried to implement `TryGetable`, I found it impossible to get information inside `QueryResult`.

## Additional Information

[2022-03-01 02:45] GreenYun opened #560 "Add upsert method for `EntityTrait`"
## Summary

Add upsert method for `EntityTrait`

## Motivation

It is useful and SQL database servers have such query syntax to do this.

## Additional Information

PostgreSQL: [INSERT](https://www.postgresql.org/docs/current/sql-insert.html)
SQLite: [upsert](https://www.sqlite.org/lang_UPSERT.html)
MySQL:  [INSERT ... ON DUPLICATE KEY UPDATE Statement](https://dev.mysql.com/doc/refman/8.0/en/inse

[2022-03-01 06:45] sukechris opened #561 "Is there a way to query tree structure json data in sqlite?"
Thank you for your great work! I encountered a problem, I have a field in my sqlite table, and this field is tree structure json data, like this：

[code]

I want to query `title` value by keyword, Is there a good way to achieve it?

[2022-03-01 09:41] billy1624 commented on #544
Hey @johannescpk, thanks for the suggestions!

I guess you are talking about this?
- https://docs.rs/sqlx/0.5.11/sqlx/macro.query.html

For SeaORM, it does not force user to provide environment variable of `DATABASE_URL` at build time (compile time). However, to use `sqlx::query!` it was a must, as stated on the SQLx docs.

[2022-03-01 09:46] billy1624 commented on #546
Hey @zbinhazzaa, welcome! I wonder if you are connecting to an in-memory SQLite? It will be created on-the-fly without the need to initialize. Hence, no errors will be thrown. Also, from what I understand, SQLite does not support multiple databases / schemas. It only contains one database / schema and with multiple tables in it.

[2022-03-01 10:14] billy1624 commented on #552
Hey @Ilqjx, interesting idea!

For delete, I think it's make sense to delete by id. I support adding a new API for it.

For update, I would say it's natural to select the ActiveModel from db then alter the row then save it back to db.

[code]

Or, update any rows exists that match specific conditions.

[code]

I'm not sure how `update_by_id(1).one(&db)` would work? Can you explain more with it?

[2022-03-01 10:25] billy1624 commented on #553
Hey @cemoktra, thanks for the bug report! I'm still not sure how to reproduce it. Could you please provide a minimal reproducible example? Thanks!!

[2022-03-01 10:37] billy1624 commented on #555
Hey @milesgranger, thanks for the report! Actually, we haven't try to run `sea-orm-cli generate entity` on a huge database. I think there are some bottleneck when querying the metadata from the information schemas. We would try to reproduce the errors with a large database then identify the bottleneck.

[2022-03-01 10:39] billy1624 commented on #554
Thanks!! @grtlr

As discussed on Discord the first thing I would do was this.

[2022-03-01 20:40] Eugeny opened #563 "CLI help on options order is misleading"
`sea-orm-cli migrate --help` suggests:

[code]

According to this, `sea-orm-cli migrate -d x-db-migrations fresh` should work, but doesn't (`-d` is not applied).

`sea-orm-cli migrate fresh -d x-db-migrations` does.

[2022-03-02 05:00] #561 closed

[2022-03-02 08:26] billy1624 commented on #559
Hey @GreenYun, I think you don't need to make `QueryResult.row` and `QueryResultRow` public to implement `TryGetable`.

Checkout some of the related discussion and PR:
- #139
- #400

[2022-03-02 08:55] billy1624 commented on #440
Hey @shutton, thanks for the proposal!

Related discussion:
- #557

[2022-03-02 09:09] sukechris commented on #561
@billy1624 I don't know how to solve it with sea-orm for now，but I realized this issue may not be related to sea-orm，It's possible to solve it by native sqlite query with `json_each` or `json_tree`，and I'll try it later

[2022-03-02 09:25] billy1624 commented on #561
Got it! Thanks for the updates :P

[2022-03-02 23:25] toadslop opened #571 "Feature/Doc Request: Unique Constraint Across Columns"
## Summary

This may either be a documentation request or a feature request.
Most databases support unique contraints across columns such that there can be no record in the table where the combination of values between two columns are identical. So far from the documentation I can't find anything about this feature.

If the feature already exists, I'd like some documentation about it.

If it doesn

[2022-03-03 22:08] aaronleopold commented on #269
Would you be interested in an axum+async-graphql example?

[2022-03-04 02:27] hf29h8sh321 opened #575 "Be able to Deserialize a ActiveModel directly"
## Summary

Be able to Deserialize a ActiveModel directly

## Motivation

Insert a model without certain columns (such as no primary key, nothing in nullable column)

[2022-03-04 02:31] hf29h8sh321 opened #576 "Be able to support Array in database"
## Summary

Be able to directly support Array in database

Such as `text[]`

## Additional Information

Right now it is represented by a custom `column_type = "Custom(\"array\".to_owned())"` and the type in struct is `String`, not `Vec<T>`

[2022-03-04 08:06] yb3616 opened #579 "sea-orm-cli: Ident cannot be a number"
## Description

Error reported with `sea-orm-cli` when there is one of the Enum variant is of integer / number in the sql table.

## Steps to Reproduce

Error reporeted when `'k1','k2'` changed to `'1', '2'`
![image](https://user-images.githubusercontent.com/8839021/156723477-1ee65ae9-8f7a-465a-9c49-d3b205debc16.png)

![image](https://user-images.githubusercontent.com/8839021/156723662-fd468ccf-90

[2022-03-04 10:19] fistons opened #581 "sea-orm-cli generate --with-serde does not work on Postegresql custom type"
## Description
Using a Postgresql database, I have a custom type
[code]
I'm using `sea-orm-cli generate entity --with-serde both -o entity/src` to build my entities and my custom type entity does not derive
Serialize/Deserialize, preventing my other entity relying on it to build.

## Steps to Reproduce

1. Create an enum type in Postegresql
2. Use this enum type in some other
3. Generate your enti

[2022-03-04 10:41] Ilqjx commented on #550
It's not what I thought. Look this
[code]
Generate the person table in the database based on this Person struct.

[2022-03-04 10:47] Ilqjx commented on #552
Indeed, delete are useful and update are unnecessary.

[2022-03-04 10:56] billy1624 commented on #581
Hey @fistons, thanks for reporting!

Related Issue & PR:
- #461
- #463

[2022-03-04 12:38] billy1624 commented on #571
Hey @toadslop, good questions! Unique constraint of single column is supported. See https://www.sea-ql.org/SeaORM/docs/generate-entity/entity-structure#additional-properties. However, unique constraint with multiple columns is not supported at the moment.

[2022-03-04 12:48] billy1624 commented on #575
Hey @hf29h8sh321, welcome! This has been discussed before. Let me know your thoughts on it!
- #457

[2022-03-04 12:55] billy1624 commented on #576
Hey @hf29h8sh321, I assumed you mean supporting Array of some permitives for PostgreSQL?

[2022-03-04 15:51] hf29h8sh321 commented on #576
@billy1624 For example, `Vec<String>`

[2022-03-04 15:54] hf29h8sh321 commented on #575
@billy1624 I looked into that discussion, but my motivation is different. If the HTTP Client wants to create a new task (example in the discussion), they only provide title and text, and not provide any id. The only way right now would be to create a separate struct that does not contain the id, and map each key to the ActiveModel.

[2022-03-06 13:56] #461 closed

[2022-03-06 14:57] #438 closed

[2022-03-06 14:57] #517 closed

[2022-03-06 14:58] nag763 opened #585 "" Join as " feature in order to avoid SQL errors when joining several times a SQL table"
## Description

When joining several foreign keys referencing the same key in the same table, the generated SQL query fails.

## Steps to Reproduce

1. Set up a new cargo project

[code]

2. Create a similar SQL model wherre one table has two foreign keys referencing the same table (here football example :soccer: ) :

[code]

Schema visualized :

![schema](https://user-images.githubusercontent.com

[2022-03-06 15:18] #522 closed

[2022-03-06 19:14] hf29h8sh321 opened #586 "Postgres timestamp column type"
## Description

## Steps to Reproduce

1. Create table with column with type `timestamp`
2. Use cli to generate struct
3. Insert a value

### Behavior

[code]

### Reproduces How Often

Always

## Versions

Postgres 14.1

[code]

[2022-03-07 05:00] billy1624 commented on #269
Hey @aaronleopold, definitely interested!

[2022-03-07 16:38] aaronleopold commented on #269
@billy1624 awesome! I added my personal template that I use for my projects over the weekend to a fork, feel free to [take a look](https://github.com/aaronleopold/sea-orm/commit/621aaa22dd477df9d21e11a15899cec34c930e2b). I'll be able to make a PR after work today.

[2022-03-07 16:40] billy1624 commented on #269
Thanks!! @aaronleopold

[2022-03-08 06:21] thesakshidiggikar commented on #585
Hlo , I would like to contribute for solving this issue ,can you plz let me know how to contribute .

[2022-03-08 07:27] billy1624 commented on #585
Hey @nag763, thanks for the report! Yes, I think we can add a `join_as` method as you have suggested.

[2022-03-08 07:29] billy1624 commented on #585
Hey @thesakshidiggikar, thanks for contributing!! :D

Basically, we can use the API provided in SeaQuery
- https://docs.rs/sea-query/0.22.0/sea_query/query/struct.SelectStatement.html#method.join_as

We can add a additional method called `join_as` in SeaORM, similar to `QuerySelect::join` method

https://github.com/SeaQL/sea-orm/blob/27143a8ddc3ffce03cfcd6e0e92d955006d4c6e8/src/query/helper.rs#L16

[2022-03-08 07:31] billy1624 commented on #586
Hey @hf29h8sh321, thanks for the report! I guess you are on PostgreSQL database?

[2022-03-08 08:38] billy1624 commented on #586
I could not reproduce the error.

1. PostgreSQL 13 table schema

[code]

2. SeaORM entity

[code]

3. Insert operation

[code]

[2022-03-08 09:07] billy1624 commented on #476
I'm closing this. As `JSONB` datatype is working in the demo shown in #488

[2022-03-08 09:07] #476 closed

[2022-03-08 09:08] billy1624 commented on #575
I see, perhaps this will be helpful?
- #346
- #492

[2022-03-08 09:09] billy1624 commented on #576
Okay, this has been discussed before
- #151

[2022-03-08 09:10] billy1624 commented on #552
I will open this issue for contributions :)

[2022-03-08 09:15] billy1624 commented on #550
Yes, `create_table_from_entity` method does what you said.

Given you have a SeaORM entity defined.

https://github.com/SeaQL/sea-orm/blob/27143a8ddc3ffce03cfcd6e0e92d955006d4c6e8/src/tests_cfg/cake_filling_price.rs#L17-L25

You can use `create_table_from_entity` method to generate a SQL statement to create the table in the database.

[code]

[2022-03-08 09:33] ammongit commented on #585
Instead of a `join_as` method, wouldn't it be better if the ORM automatically assigned each joined table a unique name, and then pulled records from it accordingly?

[2022-03-08 09:55] billy1624 commented on #579
Hey @yb3616, thanks! Please check #588

[2022-03-08 10:19] billy1624 commented on #585
Yeah, that would be cool! But we need to come up with an API to support this feature.

Btw... the SQL posted by @nag763 actually won't retrieve `CLUB.name` of home team and away team.

[code]

[2022-03-08 14:34] nag763 commented on #585
You are very welcome @billy1624 :smile:

Indeed, it is already what happens when you look at the generated model (see step 3 of my initial request) :

[code]

Here we can indeed see that the orm generated two models, maybe it would need to store its alias the same way it stores the other parameters ( `on_update` , `on_delete` ) ?

@billy1624 Indeed, I provided a minimal example, but actually when

[2022-03-09 23:44] tristan-zander commented on #520
I'd like to take on this task, although it doesn't _seem_ like you have a release strategy as of now (other than manually doing so). I think that some established workflow may be necessary to include `sea-orm-cli` in releases, since it's not there already. Would you like to establish some form of CD to include `sea-orm-cli` and other binaries with releases, or rather do it manually @billy1624? May

[2022-03-10 02:11] Ilqjx commented on #550
Of course this is not required, but it may be more convenient to use.

[2022-03-10 02:19] #579 closed

[2022-03-10 03:32] billy1624 commented on #520
Hey @tristan-zander, thank you for the interest!

As you have said, I think we can have a GitHub Actions (CD) to to include `sea-orm-cli` and other binaries when new release is published.

Just like what `mdbook` did
- Releases: https://github.com/rust-lang/mdBook/releases/tag/v0.4.15.
- Workflows: https://github.com/rust-lang/mdBook/blob/master/.github/workflows/deploy.yml

[2022-03-10 03:34] tristan-zander commented on #520
Oh gotcha, I didn't realize they had a hook for when you create a release. That works perfectly then. I'll try to get a PR going this weekend.

[2022-03-10 03:35] tyt2y3 commented on #586
It seems like that column type is not compatible with struct field type

[2022-03-10 03:35] billy1624 commented on #520
Hahaa! Thanks!! Looking forward to the PR

[2022-03-10 03:39] tyt2y3 commented on #499
The alternative might be, is it possible to fix chrono?
I think a potential confusion is that `time` and `chrono` will be mutually exclusive.
And so if a downstream stream crate chooses to use `time` and another one chooses to use `chrono`, the project will not be able to compile.

[2022-03-10 05:33] AbhijithGanesh commented on #507
What all tasks need to be implemented for supporting Cockroach DB? It'd really be useful for new-contributors to learn

[2022-03-10 05:34] AbhijithGanesh commented on #552
I'd like to work on this @billy1624

[2022-03-10 08:13] billy1624 commented on #586
I've been looking at https://github.com/SeaQL/sea-orm/issues/586 and I've also encountered this error before, also using Postgres. If I remember correctly, the issue was that I declared the column type as a DateTime using `ColumnDef::new(...).date_time()`, which in turn threw that error during serialization of the entity. Changing that code to `ColumnDef::new(...).timestamp_with_time_zone()` fixed

[2022-03-10 08:19] billy1624 commented on #586
`ColumnDef::new(...).date_time()` will generate column type `timestamp without time zone`, aka `timestamp` in SeaQuery
- https://github.com/SeaQL/sea-query/blob/5e72470e022719a3ce5df4f67fc9a8313c67355a/src/backend/postgres/table.rs#L64

Then, SeaSchema discover and write the column type as `timestamp`
- https://github.com/SeaQL/sea-schema/blob/d4408a0cf4871ba66e6edc27f2528cc38730ab61/src/postgres/

[2022-03-10 08:26] billy1624 commented on #552
Hey @AbhijithGanesh, thanks for the interest!!

The `delete_by_id` API is under development by @ShouvikGhosh2048.

I saw your message on Discord, you want to work on the `update_by_id` API. However, as discussed above. Seems that it's not necessary to have the API. I wonder if you got any other thoughts on it?

[2022-03-10 08:29] AbhijithGanesh commented on #552
I agree with llqjx

[2022-03-10 09:10] AbhijithGanesh opened #591 "[ADD]: Pre-commit hook to keep the project clean"
## Summary

One can run a script to verify whether their changes are working, do they pass the automated tests etc?

## Motivation

Integration tests

## Additional Information

[2022-03-10 09:25] billy1624 commented on #507
Hey @AbhijithGanesh, do you mean what are the todo for supporting CockroachDB?

[2022-03-10 09:27] billy1624 commented on #591
Hey @AbhijithGanesh, we do have GitHub Actions for running unit tests and integration tests.
https://github.com/SeaQL/sea-orm/actions

[2022-03-10 10:43] tasn commented on #499
According to the link and information I was provided with (see the link above): no, chrono can't be fixed. Also, they wouldn't be mutually exclusive, only in the automatic code generation but even then it can be a flag.

So I think runtime is find, the only incompatibility would be seaorm-cli's generation which is not a compatibility problem.

[2022-03-10 18:38] MagTheDev opened #592 "The function 'find' exists for struct, but its trait bounds were not satisfied: entity::user::Model: Iterator"
This is the error im getting:

[code]
The code that generates it:
[code]
My model:
[code]
I realize that this is similar to #533 but the fix provided there didn't work :(
If you need more info, the repo is public at: https://github.com/MagTheDev/actix-todos/tree/master
Thanks

[2022-03-10 19:24] aaronleopold commented on #592
Hey there, just a fellow seaorm user not a maintainer, but `find()` is an `EntityTrait`, which Model does not impl. You should use `Entity` and import the trait. Try changing the import:

[code]

[2022-03-10 19:35] MagTheDev commented on #592
Thanks, this is my first time using seaorm, and I couldn't find anything about this error.

[2022-03-10 19:35] #592 closed

[2022-03-11 00:55] tyt2y3 commented on #592
Thank you @aaronleopold

[2022-03-11 02:17] tyt2y3 commented on #499
Yeah I agree. We should go down the route of supporting both "together" (with being mutually exclusive).
We can expose generic alias to the types `DateTime` and specific types `ChronoDateTime` something like that

[2022-03-11 07:25] tasn commented on #499
That's great for longer term, but even just having things work when I manually set a time object as a seaorm field would go a very long way. We can't do it (without a wrapper type) because the trait and time are both external to trait. So just built in conversion definitions in searorm is all we need.

[2022-03-11 08:18] billy1624 commented on #499
So, we'll keep all existing type aliases untouched.

https://github.com/SeaQL/sea-orm/blob/0a26dee674a00cdda4cf3568f3d89a76fb5c8f57/src/entity/prelude.rs#L18-L37

Then, we'll add `chrono` & `time` version of all these type aliases. For example, we've

[code]

[2022-03-11 08:59] tasn commented on #499
That's fine, I don't think there's a problem with this. Let people choose what they want to use.

The main thing though is that I can't even reimplement it in our own project because I can't add the necessary traits on `PrimitiveDateTime`, so we are just at your mercy, or alternatively need to define our own wrapper types.

[2022-03-11 09:03] billy1624 commented on #499
Hey @tasn, I'll open a PR and implement the supports for `time` crate in SeaORM & SeaQuery :P

[2022-03-11 09:35] tasn commented on #499
Thanks a lot @billy1624! 🙏🏻

[2022-03-11 19:54] e-rhodes commented on #530
Been using this branch with no issues---nice work! Will it be merged into master sometime soon or is this waiting for a 0.7 release?

[2022-03-11 23:16] hf29h8sh321 commented on #586
I believe the issue is related to a column without `not null`. Then, the type becomes `Option<DateTimeUtc>` which is `Option<DateTime<Utc>>`, which is probably not recognized as a timestamp without time zone.

[2022-03-12 14:06] viktorbahr opened #597 "`sea-orm-cli generate entity` creates `mod.rs` in library crate"
## Preface
Since I'm relatively new to Rust, I'm not 100% sure if I'm missing something here. In case I did, please excuse my ignorance!

## Description

When pointing the output directory of `sea-orm-cli generate entity` to the `src` directory of an `entity` library crate, it generates a (what I assume to be an unneeded) `mod.rs` file while leaving the `lib.rs` untouched. Using the generated enti

[2022-03-12 23:34] hf29h8sh321 commented on #575
I tested #492 and it does not accept json values that do not have certain columns.

Like the fruit example,

[code]

If the json value is written to change `name` to something different, json is only `{ "name": "New Name" }` and is missing `cake_id`. It should be possible to convert the partial json data into Active Model.

[2022-03-13 04:57] tyt2y3 opened #599 "Google Summer of Code 2022"
We are super excited to be selected as a Google Summer of Code 2022 mentor organization. Thank you everyone in the SeaQL community for your support and adoption!

For more information for how to participate:

+ https://summerofcode.withgoogle.com/programs/2022
+ https://www.sea-ql.org/SeaORM/blog/gsoc-2022
+ https://github.com/SeaQL/summer-of-code/tree/main/2022

[2022-03-13 10:41] #346 closed

[2022-03-13 10:41] #460 closed

[2022-03-14 03:11] pymongo commented on #586
use `timestamp without time zone` type with sea-orm-cli would reproduce these problem

[2022-03-14 03:26] AbhijithGanesh commented on #591
@billy1624 I meant, local pre-commit hooks for a smoother dev flow

[2022-03-14 03:26] AbhijithGanesh commented on #591
Apologies, closed by mistake.

[2022-03-14 04:40] #295 closed

[2022-03-14 05:04] billy1624 commented on #591
Hahaa nvm!

[2022-03-14 05:04] billy1624 commented on #591
I wonder what will be checked inside the pre-commit hooks? For example, running `cargo fmt`?

[2022-03-14 06:56] billy1624 commented on #581
I'll close this issue as #463 was merged

[2022-03-14 06:56] #581 closed

[2022-03-14 08:03] billy1624 commented on #511
I guess we can add a option for `sea-orm-cli` to limit the maximum number of connection
https://docs.rs/sea-orm/0.6.0/sea_orm/struct.ConnectOptions.html#method.max_connections

[2022-03-14 09:27] MattGson opened #606 "Convert from ActiveModel to Model"
## Summary

Right now it is impossible to convert from `ActiveModel -> Model` or from `ActiveValue<T> -> T` ?

## Motivation

When using `insert_many(..)` the return type is useless. ( I assume this is to support MySQL which does not allow `returning` clause)

So I need to get the models back by making another round-trip to the database (not the end of the world) or converting the `ActiveModel`'s.

[2022-03-14 12:19] zain2323 commented on #585
Could you please provide more information on how did you set up logging?

[2022-03-14 16:34] efrain2007 opened #607 "How do I close the database connection?"
How to close the connection after using it?
what I want to achieve is to connect to multiple databases at the same time

[2022-03-15 01:55] #607 closed, assigned to nobody

[2022-03-15 01:57] tyt2y3 commented on #554
We should separate the logic from create_table_from_entity and extract to a new function create_index_from_entity

[2022-03-15 05:57] AbhijithGanesh opened #610 "[ADD]: Addition of DCO"
## Summary

It'd be good if we implement DCO (Developer certificate of Origin) for more accountability.

## Motivation

https://github.com/apps/dco

## Additional Information
N/A

[2022-03-15 06:34] shinbunbun commented on #500
@billy1624

Hi, I would like to contribute to solving this issue.
I have thought of the following implementation, but could you please let me know if there is another good way to implement it?

[code]

[2022-03-15 07:43] billy1624 commented on #500
Hey @shinbunbun, thank you so much for reaching out!!

I think we can assume the statement is a select statement. We can explicitly mention this assumption on the method docs.

So, this part and be ignored.

[code]

`Statement` might have `sea_query::Value` with it. So, we also need to pass it in (if any).
- https://docs.rs/sea-orm/0.6.0/sea_orm/struct.Statement.html
- https://docs.rs/sea-query/0.

[2022-03-15 08:45] shinbunbun commented on #500
@billy1624

Thank you for your reply!
When we build a `SelectStatement`, it is automatically prefixed with `SELECT`. So, if I implement it as documented, the SQL statement generated will be, for example, `SELECT SELECT "cake". name" FROM "cake" GROUP BY "cake"." name"`. Therefore, I have implemented a process to eliminate the `SELECT`. Please point out if I am wrong as I may not have understood th

[2022-03-15 14:56] tyt2y3 commented on #151
Cont'd in #576

[2022-03-15 19:42] ammongit commented on #151
I'm confused, why was this closed? The other issue #576 is less detailed and is more recent. Is it because this is being worked on?

[2022-03-16 01:57] LasseRosenow opened #613 "Use DeriveEntityModel without having a Relation enum"
## Summary

Right now, when I use the `DeriveEntityModel` `Derive Macro`, I need to have a `enum Relation`, which derives `DeriveRelation`.
Otherwise I get the error: `cannot find type `Relation` in this scope`.

## Motivation

The reason why I would like to use the `DeriveEntityModel` macro without having the Relation enum is because I don't use the Relation enum.

I like to define my relations l

[2022-03-16 02:42] pymongo opened #614 "`sea-orm-cli generate --expanded-format` panic when postgres table contains enum type"
## Description

[code]

## Steps to Reproduce

1. postgres table with enum type field `create type status as enum('ok', 'error');`
2. sea-orm-cli generate --expanded-format

### Expected Behavior

no panic

### Actual Behavior

thread 'main' panicked at 'not implemented'

### Reproduces How Often

always

## Versions

sea-orm-cli 0.6.0

postgres version 13.6

## Additional Information

[2022-03-16 03:40] tyt2y3 commented on #151
just to consolidate the discussions

[2022-03-16 13:34] AbhijithGanesh opened #615 "[ADD]: Addition of delete many"
## Summary

Delete the row(s) on db at the same time returning the data of deleted row(s).

## Motivation

Various other delete methods, this method is a good method to implement as it makes the ORM more complete.

## Additional Information

`Rough idea is that we need two new methods in DeleteMany, https://github.com/SeaQL/sea-orm/blob/af235168db3a675e889974a34799890350be00e4/src/executor/delete.

[2022-03-16 13:34] AbhijithGanesh commented on #615
@billy1624 can you please assign this to me?

[2022-03-16 13:52] billy1624 commented on #615
Assigned! :P

[2022-03-16 18:00] zain2323 commented on #585
@billy1624, Could you please provide more insight on solving this issue? I tried what you suggested above but still getting errors.

[2022-03-16 23:18] maikelwever opened #616 "`sea-orm-cli` does not seem to support UNIX socket connections for PostgreSQL properly"
## Description

When using PostgreSQL over a local UNIX socket, using peer authentication, `sea-orm-cli` refuses to connect to the database.

Entering `postgres:///database_name`, should connect over the default unix socket, using local user authentication, which does not require a username, password, or hostname in the URL. Not even the database name is required, since the username is used as the

[2022-03-17 10:22] #527 closed

[2022-03-17 14:39] shinbunbun commented on #500
@billy1624
Sorry, I misunderstood your advice.
I have submitted a Pull Request and would like you to review it.

#617

[2022-03-17 18:05] junbl opened #618 "sea_orm_cli: Enums could implement Copy"
## Summary

The enums generated by `sea_orm_cli` (those placed in `sea_orm_active_enums`, referencing databse enums) can derive copy, since they never have struct variants.

## Motivation

The [language docs](https://doc.rust-lang.org/std/marker/trait.Copy.html#when-should-my-type-be-copy) have this to say:

If the databases were to support more complex enum variants, then this may no longer be tr

[2022-03-20 03:27] yashsamit commented on #530
Please merge. It's a blocker. **Also, UUID is not converting when using into_json.**

This is a wonderful library and works very well with some patience. I think adding more examples in documentation will make it easier to use.

[2022-03-20 03:32] yashsamit opened #619 "UUID fields are not serialized by .into_json() on queries"
## Description

Datetime fields are not serialized by .into_json() on queries. Possible duplicate of #530.

## Steps to Reproduce

1. Add UUID in any Model(Entity)
2. Run into_json query
3. It will hide the UUID field. If into_json removed field comes back.

### Expected Behavior

It should convert UUID to string and should be visible in the final JSON output.

### Actual Behavior

The field is mi

[2022-03-20 14:22] itsbalamurali opened #621 "Insert with Custom column `Id` doesn't work"
## Description

Insert with Custom column `Id` doesn't work.

I have an entity with a custom column name `Id` instead of `id`.

## Steps to Reproduce

[code]

### Expected Behavior

The above should generate

[code]
### Actual Behavior

[code]

Causing:

[code]
### Reproduces How Often

Always.

## Versions

[code]

OS: MacOSx.
Database: PostgreSQL 13.

[2022-03-20 16:02] #499 closed

[2022-03-20 16:04] tasn commented on #499
Yay, thanks a lot!

[2022-03-20 16:45] #554 closed

[2022-03-21 06:37] #500 closed

[2022-03-21 06:41] #552 closed

[2022-03-21 19:28] nag763 commented on #585
Hello @zain2323

1. I added env_logger in my `Cargo.toml` :

[code]

2. Innit the library at the begining of my binary :

[code]

3. And ran my binary that way :

[code]

---

Let me know if I can give an hand on this matter

[2022-03-22 06:04] billy1624 commented on #585
Hey @zain2323, sorry for the delay.

I'm trying to make it work under the current SeaORM public API.

[code]

[2022-03-22 09:48] billy1624 commented on #621
Hey @itsbalamurali, welcome! I can't reproduce your error.

Can you show me your entity file?

[code]

[code]

[code]

[2022-03-22 10:11] billy1624 commented on #619
Hey @yashsamit, thanks for the report! It would be fixed on #539

[2022-03-22 10:20] billy1624 commented on #530
We will release it on `0.7` once we got the UUID covered in `into_json` method.

[2022-03-22 10:21] billy1624 commented on #530
Hey @yashsamit, thanks for the support! Do you have any suggestions on what to add? In terms of examples and documentations?

[2022-03-22 10:41] billy1624 commented on #618
Hey @e-rhodes, I agree with what you have suggested!

Yes, this is true for ordinary user but we have to cater the need of advance users.

I would say we can safely derive `Copy` for all generated Enums. For advance users, they simply have to update the Enums in `sea_orm_active_enums` file. And perhaps remove some of the `Copy` derive if they want to, it would be a easy "replace all" for them with

[2022-03-22 10:49] billy1624 commented on #616
Hey @maikelwever, sorry for the delay. Could you please try this?
- https://github.com/launchbadge/sqlx/issues/1202#issuecomment-830728943

[2022-03-22 11:26] maikelwever commented on #616
It works fine in SQLx or when using `sea_orm::Database::connect(db_url)`, my issue is specifically about `sea-orm-cli`, which explicitly cheks for username & hostname outside of `DATABASE_URL` parsing, here: https://github.com/SeaQL/sea-orm/blob/master/sea-orm-cli/src/main.rs#L61 , which is resulting in invalid behavior.

[2022-03-22 12:41] billy1624 commented on #614
Hey @pymongo, thank for the report! Nice catch! Please try #624

[2022-03-22 12:45] billy1624 commented on #616
So, `/var/run/postgresql/.s.PGSQL.5432` would works fine in SQLx and `sea_orm::Database::connect(db_url)`?

[2022-03-22 12:49] maikelwever commented on #616
I'm using `postgres:///database_name` as the `DATABASE_URL`, which implicitly uses `/var/run/postgresql/.s.PGSQL.5432` as the connection endpoint, which works in SQLx and using `sea_orm::Database::connect(db_url)`.

[2022-03-22 12:54] billy1624 commented on #616
I think we can relax the rules here and allow UNIX socket connection

https://github.com/SeaQL/sea-orm/blob/e80aa07c7c48e6645a5349d726fd71bc27ca5a7a/sea-orm-cli/src/main.rs#L58-L67

[2022-03-22 15:27] #614 closed

[2022-03-22 15:43] tyt2y3 commented on #550
I don't think we will provide such a "magical" API

[2022-03-22 15:43] #550 closed

[2022-03-23 03:57] billy1624 commented on #613
Hey @LasseRosenow, welcome! Take the entity below as an example, you're saying that you want to get rid of the empty `Relation` Enum completely?

[code]

[2022-03-23 13:35] LasseRosenow commented on #613
This all of course would not be necessary if the Relation enum derive macro would work as documented.

![Screenshot_20220323-143114_Chrome.png](https://user-images.githubusercontent.com/10547444/159711230-e1fa5fd0-6865-4dfb-9072-d90cd7261cb3.png)

See this screenshot from the documentation says that the whole first code block could be replaced by the one at the bottom which is using the macro, but

[2022-03-23 18:40] LouisGariepy opened #629 "Schema validation"
# Schema validation
This issue is meant as an umbrella to catch discussions about a potential `schema validate` feature.

I am not a SeaQL maintainer, and I don't yet know my way around the codebase, so PLEASE, if you want me to correct or add information, ping me so I can keep this thread up-to-date. This will go a long way to help potential contributors :)

## Background
There's been a relativel

[2022-03-23 18:45] e-rhodes opened #630 "Column names with single letters separated by underscores are concatenated"
## Description

A table with column names that include single letters separated by underscores are not queried correctly. All underscores dividing only single letters are removed.

For example, a column with the name `a_b_c_d` will be queried as `abcd`, while a column with the name `a_b_cc_d` will be queried as `ab_cc_d`.

## Steps to Reproduce

1. Create a table with column names in the specified

[2022-03-24 02:00] hunjixin opened #631 "support longblob in mysql"
## Summary

support longblob in mysql
## Motivation

blob is small, need long blob to store vec<u8>
## Additional Information

[2022-03-24 04:14] billy1624 commented on #560
I'll close this now as this is a duplicate of #412

[2022-03-24 04:14] #560 closed

[2022-03-24 14:13] tyt2y3 commented on #521
um... this seems like an easy fix? would appreciate PR on this

[2022-03-24 14:38] #530 closed

[2022-03-24 14:38] #619 closed

[2022-03-24 16:24] zbinhazzaa commented on #546
hey, @billy1624 I was trying different cases to get DbErr but this does not work well, for example when a record is not found. @tyt2y3 Is the error was as I explained or something else?

[2022-03-24 16:51] DanielJoyce commented on #621
Your column name is not "Id", so you're not even testing the same bug. Perhaps there is accidentally some special case handling for "id" columns?

[2022-03-27 11:48] duskmoon314 opened #635 "CLI can't generate entity with foreign keys ref `id` from tables in sqlite"
## Description

I'm trying to build my own ledger program. I have some tables with foreign keys, but when executing `sea-orm-cli` I come across this error:

[code]

I take a look at the source code and it seems right:

[code]

So I assume it may correspond to the structure of tables in sqlite. I create a new database with simple tables to try again:

## Steps to Reproduce

1. Exec `sqlite3 test1.d

[2022-03-28 08:22] duskmoon314 opened #637 "CLI generate `Decimal` for column with `real` type in sqlite"
## Description

I have a table with a column whose type is `real`. When generating entities from it, CLI generates `Decimal` for the column. But according to [the doc of sqlite](https://www.sqlite.org/datatype3.html), the type of `real` is f64:

## Steps to Reproduce

1. Create an SQLite database via `sqlite3 test1.db "CREATE TABLE FLOAT(x real);"`
2. Exec CLI to generate rust code. `sea-orm-cli g

[2022-03-28 09:08] duskmoon314 commented on #635
A workaround: specify the column name in the generated SQL. 🤣

[2022-03-28 13:09] cemoktra commented on #499
Hey, while its nice that this got into the new release it would be helpful to add a flag to the code generator to specify if it should generate for `chrono` or `time`

[2022-03-28 21:29] Chaostheorie opened #639 "Update Actix Web examples"
## Description

Actix Web 4.0 has been stabilized and superseded Actix Web 3.0. The examples for Actix Web can be safely updated to the new stable version. I've made the required changes in #638.

[2022-03-29 15:11] Chaostheorie commented on #606
Just my 2cts but, assuming you know that 1. Value is set and 2. Value is of type Uuid, wouldn't it be possible to use `Value.as_ref_uuid()` for the values?

For example, (output types annotated to show conversion process):

[code]

[2022-03-29 15:56] JUNGYU-RIM1 opened #641 "Generate migration code from entities"
## Summary
**sea-orm-cli migrate init** should generate migration files from entities

In this example [setting-up-migration](https://www.sea-ql.org/SeaORM/docs/migration/setting-up-migration), sea-orm only generate **m20220101_000001_create_table.rs** which is a sample migration file. If there are pre-defined entities, it should generate those migration files too(in this case **m20220120_000001_c

[2022-03-30 17:42] mojerro commented on #641
Hope has this feature too, just like #332 , I really hope to have a function like `auto_migrate()` which is very convenient when developing.

Now, my project has 16 tables which are really hard to write migration files by hand, and I need to spend lots of time checking and ensuring the code runs correctly.

[2022-03-31 14:40] tyt2y3 commented on #629
Thank you for the great write-up!
I think there are two problems:

1) validate the Entity and database schema is compatible with each other (detect schema drift)
2) validate that the queries being generated are correct (linting) I think this is the project described in the GSoC proposal

I think 1) could be a command in `sea-orm-cli`: e.g. `sea schema validate`

I also don't understand the part wh

[2022-03-31 14:59] #466 closed

[2022-03-31 15:01] tyt2y3 commented on #317
If this issue still relevant, please reopen

[2022-03-31 15:06] #259 closed

[2022-03-31 15:13] tyt2y3 commented on #300
I think the implementation of `first` is pretty straight forward, just add a `LIMIT` clause.
However, `last` might need to flip all `ORDER BY` clauses, `LIMIT` it and return the resulting `Vec` in reverse order.

[2022-03-31 15:20] Sytten commented on #300
Cursor pagination is actually freaking hard to get right specially when you add ordering on arbitrary columns. I wrote a whole internal framework for Caido using sea-query and from memory there are around 10-12 different edge cases you need to consider when you do the full package: before, after, first, last, order (asc/desc). I actually need to write a blog post on that at some point but it is no

[2022-03-31 15:43] #322 closed

[2022-03-31 15:44] #526 closed

[2022-03-31 15:48] tyt2y3 commented on #555
The cause of failure may or may not be "large". It could be because of one table using an unsupported feature. So I think at least a minimum-reproducible schema be provided for this to be actionable. Please reopen if you have any updates

[2022-03-31 15:48] #555 closed

[2022-03-31 16:01] tyt2y3 commented on #486
This is a very interesting sugguestion. First of all, if you only need `one` and `all` it's related models, then `find_related` on the model itself is the recommended way.

Anyway, thanks @isgj for pointing out this is a non-trivial problem. We have to know which "one" first before we know how to limit the query, so the solution is either 1) two queries or 2) sub-query

[2022-03-31 16:11] tyt2y3 commented on #621
This sounds like a bug in how we handle the `returning` part of a query

[2022-03-31 18:39] milesgranger commented on #555
I think at least, a reasonable error should be produced if a table is using an unsupported feature, would you agree?

[2022-03-31 23:03] andoriyu opened #653 "SQLite backend isn't using returning"
## Summary

I would like to use `returning` branch in update and insert when using sqlite.

## Motivation

It's more efficient than looking up by primary id after update.

## Additional Information

[SQLite's support for RETURNING](https://www.sqlite.org/lang_returning.html)

[2022-04-01 03:09] tyt2y3 commented on #555
Indeed

[2022-04-01 19:57] averichev opened #657 "Ident is not allowed to be empty; use Option<Ident> when generate entity"
I use command `sea-orm-cli generate entity -o entity/src/ --with-serde -t host_site`

Adapter is **SQLite**

My host_site table DDL:

[code]

And I have error:
**thread 'main' panicked at 'Ident is not allowed to be empty; use Option<Ident>', /Users/averichev/.cargo/registry/src/github.com-1ecc6299db9ec823/proc-macro2-1.0.36/src/fallback.rs:686:9
note: run with `RUST_BACKTRACE=1` environment varia

[2022-04-02 14:00] #639 closed

[2022-04-02 14:07] tyt2y3 commented on #630
Thank you for the investigation and explanation. I think the above is definitely doable

[2022-04-03 02:12] wnmrmr commented on #657
After trying to pinpoint the issue I've taken notice in this line

https://github.com/SeaQL/sea-orm/blob/6a22207944d6a99ed0de8031851b4cdda7c956e9/sea-orm-codegen/src/entity/transformer.rs#L89

where after inserting
[code]
and running the code we see
[code]
becomes a
[code]

I think tbl_fk.ref_col may contain a DynIden with an empty formatting in its Debug implementation (might be intended behaviou

[2022-04-03 05:19] tyt2y3 commented on #657
Thank you for your investigation @wnmrmr

[2022-04-03 05:28] KaviiSuri commented on #621
Can I pick this issue if it's free?

[2022-04-03 12:58] duskmoon314 opened #660 "Empty `set` in the generated sql when trying to update one of the primary keys"
## Description

I have a table with two primary keys. The entity structure is like below:

[code]

And I'm trying to find the row which matches the `(trade, old_account)` and then set it to `(trade, new_account)`.

## Steps to Reproduce

1. I used `find_by_id` to find the row, which worked alright:

[code]

2. Then I cast it into `ActiveModel` and set the `account` column:

[code]

	Here I use `pr

[2022-04-03 13:02] wnmrmr commented on #657
Seems like `sea_schema::sqlite::TableDef::get_foreign_keys()` makes the query `pragma foreign_key_list(host_site)` which gives
[code]
so the `to` column is empty. I don't know enough to do something about this.

[2022-04-03 13:20] tyt2y3 commented on #621
@KaviiSuri yup, that'd definitely be appreciated

[2022-04-03 15:26] KaviiSuri commented on #621
Thanks, can you tell me where should I start looking? Would love a little guidance!

[2022-04-03 16:30] tyt2y3 commented on #621
Well I think reproducing the issue in a test case would be the first step

[2022-04-04 12:12] billy1624 commented on #499
Good suggestions! @cemoktra Would you mind opening a feature request for this?

[2022-04-04 13:24] cemoktra opened #661 "Add flag to sea-orm-cli to generate code for time crate"
## Summary

Since the `time` crate is supported as alternative to `chrono` it should be possible to generate code for `time` crate

## Motivation

Currently you need to write the ORM code yourself if you want to use the `time` crate, which might be annoying

[2022-04-04 17:51] nag763 opened #662 "Insert in a table with several Primary Keys, one being autoincretemented"
## Description

When inserting a value in a table with several primary keys and using the default value for an auto-incremented one, the insert fails.

Known to be reproducible with MySQL.

## Steps to Reproduce

1. First create a simple database having a table with several one primary key, one being auto-incremented

[code]

Table schema :

![schema](https://user-images.githubusercontent.com/5548

[2022-04-04 18:23] nag763 commented on #662
Update : I thought it was happening when using several primary keys for a table, but it also happened with the expected example I was about to provide

Here is the link to the project summing up the issue

Branch issue, the one described here : https://github.com/nag763/sea-orm-issue-662

Branch issue_2 , the one that happened when I tried to show the expected behavior : https://github.com/nag763/

[2022-04-04 20:44] npapapietro opened #663 "SelectorRaw doesn't pass binded values from SelectStatement to Paginator"
## Description

When passing a raw sql query to Selector raw and paginating it, the values binded don't get passed down to the methods on paginator.

## Steps to Reproduce

[code]

### Expected Behavior

Pagination runs like `Selector<T>`

### Actual Behavior

On the `fetch_page` method the error ```operator does not exist: text = bigint``` is returned. This is because the values from the actual q

[2022-04-05 07:34] cindRoberta opened #664 "update clap to last version: clap = { version = "3.1.8","
## Summary

## Motivation

## Additional Information

[dependencies]
clap = { version = "3.1.8", features = ["derive"] }

[2022-04-05 22:47] cindRoberta commented on #664
https://github.com/clap-rs/clap/discussions/3611

[2022-04-06 04:36] SebastienGllmt commented on #187
Looks like the upstream sea-query feature was merged 3 days ago https://github.com/SeaQL/sea-query/pull/279

[2022-04-08 10:49] arpancodes commented on #300
Just created this PR for the `first` function in the `sea-query`.  Need some guidance for the `last` function... as I believe that is not possible unless we have a nested query.

[2022-04-08 13:44] tyt2y3 commented on #300
Thank you. Yes you can have a look at how the Paginator works, the idea is to use a sub query.

[2022-04-08 14:17] Sytten commented on #300
For the simple base cases (that is without special ordering & assuming an ID that is sortable):
1. First and last cannot be set at the same time
2. If After is defined: add condition table.id > cursor.id
3. If Before is defined: add condition table.id < cursor.id
4. If first is defined: order by ID ASC, limit first + 1
5. If last is defined: order by ID DESC, limit last + 1
6. Reverse the result i

[2022-04-08 19:36] e-rhodes commented on #630
It looks like that wouldn't totally fix it---I'm looking at the `FromStr` implementation and it has the same issue. It doesn't look at the `column_name` attribute so it does the same pascal -> snake thing. So `parse` still wouldn't work in this case. I was working around this issue using `.to_string()`, which uses the `column_name`, but then this gives the wrong field in the normal case when I wan

[2022-04-09 19:42] ikrivosheev commented on #664
@cindRoberta I am working on this PR. I'll do it soon

[2022-04-09 20:46] cindRoberta commented on #664
I'm too, do you want to exchange information? did you open a fork?

[2022-04-09 22:14] ikrivosheev commented on #664
@cindRoberta Oh, then keep working, I'll take another task)

[2022-04-09 23:14] moschroe commented on #657
I just encountered this myself. When the error occurred only after creating a table with a single column FK, my initial hunch proved correct.

This DDL code will create a table and provoke the "Ident is not allowed to be empty" error, it was initially generated by my IDE, IntelliJ IDEA:
[code]

This DDL will create an identical table but will not provoke the error, I modified it after another tabl

[2022-04-10 06:56] tyt2y3 commented on #657
Okay I can confirm that the culprit is the shorthand syntax of SQLite https://www.sqlite.org/foreignkeys.html Section 3

This behaviour is not supported yet in sea-schema, so please specify the target column explicitly for now.

[2022-04-10 07:03] tyt2y3 commented on #635
This is a duplicate of #657

[2022-04-10 07:06] tyt2y3 commented on #618
Yes, I am still considering whether I'd extend the API by using tuple variants in enums

[2022-04-10 07:06] #618 closed, assigned to nobody

[2022-04-10 07:25] duskmoon314 commented on #635
Oh, it is.

[2022-04-10 07:25] #635 closed

[2022-04-11 10:30] billy1624 commented on #664
Thanks!! @cindRoberta @ikrivosheev

[2022-04-11 13:47] billy1624 commented on #660
Hey @duskmoon314, sorry for the delay. It's by design to not update the value of primary with the update one method. To update the value of primary key you need update many method, https://www.sea-ql.org/SeaORM/docs/basic-crud/update#update-many.

[2022-04-11 20:08] bkonkle opened #669 "The DeriveRelation macro fails to derive the Related trait"
## Description

The documentation [here](https://www.sea-ql.org/SeaORM/docs/relation/one-to-many) indicates that it's not necessary to manually implement the `Related` trait if you're using the `DeriveRelation` input. In practice, however, I get a "trait not implemented" message when I omit it.

Thanks for an outstanding library, by the way!

## Steps to Reproduce

1. Add the `DeriveRelation` deri

[2022-04-13 05:18] tyt2y3 commented on #669
I think this is more so a documentation error, because we don't auto generate `Related` trait impl. We only generate `RelationTrait` impl

[2022-04-14 08:50] mibes404 opened #672 "Lower function missing"
## Description

The `lower` function was added to sea-query "0.24.0", but sea-orm 0.7.1 depends on sea-query "0.23.0".

### Background

We're migrating a project from Diesel to sea-orm, and need the lower function to perform a case-insensitive compare.
Updating the dependency will allow us to write something like:

[code]

which can be used to produce something like:
[code]

## Versions

sea-orm v

[2022-04-14 16:37] kudlatyamroth opened #674 "is_changed on active_model"
## Summary

As of now, we can check if field of active model is changed, but we can't check if anything in whole active model has changed.
It would be great to just check if pear.is_changed() to make updated

## Motivation

Now when i have active model and code like that:
[code]
this code will produce error, cos it try to make Update query like that:
`update fruit Set Where`

With is_changed() met

[2022-04-15 01:39] robot-head commented on #357
Sorry for late response, confirming `BTreeMMap<&str, Value>` works just fine!

[2022-04-15 01:39] #357 closed

[2022-04-15 05:06] tyt2y3 commented on #357
Thank you for coming back

[2022-04-18 04:35] smonv commented on #521
@tyt2y3 I would like to work on this issue.

After some research, I identified that `sea-schema` is the package responsible for handle migration environment variable like `DATABASE_URL` but I'm still not sure where to start in `sea-schema` to make it handle `DATABASE_SCHEMA` for postgresql. Can you help guide me?

[2022-04-18 15:05] ikrivosheev commented on #672
@mibes404 can we close issue?

[2022-04-19 08:58] schulke-214 opened #676 "Unable to (de)serialize nested JSON Blobs using serde Traits"
## Description

We have a database schema where we save (from the db pov) untyped json blobs into the database + some metadata columns. We have a serde compatible struct for describing the blobs on the rust side and expected to be able to use the `#[sea_orm(db_type = "Json")]` as annotation to be able to deserialize the JSON col into the rust struct on select.

## Steps to Reproduce

#### Rust

[c

[2022-04-19 15:07] mibes404 commented on #672
Thanks!

[2022-04-20 11:17] billy1624 commented on #676
Hey @schulke-214, please refer to https://github.com/SeaQL/sea-orm/blob/master/issues/400/src/model.rs on how to implement necessary traits for custom model fields

[2022-04-20 11:28] schulke-214 commented on #676
It comes from an external crate

[2022-04-21 04:27] billy1624 commented on #676
This isn't ideal but you can do it with newtype pattern.

[code]

[2022-04-21 10:53] billy1624 commented on #521
Hey @smonv, thanks for the interest! Note that the migrator is subject to change, see SeaQL/sea-schema#59.

Anyways, the schema name (value of `DATABASE_SCHEMA` env) should be injected into [`sea_query::TableRef`](https://docs.rs/sea-query/0.24.2/sea_query/types/enum.TableRef.html). Just like what we did [here](https://github.com/SeaQL/sea-schema/blob/a6b696c9800d5fe7f861d7a2bfcb69f52ebb2a5a/src/p

[2022-04-21 11:05] billy1624 commented on #674
Hey @kudlatyamroth, yeah we can definitely add that. Actually, it's just one line of code loll

[code]

[2022-04-22 01:28] smonv commented on #521
@billy1624 Thank for guiding me. I'll follow your PR and change the migrator patch if necessary.

[2022-04-22 06:59] billy1624 commented on #521
Thanks!! @smonv Feel free to ping us if you need helps :)

[2022-04-22 14:16] schulke-214 commented on #676
If that is the only reaction to this issue we are not going to be able to use sea orm sadly. I think a lot of things are done excellent about it, but this is just some missing trait implementations on your side:

https://github.com/SeaQL/sea-query/blob/master/src/value.rs#L304-L308

[code]

[2022-04-23 00:07] kirawi commented on #47
Is there still interest in this feature being implemented?

[2022-04-23 12:55] SebastienGllmt opened #681 "Table missing from constraint SQL"
## Description

Given the following code

[code]

Gives the following SQL output

[code]

As you can see, in the `WHERE` clause, the table name isn't specified. This can lead to the following error thrown by the database

[code]

### Expected Behavior

[code]

## Versions

Postgres
sea-orm 0.7.0

[2022-04-23 13:12] SebastienGllmt commented on #681
Ah my bad, it's because it should be `AuthorColumn::Id.is_in([123])` (without the `Expr::col`

[2022-04-23 13:12] #681 closed

[2022-04-24 04:43] tyt2y3 commented on #676
@schulke-214 I think you raised an interesting use case
Can you open a PR on that code snippet you gave?
It'd also be great if we can add some test cases to `tests/serde_json.rs` so that it won't be broke in the future.

[2022-04-24 05:12] #669 closed

[2022-04-24 07:45] hunjixin opened #682 "support mysql8.x create index syntax"
## Description

current index statement generate for mysql not  correspond to mysql 8.0 syntax

## Steps to Reproduce
sea-orm version : version ="0.6.0"
generate by current
[code]

but. in 8.0 syntax change to
[code]

### Expected Behavior

create index success

### Actual Behavior

error log

[code]

[2022-04-24 10:05] tyt2y3 commented on #47
I think so, it's marked as a good first issue anyway

[2022-04-25 07:40] billy1624 commented on #681
Hey @SebastienGllmt, no worries :)

[2022-04-26 08:13] #682 closed

[2022-04-26 08:24] billy1624 commented on #682
Thanks!! @hunjixin

[2022-04-26 14:55] #511 closed

[2022-04-27 05:23] johnttan opened #684 "SeaORM Entity Generator does not support Blob fields."
This was observed with `sea-orm-cli generate entity` on a table with a `BLOB` field.

It generated a Model struct with this field

[code]

[2022-04-27 07:28] billy1624 commented on #684
Hey @johnttan, thanks for the report! PR #685 should fix the issue.

You can try it by cloning the branch, then run `cargo run -- generate entity --database-url ...` on `sea-orm/sea-orm-cli` directory.

[2022-04-28 04:45] Goodjooy opened #688 "[BUG]migration in version 0.7 can not detect Mysql Derive"
## Description

In my new project. I uisng migration to manage my database model. but when I register all model to `Migrator`  and runing
`sea-orm-cli migrate up`. it report error
[code]

in another project witch uisng 0.6 of seaOrm can migration successfully

## Steps to Reproduce

1. prepare migration and add to `Migrator`
2. runing `sea-orm-cli migrate up`
3. it report that error

### Expected

[2022-04-28 05:40] Goodjooy commented on #688
https://github.com/Goodjooy/sea-schema/commit/67dc5e31d5f5e7c8e50ca108896ce04ca65c39e7
I am try to fix the problem
but I do not known wether is the best or not : (

[2022-04-28 08:59] c4ys commented on #688
entity/Cargo.toml

[code]

[2022-04-28 09:02] Goodjooy commented on #688
do you mean add that to the `migration` crate in my project?

[2022-04-28 10:59] billy1624 commented on #688
Hey @Goodjooy, I don't think this is a bug. You need to add `sqlx-mysql` feature to your `sea-orm` dependency in `Cargo.toml`

[2022-04-28 11:30] Goodjooy commented on #688
I have a bit understand why the same code can work in my old porject but can not work in that

in that old project. The dependence of `migration` is
[code]
where `db-entity` is another crate setting all database model of sea-orm where the `sqlx-mysql` feature is enabled. when the `migration` see `db-entity` as dependence. the `db-entity` config of sea-orm will influence the feature flag of sea-orm

[2022-04-28 11:30] #688 closed

[2022-04-28 11:43] billy1624 commented on #688
I admit it's quite confusing. Perhaps we can somehow highlight this in our docs? Any suggestions?

[2022-04-28 12:20] Goodjooy commented on #688
maybe you can add features like `migrate-mysql` to enable `sea-orm\sqlx-mysql`  to select the database Derive directly?

And adding features `migrate-rustls` and `migrate-native-tls` to select the tls?

 migrate has it own `async-std` thus not need to select async runtime

----

when adding dependence, user can either using feature flag or introduce the "enity" crate

"
If you are not going to add

[2022-04-29 10:24] billy1624 commented on #688
Conversation continue on SeaQL/sea-schema#63

[2022-04-30 12:30] boraarslan opened #689 "Bump Uuid version to 1.0.0"
## Summary

Bump [Uuid](https://crates.io/crates/uuid) dependency version to 1.0.0

## Motivation

Since version 1.0.0 is released 10 days ago, would you consider bumping the version? Staying in version 0.8 also prevents other apps that uses SeaORM to switch to Uuid 1.0.0.

[2022-05-01 13:59] HipyCas opened #690 "could not compile `log`"
## Description

When trying to build a project that uses Rocket, I get a compilation error on the `log` crate, which must be caused by `sea-orm`, as without the `sea-orm` dependencies no error is reported

## Steps to Reproduce

I recommend to look and run the code in the repository that I've set up for it, as it really doesn't have specific steps to reproduce it. The repository is: https://github

[2022-05-02 03:41] SebastienGllmt opened #691 "Easier batching of bulk inserts"
## Summary

Postgres only allows a maximum of u16::MAX input parameters. If you exceed this amount, you will get an error in sqlx. Getting around this limitation while using entities is kind of ugly

## Motivation

sea-orm provides a function on entities called `insert_many` such as the the following example

[code]

This insertion requires two SQL parameters because insert_many uses the `VALUES`

[2022-05-03 08:02] bleuse opened #693 "Failing find_with_related with column_name attribute"
## Description

Defining a `has_many` relationship when the primary key is a column with a `column_name` breaks `.find_with_related`.

## Steps to Reproduce

See MWE repository.

### Expected Behavior

When I run the query, I expect to retrieve the elements from the database.

### Actual Behavior

The query fails with the following message:
[code]

### Reproduces How Often

It reproduces every-tim

[2022-05-03 08:24] billy1624 commented on #693
Hey @bleuse, thanks for catching this! I'm working on a patch for this

[2022-05-04 03:29] billy1624 commented on #691
Hey @SebastienGllmt, thanks for the suggestions! I think we can have a `insert_many_chunk` method in `EntityTrait` which takes an iterator of `ActiveModel` and the chunk size.

Basically, it will perform... for you

[code]

Regarding parameters limit with number of column take into account, it's db dependent and it should be provided by the user. User can substitute it in the batch size just like

[2022-05-04 03:45] billy1624 commented on #689
Hey @boraarslan, thanks for the reminder! We're waiting our upstream SQLx's `uuid` dependency to be updated before bumping the version on our side.

Blocked by launchbadge/sqlx#1821

[2022-05-04 07:52] billy1624 commented on #630
Hey @e-rhodes, sorry for the delay. Please check #695

[2022-05-04 09:47] billy1624 commented on #300
I imagine the API to be...

[code]

To keep things simple, here I only allow primary key to be used as cursor and sort by primary key only.

[2022-05-04 12:07] mohs8421 opened #697 "Handling typical runtime errors"
## Summary
Queries can fail for various reasons, I would like to get better details from sea-orm directly instead of having to parse the error code and message from the database.

## Motivation
When an ActiveModel is saved, it can happen, that the query fails because some constraints defined in the database are not fullfilled.
For example I get something like this from a mariadb database:

Now I w

[2022-05-05 12:03] billy1624 commented on #676
Hey @schulke-214, feel free to review #696

[2022-05-05 17:09] nahuakang commented on #661
I'm looking for a `good first issue` :) Just wondering how one is generating code for `chrono` right now?

[2022-05-06 08:46] billy1624 commented on #661
Hey @nahuakang, welcome! You can take a look at
- https://github.com/SeaQL/sea-orm/blob/86e7e808b37179315a1cc5c6c852764830c04661/sea-orm-codegen/src/entity/column.rs#L47-L51

[2022-05-06 08:46] jdrouet opened #699 "Unable to generate entities with foreign key on Postgres 14"
## Description

I'm trying to generate the entities using `sea-orm-cli generate entity -o src/entity -v` but this leads to an issue related to finding the reference table.

## Steps to Reproduce

1. Generate the tables in postgres 14.2

[code]

2. Try to generate the entities

[code]

And get the following result

[code]

### Expected Behavior

It should generate the entities with the proper refer

[2022-05-07 13:36] nahuakang commented on #661
@billy1624 Thanks! I'm reading the docs as well as trying to understand the workflow with `sea-orm` now. Are there any examples/tests that demonstrate how to use `sea-orm-cli` to generate code for entities involving `chrono`? I haven't seen a `chrono` flag in `sea-orm-cli` so I wonder if the solution here is to add a flag for `time` crate or something else (like handling `time` types)?

[2022-05-08 18:43] ttys3 opened #702 "thread 'main' panicked at 'Ident cannot be a number; use Literal instead' if enum field include numeric values"
## Description

panicked at 'Ident cannot be a number; use Literal instead' if enum field include numeric values

yes, I know. nobody should define a table using enum like this `enum('0','1') ` this is terrible and very bad, but, this is a very old project.

and I just got this problem

## Steps to Reproduce

1. create a mysql table with enum which members have numeric values:

[code]

2. run gene

[2022-05-08 20:59] ttys3 opened #704 "mismatched types; Rust type `core::option::Option<alloc::string::String>` (as SQL type `VARCHAR`) is not compatible with SQL type `VARBINARY`"
## Description

create table with field like `varbinary(20)` will result in error with `find_by_id(id)`
[code]

## Steps to Reproduce

1. create table `demo` which has a `varbinary(20)` field

[code]

2. insert some demo data:

[code]

3.  generate entity using cli:  `sea-orm-cli generate entity -t demo`

and we'll got

[code]

5.  fetch one row data:

[code]

and we got the errror "mismatched typ

[2022-05-09 13:58] #674 closed

[2022-05-09 14:00] #693 closed

[2022-05-09 15:55] tyt2y3 opened #705 "Use `file!` in migration files"
https://github.com/SeaQL/sea-orm/blob/cdc70f4fd97e520d2b7a3b3052cc868532eca4d1/examples/actix_example/migration/src/m20220120_000001_create_post_table.rs#L6-L10

Can we use https://doc.rust-lang.org/std/macro.file.html instead of manually copying the name?

We'd probably also want to change the migration template too

[2022-05-10 02:33] smonv commented on #689
https://github.com/launchbadge/sqlx/pull/1821 merged. Do you need help to bump `uuid` for sea-orm? I can working on this issue.

[2022-05-10 02:40] smonv commented on #664
@cindRoberta do you still working on this ?

[2022-05-10 03:13] billy1624 commented on #661
Hey @nahuakang, you can simply create a database table with timestamp / datetime columns. Then, follow the steps on https://www.sea-ql.org/SeaORM/docs/generate-entity/sea-orm-cli, to generate  entity files with `sea-orm-cli`.

We don't have a `chrono` flag for `sea-orm-cli`, since it's the default crate to represent datetime crate as of now. I think we can add an option, `--date-time-crate`, to `s

[2022-05-10 04:05] billy1624 opened #707 "[CLI] write `sea-orm-migration` version based on CLI version"
## Motivation

Everytime we released a new version for `sea-orm` we have to remember bumping the version in CLI migration template before releasing `sea-orm-cli`, it's troublesome and easy to forget. As we would bump the version number for all `sea-orm-*` crate. We could always write `sea-orm-migration`'s version as the same minor version of CLI, e.g. `^<major>.<minor>.0`.

## Additional Informati

[2022-05-10 04:07] smonv commented on #705
I did some testing and found out `file!()` return full filename with extension. So in order to use, we need extra step to remove the extension part too.

So I'm not sure it worth the effort to change for template, the string already generated by cli.

[2022-05-10 07:23] nahuakang commented on #661
Thanks! I'll give this a try :) Please assign the issue to me.

[2022-05-10 15:24] #707 closed

[2022-05-10 16:40] tyt2y3 commented on #663
Can you create a PR and put a runnable example under issues/663? It would greatly help us in fixing the bug

[2022-05-10 17:23] realme0213 opened #711 "Rusqlite Driver supported"
## Summary
Hi, thank you for your great work! `sea-orm` built upon `sea-query`, and I find that `sea-query` already supports `rusqlite` with feature flag, is it possible to support `rusqlite` by `sea-orm`.

## Motivation
I want to build a cross platform app with bundled sqlite

[2022-05-11 01:37] npapapietro commented on #663
I'm not sure what's causing it, I'm learning the layout of this repo and attempting to nail it down. It could very well be the subquery component I have here.  I added a PR with some unit tests that should capture the bug. The mock test had me going for a minute thinking I was missing something, but the integration test throws the error I was encountering.

[2022-05-12 09:11] billy1624 commented on #606
Hey @kirawi, `Model` is an readonly struct that was retrieved from db. While `ActiveModel` is a stateful `Model` that was used for insert / update db row.

https://www.sea-ql.org/SeaORM/docs/basic-crud/insert#model--activemodel

[2022-05-12 11:27] cemoktra opened #720 "create_table_from_entity ignores max identifier length"
## Description

`create_table_from_entity` create a foreign key name, that can get quite long. In my case 69 characters. The maximum in MySQL is 64 characters.

## Steps to Reproduce

Generate schema for a tables that reference each other and have quite long names. Like 20 characters.

### Expected Behavior

Foreign key name might be trimmed to 64 characters. Or add a possibility to specify foreig

[2022-05-12 14:22] tyt2y3 commented on #702
I feel like this is a duplicate issue

[2022-05-12 14:27] tyt2y3 commented on #705
I imagine we can use a compile time const fn to split out the file name.
I think this will reduce confusion when renaming files.

[2022-05-12 14:36] ttys3 commented on #702
yes, the same problem.

good to see already has PR
https://github.com/SeaQL/sea-orm/pull/588

[2022-05-12 14:36] #702 closed

[2022-05-12 15:28] ttys3 commented on #702
@tyt2y3 the table schema is from a very old project, probably at least 10 years ago.

I changed the column to ``public` enum('no','yes') NOT NULL DEFAULT 'no'` so the panic is gone.
what I want to say is, it the PR is not going to merge. then maybe we should warn user about this and just skip generate model for the table. a panic will stop all the work and user do not know what happend, a more fri

[2022-05-12 15:34] tyt2y3 commented on #702
Actually, this is a good suggestion. @billy1624 the generator seems to be opaque on this. I think the general solution is to return a Result everywhere instead of panicking in place and so the parent function can bail with context.
Or really simple... just add more logs with log::debug! such that users can turn on with RUST_LOG=debug

[2022-05-12 16:17] ttys3 commented on #702
currently the output result of enabling  `-v, --verbose    Show debug messages` is too noisy, I tried use it and totally do not know what it means. just endless output something like fetch data from schema table.

I think we need a log level config, instead of put everything to debug log and only have a `-v` switch
Something like "generating for table xxxx" should be `info` level,  users may happy

[2022-05-13 03:17] greenhandatsjtu commented on #606
Hi @billy1624 , I'm a new comer and would like to work on this 'good first issue'. I'd appreciate it if you could give me some instructions.

[2022-05-13 06:46] billy1624 commented on #606
Hey @greenhandatsjtu, thanks for reaching out!

I think we can starts small, and take on the first task...

We could introduce a new trait, `TryIntoModel`, for this conversion behaviour. Similar to the [conversion from `Model` to `ActiveModel`](https://github.com/SeaQL/sea-orm/blob/b51b1f63d8a02c7e331cfa2ca8c32cdb3f0d91b6/src/entity/active_model.rs#L617-L624).

[code]

Then, we implement it inside

[2022-05-13 07:26] billy1624 opened #722 "[CLI] Show progress when generating entity files"
## Motivation

The `sea-orm-cli generate entity` command doesn't show its progress such as which entity (db table) it's generating. Some time when it fail, user have no idea which db table is at fault and making it hard to debug.

## Proposed Solutions

- Display the progress when running the command and show info such as the table name and the specification of table columns that it's currently ge

[2022-05-13 07:27] billy1624 commented on #702
Hey @ttys3 & @tyt2y3, thanks for the input! I have consolidated the suggestions into an issue
- #722

[2022-05-13 08:09] greenhandatsjtu commented on #606
@billy1624 thanks for your advice, now I know where to start. I will try to work on the first task, but I'm not sure I can make it, sorry if I bother you again when I meet problems that I can't solve. Or should I make a draft PR if I've made some progess, so you can point out where's wrong or what to do next in that PR, not in this issue anymore?
Thanks again for your patient guidance!

[2022-05-13 10:54] billy1624 commented on #705
This is doable. I guess we can introduce a derive for `Migration` struct.

[code]

[2022-05-13 11:38] billy1624 commented on #720
Hey @cemoktra, thanks for the report! You can override name of the foreign key via one of
- https://github.com/SeaQL/sea-orm/blob/b59f3c58deb04f70476a04263c14f9d21d9596ef/tests/common/features/active_enum_child.rs#L16-L25
- https://github.com/SeaQL/sea-orm/blob/b59f3c58deb04f70476a04263c14f9d21d9596ef/src/entity/relation.rs#L170-L174

[2022-05-14 03:49] kyoto7250 commented on #722
@billy1624

Hello, I am interested in this issue.
I am new comer to contributing to this repository,  Could you tell me about it?

[2022-05-15 10:21] tyt2y3 commented on #254
It now has an alias called `sea`

[2022-05-15 10:21] #254 closed

[2022-05-15 14:38] tqwewe commented on #254
Much better :D

[2022-05-15 20:09] yulidai opened #733 "error occurred while decoding column \"created_at\": mismatched types; Rust type `core::option::Option<chrono::datetime::DateTime<chrono::offset::utc::Utc>>` (as SQL type `TIMESTAMPTZ`) is not compatible with SQL type `TIMESTAMP`"
## Description

1. create table with col defined:
[code]

2. generate entity by using ‵sea-orm-cli`:
[code]

3. get data from database:
[code]
will get error:
[code]

## Versions

sea-orm-cli: 0.8.2
sea-orm-migration = { version = "^0.8.0", features = [ "sqlx-postgres", "runtime-tokio-rustls" ] }

[2022-05-15 20:14] yulidai commented on #733
data can be inserted but will failed to get from database

[2022-05-15 21:49] ikrivosheev commented on #733
I think this is related to: https://github.com/SeaQL/sea-orm/issues/586

[2022-05-15 21:50] #733 closed

[2022-05-15 21:52] ikrivosheev commented on #720
@billy1624 maybe we can make a compiler_error. What do you think?

[2022-05-15 21:54] ikrivosheev commented on #704
Hello, @ttys3! Thank you for the report. Can write a small example which reproduces error?

[2022-05-15 21:57] ikrivosheev commented on #704
And I think varbinary is not equal to String. You can use Binary instead of String.

[2022-05-15 22:11] ikrivosheev commented on #275
@edg-l we add support for some types of DISTINCT into sea-query!

[2022-05-16 03:20] billy1624 commented on #722
Hey @kyoto7250, thanks for the interest!

I think there are two things we need to code.

First, log the table name and its column info of the generating entity.

- We could add the `tracing::info!` macro to https://github.com/SeaQL/sea-orm/blob/e00562695ebb99eca444acbce41aafd0c5f3d539/sea-orm-codegen/src/entity/writer.rs#L93-L111
- For example, in `sea-orm-migration` we have done something similar

[2022-05-16 03:31] billy1624 commented on #720
Seems the maximum allowed length of index / foreign key name were 64 characters or no limit depending on the db backend.
- For MySQL, MariaDB and PostgreSQL, it's 64 characters
- No such limit for SQLite

I think we should throw a error / warning on SeaQuery side @ikrivosheev
Is it possible to throw a compiler error at compile time?

[2022-05-16 03:40] billy1624 commented on #704
Hey @ttys3, I think `varbinary` should represented as `Vec<u8>` in Rust

[2022-05-16 06:28] ikrivosheev commented on #720
@billy1624 I will try to do this...

[2022-05-16 08:58] billy1624 commented on #720
Thanks! @ikrivosheev

[2022-05-16 15:52] ttys3 commented on #704
@ikrivosheev  @billy1624  I updated the issue with re-produce steps.

I think the problem is sea-orm-cli generate entity does not support table has VARBINARY fields

[2022-05-16 20:56] kirawi commented on #47
I'll give this issue a shot in the coming days.

[2022-05-16 22:05] ikrivosheev opened #739 "New Mapping options"
## Motivation

A lot code in my projects is mapping SQL query result into rust struct and convert it to JSON string. I have a few suggestions on how to fix this situation.

### Embeddable:

Example:
[code]

SQL query: `SELECT p, n FROM table`

We can reuse some fields in query result or we can convert two fields into nested struct.

### Nested

[code]

SQL query: `SELECT p, n as nested_n FROM tabl

[2022-05-17 15:45] tyt2y3 commented on #739
Actually I don't quite understand the difference between embeddable and nested.
For "Relationship", I think it's somewhat close to what `find_with_related` does now?

I have a sense that the problem is more in the domain of "transforming from structs to json" that may or may not directly affect query execution?

[2022-05-17 16:47] ikrivosheev commented on #739
@tyt2y3 different is
1. `embeddable` in query is flat list in `rust` is nested struct (without prefix)
2. `nested` this is `embeddable` with prefix in column name

Yes, it is close, but with some different:

1. I can have more then one relationships
2. I can set any key for relationship

[2022-05-17 16:50] ikrivosheev commented on #739
I think I have some problems with the naming

[2022-05-17 17:38] 001wwang opened #742 "sea-orm-cli generate entity PoolTimedOut error with large schema"
First off, thanks for all the hard work!

## Description

When trying to use `sea-orm-cli generate entity` on a large Postgres 9.6.22 database (>400 tables of varying shapes, sizes, constraints, etc.), I encounter the following error:

[code]

Similar to: https://github.com/SeaQL/sea-orm/issues/555

## Steps to Reproduce

Unfortunately, I can't provide exact details around the schema. I think any

[2022-05-17 17:42] ikrivosheev commented on #739
In more general terms: I want some features like in serde deserialization for more convenient mapping of query results to Rust `struct`.

[2022-05-17 18:29] fabioluciano opened #744 "Connection used by migrations loaded from elsewhere"
## Motivation
I'm using SeaORM to create the databases to a CLI app. In the current implementation, the `DATABASE_URL` variable is loaded from `.env` file, using dotenv crate.

https://github.com/SeaQL/sea-orm/blob/e00562695ebb99eca444acbce41aafd0c5f3d539/sea-orm-migration/src/cli.rs#L11-L20

And, if i need to migrate the database, using, for example, a configuration file, other then .env, i cant.

[2022-05-17 18:34] fabioluciano commented on #744
I tried to implement the solution in a new [pull request](https://github.com/SeaQL/sea-orm/pull/738), but i dont know how to implement the connection in actix and in the other frameworks in the test scenarios.

[2022-05-18 02:44] billy1624 commented on #621
Fixed on #694

[2022-05-18 02:44] #621 closed

[2022-05-18 06:55] tubzby opened #745 "ActiviModel.save() failed with: "Query Error: error occurred while decoding: Null""
## Description

I'm new to sea orm and currently using sea-orm 0.8.0, postgresql(12.9)  for testing purpose.

I have create a simple table company:
[code]
with a company.rs

[code]

Then I use the ActiveModel to save it:

[code]
It failed with error:  Query Error: error occurred while decoding: Null

The record is inserted into the database!

## Steps to Reproduce

Not sure.

### Expected Behavior

[2022-05-18 08:05] billy1624 commented on #521
Hey @smonv, @nahuakang would like to take on this issue. Is that fine?

[2022-05-18 08:50] smonv commented on #521
yes, i'm good with it.

[2022-05-18 09:23] billy1624 commented on #745
Hey @tubzby, welcome! I think you need to update your `Model` as follows:

[code]

Because both columns could be `NULL` and it's why you need to wrap it with `Option<T>`.

[2022-05-18 10:02] billy1624 commented on #744
Hey @fabioluciano, thanks for the suggestion and contribution! If you want to run migration on startup, you can refer to our Actix examples. Basically, you can initialize the connection then pass it into methods in `MigratorTrait` to run the migrations. So you don't actually need the migration CLI.

https://github.com/SeaQL/sea-orm/blob/3f90c094079501211e88ea2111ce8f2473493bdf/examples/actix_examp

[2022-05-18 10:10] tubzby commented on #745
@billy1624 Fixed, thanks!

[2022-05-18 10:10] #745 closed

[2022-05-18 10:14] billy1624 commented on #745
Welcome :D

[2022-05-18 11:02] billy1624 commented on #739
I think `Embeddable` and `Nested` are the same, the only difference is having column prefix or not

[2022-05-18 11:09] billy1624 commented on #742
Hey @001wwang, thanks for the investigations! Increasing the `connect_timeout` seems like a good temporary fix. However, I want to know why it takes so long to fetch the info of all db tables? Does anyone have a large sample schema for testing?

[2022-05-18 13:53] 001wwang commented on #742
No problem, thanks for the prompt reply! I'll see if I can produce a large sample schema for recreating this issue later.

[2022-05-18 17:58] Sytten opened #748 "sea-orm-migration should not depend on async-std"
## Description

The migrations should not depend on any async implementation.
What should instead be done is changing the template created on init to have the dependency and then remove it from the crate.

[2022-05-18 18:06] Sytten commented on #739
In Diesel, you can specify a `ToSql` and `FromSql` trait on your object.
Thats the most flexible IMO, but I like the embedded solution for JSON.
It might be error prone / annoying for users to have to redo this change every time the entities are generated, so maybe a solution like `#[sea_orm(Nested)]` would de preferable so the annotation can be preserved between generations.

[2022-05-18 18:26] fabioluciano commented on #744
Ow.... Let me try this 👯

[2022-05-19 02:40] #744 closed

[2022-05-19 02:41] billy1624 commented on #744
Welcome! :D

[2022-05-19 08:19] nahuakang commented on #521
@smonv Thank you :) I'll claim this!

[2022-05-19 15:45] Sytten opened #751 "sea-orm-migrations relaxed file ordering"
## Motivation

Currently the file ordering is used to get if a migration has been applied:
https://github.com/SeaQL/sea-orm/blob/3f90c094079501211e88ea2111ce8f2473493bdf/sea-orm-migration/src/migrator.rs#L70

This is fine in basic cases but it becomes a pain when you work with a larger team where concurrent PR can introduce new migrations. Since those migrations might not be related, there is ofte

[2022-05-19 21:01] Sytten opened #753 "Allow user to retrieve connection from underlining pool"
## Motivation

For some specific reason (related to us still using sqlx migrations), I happen to need an sqlx connection from the pool which I don't seem to be able to get. It would be nice to have a feature that allows us to get it.

## Proposed Solutions

1. Add a crate feature (`i-hop-in-breaking-changes` or something like that)
2. Add a method under this feature flag to get the raw sqlx connec

[2022-05-20 07:21] billy1624 commented on #300
Hey everyone, please check #754

[2022-05-20 10:10] billy1624 commented on #751
Hey @Sytten, I think we can relax the constraint by allowing old pending migrations to be applied without firing any errors.

For example...

In the database, there are 2 migrations already been applied:
- m20220120_000001_create_post_table
- m20220520_000001_create_order_table

On the other hand, we have 3 migration files:
- m20220120_000001_create_post_table.rs
- m20220519_000001_alter_post_tabl

[2022-05-20 10:13] billy1624 commented on #748
Hey @Sytten, thanks for pointing that out, I agree with you. We should let user to decide the runtime :)

[2022-05-20 13:12] nahuakang commented on #521
@billy1624 Some updates after digging today:

[`sea-orm-cli generate entity`](https://github.com/SeaQL/sea-orm/blob/master/sea-orm-cli/src/commands.rs#L140) command actually takes care of `DATABASE_SCHEMA` for `postgres`.

However, [`sea-orm-cli migrate`](https://github.com/SeaQL/sea-orm/blob/master/sea-orm-cli/src/commands.rs#L288) does not take care of `DATABASE_SCHEMA` for `postgres` and it rel

[2022-05-21 23:42] maltevesper commented on #591
Unfortunately I have not seen #611 before amking this.
I think there is a slight conflict now, i will touch on this under the actual PR.

[2022-05-23 06:34] billy1624 commented on #748
Hey @Sytten, please check @Sytten

[2022-05-23 11:02] billy1624 commented on #521
Hey @nahuakang, sorry for the delay. Thanks for the investigations!

Correct, and `DATABASE_SCHEMA` will only be used when the connect is pointing to PostgreSQL.

Take this as reference, which inject schema name for SeaORM entity https://github.com/SeaQL/sea-orm/blob/3f90c094079501211e88ea2111ce8f2473493bdf/src/entity/base_entity.rs#L31-L37

However, for migration, we're injecting schema name into

[2022-05-23 15:24] #748 closed

[2022-05-25 07:47] nahuakang commented on #521
I'm guessing that the `stmt` must be injected of the schema for Postgres before `self.conn.execute(builder.build(&stmt)).await.map(|_| ())` is executed in `SchemaManager.exec_stmt` method?

The issue is that a lot of the other `stmt` types don't have a reference to `TableRef` but to `Option<DynIden>` or simply don't have table reference at all. Below are a few examples from `sea-query`:
[code]

Le

[2022-05-25 09:21] billy1624 commented on #521
Good point! I think we need to update these statement to quantify the schema name

For PostgreSQL type statement, it actually supports schema name. But we didn't implement it in SeaQuery
https://www.postgresql.org/docs/current/sql-createtype.html

[2022-05-25 09:53] nahuakang commented on #521
So what should the next step be in terms of moving forward with this issue? Should we have a separate PR that addresses `sea-query`? Happy to help on that if you could give some tips on the scope and direction.

[2022-05-25 10:00] wurikiji opened #762 "When db is sqlite::memory:, `unique` constraints does not work."
## Description

The in-memory backend of SQLite3 supports `unique` constraints. But, when I use

## Steps to Reproduce

Follow the below using sea-orm's methods.

1. create table a (a int primary key, b text unique);
2. insert into a values (10, "hi");
3. insert into a values (11, "hi");
4. select * from a;

### Expected Behavior

The result of step 4 should be a length of 1

### Actual Behavior

[2022-05-25 11:31] billy1624 commented on #762
Hey @wurikiji, welcome and thanks for the report! I was not able to reproduce the behaviour. See #763

[2022-05-25 12:10] billy1624 commented on #521
Yes, please open an issue & PR on SeaQuery. Check all `stmt` below and see if any table reference is of `Iden` type, it should be changed to `TableRef`. Also, some statement support schema scope, for example, type name could have schema prefix. We can update it from `Iden` to `IdenList`.
- https://github.com/SeaQL/sea-orm/blob/183639dc8c817fbd3211a87c67bcb983db4050ed/sea-orm-migration/src/manager.

[2022-05-25 14:04] MaderNoob opened #764 "Postgres enum type not working with `select_only().column()`"
## Description

When using a postgres enum as the type of a column, fetching normally using `Entity::find()` works, but using `.select_only().column()` with that column doesn't work, and gives the following error:

error occurred while decoding column "<column name>": mismatched types; Rust type `core::option::Option<alloc::string::String>` (as SQL type `TEXT`) is not compatible with SQL type `<en

[2022-05-25 14:13] MaderNoob opened #765 "Migrate fresh not deleting postgres type"
## Description

If the migration creates postgres types, running `sea-orm-cli migrate fresh` will fail because it doesn't delete types, and it will say that the type already exists.

## Steps to Reproduce

1. Create a migration which creates a postgres type.
2. Run the migration `sea-orm-cli migrate up`
3. Try to run a fresh migration `sea-orm-cli migrate fresh`

### Expected Behavior

The fresh m

[2022-05-27 02:31] ricardoalcantara commented on #586
Hello!

I had this same issue:
- I am using **Postgres**;
- I have fields mapped with `ColumnDef::new(..).timespamp()`;
- The migration generate the correct field in the Database with type timespamp.

But then generated entities places DateTimeUtc and after I face this:

[code]

And I no longer can query those tables with timestamp.

I also had a LEFT JOIN that was returning Vec[] empty without cr

[2022-05-27 08:36] billy1624 commented on #586
Hey @ricardoalcantara, please check @772

[2022-05-27 11:15] billy1624 commented on #160
Hey @tyt2y3, I have a counter proposal.

Why don't we allow custom join condition on `RelationDef`? I guess it's probably because you don't want to mix details of the join expression into `RelationDef`?

But I think it would be useful to automatically apply the custom join condition when user invoking:

https://github.com/SeaQL/sea-orm/blob/183639dc8c817fbd3211a87c67bcb983db4050ed/src/query/helper

[2022-05-28 08:36] #704 closed

[2022-05-29 04:54] Oyelowo opened #774 "`uuid:Uuid` not implemented for `sea_orm::Value`"
I am trying to use the updated `uuid::Uuid` 1.1.0 version in a struct with SeaOrm but getting an error because it cannot be converted to  `sea_orm::Value`

Has anyone else encountered this issue?
[code]

The code:
[code]

[2022-05-29 05:55] Oyelowo commented on #774
## SOLVED

Cross-posting from hereL https://github.com/async-graphql/async-graphql/issues/937

So, while I was digging to make a PR, I realised that the older `uuid` had been renamed to `uuid08`.
So, the solution is to simply add this as a feature in your `Cargo.toml`. e.g
[code]

[2022-05-29 05:55] Oyelowo commented on #774
This is relevant for those using async-graphql

[2022-05-29 05:57] Oyelowo commented on #774
Closing this now as resolved

[2022-05-29 05:57] #774 closed

[2022-05-29 09:46] PleaseDont opened #775 "How to define a `2 to many` relation?"
For example:
We got a `user` table like:
[code]

And a `trade` table like:
[code]
The `from_user_id` and `to_user_id` will never be same.

[2022-05-30 12:50] fabioluciano opened #777 "Abstraction of EntityTrait result in Cakefilling related error"
## Description
I'm trying to create a abstraction using the EntityTrait for perform common procedures with the entities in my application. To do that, i'm using the follow code:

[code]

And calling like this:

[code]

The firsts two functions works as expected. But the third one, don't. Actualy, the exception been triggered is weird. Looks like that this trait is using something from implemented

[2022-05-31 10:16] rustdreamer commented on #585
This is very common in practical applications, is there any advancement now?

[2022-06-02 06:10] EtienneProthon commented on #576
Could we have an example of the workaround using Json type for the moment ? I need to store and array of enum and i can't find any example on array storage as json.

[2022-06-02 06:16] langzime opened #782 "custom table names like user1, user2,user... ， They all have same columns, but table name"
## Motivation

## Proposed Solutions

## Additional Information

[2022-06-02 07:09] billy1624 commented on #576
Hey @EtienneProthon, please check #783

[2022-06-02 07:11] billy1624 commented on #762
Please reopen this if you have any updates

[2022-06-02 07:11] #762 closed

[2022-06-02 07:39] billy1624 commented on #782
Hey @langzime, welcome! If I understand your question correctly:

[code]

You can create a macro your own to define those entities with ease.

[2022-06-05 07:35] langzime commented on #782
but it adds a lot of repetition，

[2022-06-05 08:36] langzime commented on #782
I have 256 tables and other 128 tables

[2022-06-06 02:08] #782 closed

[2022-06-06 02:10] langzime opened #787 "Dynamic Table Name， a lot of tables with the same structure, it is not appropriate to define many structures with macros"
## Motivation

## Proposed Solutions

## Additional Information

[2022-06-06 02:32] billy1624 commented on #787
Hey @langzime, is this a follow up question of
- https://github.com/SeaQL/sea-orm/issues/782

[2022-06-06 02:36] billy1624 commented on #787
Yeah, this is the tradeoff. Defining the repeated structs over and over again OR defining repeated struct with macro. Define with macro will improve the readability and avoid repeated code but it's harder to develop upon as not all IDEs are able to expand the macros.

[2022-06-06 03:13] langzime commented on #787
Yes, i tried it. A lot of macros cause ide very laggy and a lot of extra code

[2022-06-06 03:18] billy1624 commented on #787
From my experience, it's just a one-time long compilation as 200+ entities were added at once. Once it's compiled it will never be recompiled on the same machine given the fact that entity file is unchanged.

[2022-06-06 03:25] langzime commented on #787
I have 500+ ...

[2022-06-06 03:29] langzime commented on #787
In cases like this, I currently use mysql_async

[2022-06-06 04:35] billy1624 commented on #787
I think there are three options:
1. Fork SeaORM and change this part, making it to be provided in runtime: https://github.com/SeaQL/sea-orm/blob/1ea8b457bf9f66988a45696c15933a6a756854ed/src/tests_cfg/cake_expanded.rs#L7-L11
2. Construct SQL statement with SeaQuery then pass it to SeaORM for execution: https://github.com/SeaQL/starfish-ql/blob/459a71609785f74739d4b5ba9a2983af0cedfae6/starfish/starf

[2022-06-06 19:35] D1plo1d opened #788 "Support time 0.3.x"
The chrono crate causes `cargo-audit` to warn about RUSTSEC-2020-0071. Chrono also causes a warning about it's stdweb dependency being unmaintained.

If someone is able to enable `time 0.3.x` for this crate then it would resolve these cargo-audit issues.

Note: Since `sqlx::query!` overrides `time` (de-)seriaization with `chrono` when `chrono` is enabled ( https://github.com/launchbadge/sqlx#cargo

[2022-06-06 19:51] GiyoMoon commented on #788
I agree! It's currently not possible to remove `chrono` from the dependencies :/

[2022-06-07 04:22] langzime commented on #787
Thank you very much,  I'll try it sometime.
Do you have plans to support this feature?

[2022-06-07 04:26] billy1624 commented on #787
It's not on our plan. But if you have an good proposal we're willing to consider :D

[2022-06-12 12:30] #722 closed

[2022-06-13 21:34] ahollmann commented on #689
There is no released version of sqlx with a bumped uuid dependency is blocked by https://github.com/launchbadge/sqlx/issues/1877.

[2022-06-14 03:10] billy1624 commented on #764
Hey @MaderNoob, sorry for the delay. You have to cast the enum explicitly. For example,
https://github.com/SeaQL/sea-orm/blob/4301383b409737f85378a1da8a4c122478248ba0/src/query/select.rs#L124-L134

[2022-06-14 03:46] tyt2y3 commented on #676
https://github.com/SeaQL/sea-orm/pull/696#issuecomment-1154676140

[2022-06-14 04:06] liberwang1013 commented on #160
I have same problem. In my situation. I have three entity

### **woker.rs**
[code]
### **label.rs**
[code]

### **label_link.rs**
[code]

### My Problem
In my case , I use **target_type** field to known the actual resource this label related. So I hope the generated sql can add a extra condition like
[code]
I hope add one more field  In **RelationDef** to support extra join condition.

[2022-06-14 04:46] liberwang1013 commented on #160
Here is my experiment implement for extra condition support https://github.com/liberwang1013/sea-orm/pull/2, through I can using this code to custom join condition

[code]
and the generated sql will be like
[code]

[2022-06-14 07:56] billy1624 commented on #220
Hey everyone, the soft delete PR is ready for comments and review
- https://github.com/SeaQL/sea-orm/pull/790

[2022-06-14 15:37] negezor commented on #576
This is the only thing that prevents me from using sea-orm right now, because I need to work with the postgres array. I can't change the array to JSON in my tables. Is there a workaround to use an array without JSON? I'm interested in an int8 array.

[2022-06-16 07:40] billy1624 commented on #486
I would suggest to leave it as-is and advice user to user with cautions.
- `one`: for one-to-one relation and it might return non deterministic result for one-to-many relation
- `all`: for both one-to-one and one-to-many relations

[2022-06-16 08:06] billy1624 commented on #720
As I mentioned above you can override the generated foreign key name, https://github.com/SeaQL/sea-orm/issues/720#issuecomment-1125967188. And, @ikrivosheev, I don't think we can produce a error / warning for long foreign key name at compile time because the name isn't a constant that we can evaluate at compile time.

[2022-06-16 10:20] inf0rm4tik3r commented on #705
I usually do the following:

In all migration files, include:

    `crate::migration_file!();`

I defined the macro like this:

`
#[macro_export]
macro_rules! migration_file {
    () => {
        pub struct Migration;
        impl MigrationName for Migration {
            fn name(&self) -> &str {
                std::path::Path::new(file!())
                    .file_name()
                    .un

[2022-06-16 10:38] inf0rm4tik3r opened #795 "How to properly write a table name migration"
Lets say I defined an entity like this:

    #[sea_orm(table_name = "Courses")]
    pub struct Model {
        ...
    }

And I created a migration to create a table for these entities with
[code]
That table will have the name `Courses`.

Lets say I want to rename this table to its singular name `Course`. This is how my migration initially looked like
[code]

Executing this works, but every access

[2022-06-16 13:11] POPPIN-FUMI opened #796 "can't use `auto_increment` = true in entity"
## Description

## Steps to Reproduce

I created `user`  and `transaction` table
This is user has many transaction relation.

But the auto_increment = true is not working ;

entity/src/transaction.rs
[code]
migrate up works fine but the result is

postgresql
[code]

referenced:
[https://github.com/SeaQL/sea-orm/tree/master/examples/graphql_example](https://github.com/SeaQL/sea-orm/tree/master/exam

[2022-06-16 23:34] Gab-Menezes opened #797 "Error building sea-orm-cli"
## Description
Trying to run `cargo install sea-orm-cli` or `cargo +nightly install sea-orm-cli` results in a build error.

## Steps to Reproduce
1. Run `cargo install sea-orm-cli` or `cargo +nightly install sea-orm-cli`

### Expected Behavior
For the sea-orm-cli extension to build successfully.

### Actual Behavior
Error building the sea-orm-cli

### Reproduces How Often
Always happens

## Versio

[2022-06-17 02:35] Nejat commented on #797
+1

[2022-06-17 02:46] billy1624 commented on #796
Hey @POPPIN-FUMI, welcome! I think what you want is just having the `id` column as the primary key and with it auto-incremented. If that so, you can define it as below:

[code]

[2022-06-17 03:20] billy1624 commented on #797
Hey everyone, sorry for the trouble. It was caused by SeaScheam depends on SQLx with version ^0. Then, when SQLx released its 0.6.0 few hours ago. Which causes `sea-orm-cli` failed to compile, as it depends on SeaSchema.

We will release a patch for SeaSchema and `sea-orm-cli` soon. At the meantime you can clone https://github.com/SeaQL/sea-orm/pull/798 and install `sea-orm-cli` follow the instruc

[2022-06-17 03:33] billy1624 commented on #689
Hey everyone, SQLx 0.6.0 has been released. Changelog: https://github.com/launchbadge/sqlx/blob/main/CHANGELOG.md#060---2022-06-16

[2022-06-17 03:33] billy1624 commented on #788
Hey everyone, SQLx 0.6.0 has been released. Changelog: https://github.com/launchbadge/sqlx/blob/main/CHANGELOG.md#060---2022-06-16

[2022-06-17 03:36] #797 closed

[2022-06-17 03:54] billy1624 commented on #797
Please try and install `sea-orm-cli` with command `cargo install sea-orm-cli`. It should be working now. Thanks again for the prompt report :)

[2022-06-17 03:57] smonv commented on #689
@billy1624 I'll try to create a PR to upgrade later today

[2022-06-17 06:00] tyt2y3 commented on #797
Thank you for letting us know

[2022-06-17 10:09] POPPIN-FUMI commented on #796
Thank you!
This way solved my problem
[code]

[2022-06-17 10:09] #796 closed

[2022-06-17 18:38] jescobar opened #799 "I can't filter by a Uuid Column, the .eq method give me an error"
## Description
Hi all, first, thanks for all the great job with Sea-orm, and before hand thanks for all your help. Take in account that I'm totally new to sea-orm, so maybe I'm making something wrong, I read the documentation without lucky to resolve the issue.

I'm migrating from diesel, orm. I have an issue when I try to filter by a column of type Uuid, the .eq method give me this
id: &Uuid
Go t

[2022-06-19 09:41] tyt2y3 commented on #705
Thanks. This is quite neat!

[2022-06-19 09:44] tyt2y3 commented on #720
Actually, I think we can leave it as is. It might be a good idea for the linter, though. @kirawi

[2022-06-20 19:45] eratio08 opened #804 "[Feature Request] Optimistic Locking"
## Motivation

Optimistic locking allows to handle competing/concurrent modifications of a row.

## Proposed Solutions

[code]
Should generate the SQL statement
[code]
If effected row would be 0 the result be would be a `DbError::ConcurrentModification`

A version column could be derived by
[code]

## Additional Information

An advanced version could also allow Timestamps as data type for the opt-

[2022-06-21 03:06] baoyachi opened #805 "Why does sea-orm-cli generate entity not include Cargo.toml file"
## Description

## Steps to Reproduce

1. When I use sea-orm-cli generate entity: not auto generate Cargo.toml file.
* exec cmd
[code]
[code]

## Versions

## Additional Information
[code]
I expect whole cargo library. But now ,lost Cargo.toml not running. Need I add manully

[2022-06-21 03:20] baoyachi opened #806 "Does sea-orm-cli generate MigrationName by current datetime, not Fixed Date"
code link:https://github.com/SeaQL/sea-orm/blob/fff738a706d8097bb2b92d7a1fad3b67c2cde653/sea-orm-cli/src/commands.rs#L232

Now:
<img width="1399" alt="image" src="https://user-images.githubusercontent.com/10433001/174709479-d0d932ee-b549-4310-933a-92201e74c42b.png">

Suggestion:

<img width="879" alt="image" src="https://user-images.githubusercontent.com/10433001/174709310-d51b2f8f-dc3f-4bcd-94b9-

[2022-06-21 07:12] billy1624 commented on #486
Hey @tyt2y3, do you mean removing `one` from `SelectTwoMany`?

From my understanding:
- `SelectTwo`: is for selecting models in a one-to-one relationship
- `SelectTwoMany`: is for selecting models in a one-to-many relationship

[2022-06-21 14:33] billy1624 opened #808 "Upgrade SQLx dependency to 0.6.x"
## Motivation

Upgrading SQLx dependency as well as the downstream dependencies such as `time`, `uuid`, `bigdecimal`, etc.

## Tasks

- [x] Upgrade to SQLx 0.6.x
- [x] Upgrade to time 0.3.x
    - https://github.com/SeaQL/sea-orm/issues/788
- [x] Upgrade to uuid 1.x
    - https://github.com/SeaQL/sea-orm/issues/689

## Additional Information

Potential Breaking Changes
* https://github.com/launchba

[2022-06-22 06:09] swaitw opened #809 "Table name not match in some examples"
## Description

try to run [axum-example](https://github.com/SeaQL/sea-orm/tree/master/examples/axum_example) which not work for me

fixed by change(https://github.com/SeaQL/sea-orm/blob/master/examples/axum_example/migration/src/m20220120_000001_create_post_table.rs):
`
#[derive(Iden)]
enum Post {
    Table,
    Id,
    Title,
    Text,
}
`
to
`
#[derive(Iden)]
enum Posts {
    Table,
    Id,

[2022-06-22 06:38] billy1624 commented on #809
Hey @swaitw, thanks for catching that. I will fix it in a bit!

[2022-06-22 06:53] jacksoom opened #811 "error[E0407]: method `into_active_option_value` is not a member of trait `IntoActiveValue`"
## Description

error[E0407]: method `into_active_option_value` is not a member of trait `IntoActiveValue`
   --> /Users/jacksoom/.cargo/registry/src/github.com-1ecc6299db9ec823/sea-orm-0.8.0/src/entity/active_model.rs:660:13
    |
660 |               fn into_active_option_value(self) -> ActiveValue<Option<$ty>> {
    |               ^  ------------------------ help: there is an associated functio

[2022-06-22 08:21] #809 closed

[2022-06-22 15:42] billy1624 commented on #811
Hey @jacksoom, welcome! Was it a typo? I guess you want the `into_active_value` method?

[2022-06-24 10:34] xiaoquisme opened #817 "add global error cargo-watch page for actix 4 example && update readme file"
## Motivation

1. when I learning sea-orm with actix 4 demo, found that [readme](https://github.com/SeaQL/sea-orm/blob/master/examples/actix_example/README.md) seems missing a command `cargo-watch` it's **very unfriendly for beginners**. and I fix it.
2. add  missing feature 404 for actix 4 example

[2022-06-26 07:35] #817 closed

[2022-06-26 08:04] #586 closed

[2022-06-26 09:39] inf0rm4tik3r opened #820 "Migrating a non-null column to be nullable"
In a prior migration, I initially defined a column like this
[code]

I realized that the column has to accept null.

So I added the following in a new migration
[code]
hoping that this would remove the "not null" flag.

But after running the migration, the column is still reported as not-nullable.

Even though there is a `ColumnSpec::Null`, it seems that there is no `.null()` or `.nullable()` func

[2022-06-26 09:50] 891806797 opened #821 "select_only will return"
let user_res = user_account::Entity::find()
            .select_only()
            .column(user_account::Column::Id)
            .column(user_account::Column::Username)
            .column(user_account::Column::Passwd)
            .filter(user_account::Column::Username.eq(self.username.as_str()))
            .one(&sdk.as_ref().db)
            .await;

Error message：
Query Error: no column found fo

[2022-06-26 12:52] #664 closed

[2022-06-26 13:26] tyt2y3 commented on #821
We need the entity file to reproduce the problem.

[2022-06-27 06:42] billy1624 opened #825 "[CLI] Ignore `seaql_migrations` table by default when generating entity files"
## Motivation

`seaql_migrations` table is used to track status of SeaORM migrations and normally user don't need to access its rows in their SeaORM application.

## Proposed Solutions

`sea-orm-cli generate entity` will be execute with a default option, `--ignore-tables seaql_migrations`, which include a list of ignored tables

[2022-06-27 13:57] TKFRvisionOfficial opened #826 "default_expr method not found in `sea_orm::ColumnDef`"
## Description

default_expr does not seem to be implemented

## Steps to Reproduce

[code]

### Expected Behavior

A uuid should be generated if none specified.

### Actual Behavior

[code]

### Reproduces How Often

Always

## Versions

[code]
## Additional Information
(Cargo Expand)
[code]

[2022-06-27 16:14] tyt2y3 commented on #787
Actually, it's possible to have an Entity that has a state, so your Entity is no longer a unit struct, but a `struct Entity(String)`.

[2022-06-27 16:15] tyt2y3 commented on #787
Although I am not sure there are other blockers to this approach. But yeah at least it was designed that way, the `table_name` take a `self`

[2022-06-28 04:04] billy1624 commented on #787
From `table_name` perspective, it's designed with runtime in mind. https://github.com/SeaQL/sea-orm/blob/6bc76698cc54aea1eb54cbd82d1d5af096432079/src/entity/base_entity.rs#L23-L24

However, when constructing query. It doesn't take `&self`. So, it's solely rely on the `Entity` defined in compile-time.

Also, `EntityName` must be `Copy` but `String` isn't. So, `pub struct Entity(pub String)` wouldn'

[2022-06-28 07:50] billy1624 commented on #799
Thanks for the updates :D

[2022-06-28 09:01] billy1624 opened #827 "Automatically update `created_at` & `updated_at` timestamp columns on update"
## Motivation

This is a common feature for an ORM. Which "touch" these timestamp columns to record the last update timestamp and create at timestamp of a row.

## Proposed Solutions

User can enable this feature by placing attribute on the corresponding field in the entity model.

[code]

For insert, the value of both `updated_at` and `created_at` will be set to `CURRENT_TIMESTAMP`.

For update,

[2022-06-28 16:27] #160 closed

[2022-06-29 22:23] dinhani opened #828 "Add column name when `error occurred while decoding: Null`"
## Motivation
A common error I make is forgetting to map a nullable column using `Option`, so I receive the error message `error occurred while decoding: Null`.

I would like the have the column name in the error message so I can easily identify what column was mapped wrongly.

## Proposed Solutions
It seems the column name is available in all places the Null error is generated, so it would be nic

[2022-06-30 03:32] baoyachi opened #829 "Does sea-orm support AsChangeset feature"
link diesel AsChangeset:https://docs.rs/diesel/latest/diesel/query_builder/trait.AsChangeset.html#

[2022-06-30 04:01] billy1624 opened #830 "[examples] Demonstrate how to mock test SeaORM's CURD operations on common web APIs"
## Motivation

Some web API enforce app state to be `Clone` in particular, Axum, Rocket, etc. However, when `mock` feature is enabled on SeaORM, it will make `DatabaseConnection` not cloneable. And this cause trouble for users who want to mock test their web API endpoints.

## Proposed Solutions

Separating the API into two standalone crates namely `api` and `core`, then we unit test the `core` an

[2022-06-30 04:01] billy1624 commented on #830
@tyt2y3 thoughts?

[2022-06-30 04:04] hhstore commented on #438
- `mock` conflicts with `axum route`.
- I just disable the `mock` feature, Indeed, solved the problem.
- Curious about this feature, what does it do?

[2022-06-30 04:12] hhstore commented on #805
- My guess is to consider that entity can also be used as a module instead of a standalone package.
- Below is my [go-task](https://taskfile.dev/#/usage?id=environment-variables) script, you can use it. It fixes this automatically.

[code]

[2022-06-30 05:45] billy1624 commented on #438
Hey @hhstore, if you don't need mock testing you can disable `mock` feature. However, if you do need it, please check https://github.com/SeaQL/sea-orm/issues/830

[2022-06-30 16:36] tyt2y3 commented on #828
Thank you for your suggestion. I agree with that. PR is welcomed.

[2022-06-30 17:00] tyt2y3 commented on #808
Is there a PR for this yet?

[2022-06-30 17:01] billy1624 commented on #808
No active PR at the moment :P

[2022-06-30 17:05] tyt2y3 commented on #787
Then probably a lazy_static with `Entity(&'static str)` would work

[2022-06-30 18:03] #684 closed

[2022-06-30 18:40] #751 closed

[2022-07-01 10:23] frederikhors opened #832 "Is possible to use Rails-like polymorphic associations?"
## Motivation

I'm evaluating SeaORM for a new starting project and I would like to know if there is something like [Rails polymorphic associations](https://guides.rubyonrails.org/association_basics.html#polymorphic-associations).

[2022-07-01 21:05] Sytten commented on #808
Yeah agreed, needs an update to time. I am wondering if chrono support should be just removed, its basically deprecated.
It's a bit annoying that when using `sqlx-postgres`, chrono gets added automatically and also the CLI defaults to chrono without a flag for time.

[2022-07-02 06:11] tyt2y3 commented on #808
Regarding unwanted dependencies, I think we can take advantage of `?` dependency and solve that

[2022-07-02 06:13] tyt2y3 commented on #808
sea-query and sea-schema is already upgraded and released to sqlx 0.6
@billy1624 sea-orm side can assign to you?

[2022-07-02 06:23] tyt2y3 commented on #808
I also don't oppose to change the default in SeaORM if a lib is deprecated. However is there a source for this information?

[2022-07-02 07:43] Sytten commented on #808
Well its not dead but no release in two years and unpatched vulnerability. The current master is very different from the current release. You can keep it with the ? Thats true.

[2022-07-02 07:45] ikrivosheev commented on #808
Did you mean me?

[2022-07-02 08:58] tyt2y3 commented on #808
Haha yes

[2022-07-03 04:21] billy1624 commented on #808
Hey @Sytten, do you mean generate entity with datetime field defined with `time` types?
- https://github.com/SeaQL/sea-orm/pull/724

[2022-07-03 04:49] billy1624 commented on #808
Yes, please! I've created a PR for this but it's still WIP. Please check https://github.com/SeaQL/sea-orm/pull/834 and see if you have anything to add. Just feel free to push commits to the branch.

I'll get back and work on it tomorrow. Thanks! :D

[2022-07-04 07:12] RogueJin opened #836 "the trait `Clone` is not implemented for `DatabaseConnection`"
I got the below error when I set a filed as DatabaseConnection type, but such usage works in rocket example, so is there anything I missed?

the trait bound `DatabaseConnection: Clone` is not satisfied the trait `Clone` is not implemented for `DatabaseConnection`

[code]

[code]

[2022-07-04 07:29] billy1624 commented on #836
Hey @RogueJin, did you enabled `sea-orm`'s `mock` feature somewhere in the workspace?

[2022-07-04 07:36] billy1624 commented on #808
Hey everyone, https://github.com/SeaQL/sea-orm/pull/834 is ready for review! :)

[2022-07-04 07:38] ikrivosheev commented on #826
@TKFRvisionOfficial hello! Thank you, this is strange, because sea-query has an issue: https://github.com/SeaQL/sea-query/issues/347 I am working on it, but I need more time.

[2022-07-04 07:42] billy1624 commented on #826
Hey @TKFRvisionOfficial, sorry for the delay. We will support `default_expr` in `sea-query` first. Then, we will make the API available on `sea-orm` as well.

[2022-07-04 07:44] ikrivosheev commented on #805
Maybe we can add a flag? Generate mod or new crate?

[2022-07-04 07:54] billy1624 commented on #805
Yeah, related discussion
- https://github.com/SeaQL/sea-orm/discussions/604

[2022-07-04 07:56] billy1624 commented on #663
Fixed by
- https://github.com/SeaQL/sea-query/pull/333

[2022-07-04 07:56] #663 closed

[2022-07-04 08:13] RogueJin commented on #836
@billy1624, mock is referenced in another project for unit test purpose.

The compilation passed once removing the mock feature, but I have another question, how can I do mock stuffs without the feature?

[2022-07-04 08:18] billy1624 commented on #836
I would suggest you to split the two into two different crate with each under different workspace. Then, you can have one crate with `mock` enabled and the other without it. Does it make sense?

The proposed solution:
- https://github.com/SeaQL/sea-orm/issues/830

[2022-07-04 08:28] RogueJin commented on #836
Thanks @billy1624 , I have a last question, could I have any docs on the reason that DatabaseConnection   shouldn't have clone under mock feature? I am just curious about it.

[2022-07-04 08:39] baoyachi commented on #805
May be sea-orm support config this all option into file. and then exec :sea-orm-cli, that all people can read file config known how to do it.

[2022-07-04 08:39] billy1624 commented on #836
Okay, here is the context for anyone interested in this:
- https://github.com/SeaQL/sea-orm/pull/665

[2022-07-04 08:44] #836 closed

[2022-07-04 08:58] RogueJin commented on #836
if it is possible,  I would suggest to separate the mock feature since mocking DB operations in unit tests is the major reason to choose sea orm.

[2022-07-04 10:42] billy1624 commented on #836
Hey @RogueJin, what do you mean by separate the mock feature out? In what way?

[2022-07-04 15:53] baoyachi opened #838 "Too much warnings when compile code."
When compile sea-orm.It's very uncomfortable for a programmer who likes not to warnings.

Suggestion: add clippy check in github action, when check code warnings compile not pass.
[code]

[2022-07-04 16:07] #775 closed

[2022-07-04 17:05] #808 closed

[2022-07-04 17:19] #825 closed

[2022-07-05 06:48] billy1624 commented on #775
Hey @PleaseDont, sorry for the delay. Hmmmm... I don't get the problem

[2022-07-05 09:12] billy1624 commented on #838
Hey @baoyachi, thanks for the initiatives! I agree we should have enforce clippy checks in CI. Please check https://github.com/SeaQL/sea-orm/pull/840

[2022-07-05 09:18] baoyachi commented on #838
So good. I have some other suggestions：
* add `cargo fmt`
* add `cargo fix` && `cargo fix`

use `cargo fix` twice，make ci check code git status is clean, `cargo fix` can check git is dirty ,compile error

detail see: [github action](https://github.com/baoyachi/shadow-rs/blob/master/.github/workflows/check.yml#L31-L36)

[code]

[2022-07-05 09:44] billy1624 commented on #838
We would run `cargo fmt` before release and we didn't enforce it in CI as we don't want to put too much burden on the contributors. So, I would say adding clippy checks for now is sufficient :)

[2022-07-05 09:45] baoyachi commented on #838
Oh, I see.

[2022-07-05 09:50] billy1624 commented on #832
Hey @frederikhors, welcome! You can define the `picture` table, which can be found in your provided link as SeaORM entity below:

[code]

[2022-07-05 09:52] billy1624 commented on #838
Anyways, thanks for the help and support!

[2022-07-05 09:55] billy1624 commented on #828
Hey @dinhani, welcome! Sorry for the delay! Yeah, it's definitely doable and making it much easier to debug.

[2022-07-05 09:57] billy1624 commented on #828
For anyone who is reading this, I'll mark this issue as open for contributions :)

[2022-07-05 10:02] frederikhors commented on #832
This was my question indeed: it's not automatic, right?

[2022-07-05 10:10] billy1624 commented on #806
Hey @baoyachi, sorry for the delay. Good suggestions! Actually, it's very similar to this feature: creating new migration file with filename of current date time
- https://github.com/SeaQL/sea-orm/pull/656
- This line, to be exact: https://github.com/SeaQL/sea-orm/pull/656/files#diff-0ad0c0489cc7359f48740c645608cad9aaf0318787c7d1b7fc0910828f2429e4R234

Btw... with this PR landed. We no longer has

[2022-07-05 10:10] billy1624 commented on #806
I'll open this for anyone who feel interested to contribute :)

[2022-07-05 10:17] baoyachi commented on #806
I want try.

[2022-07-05 10:24] billy1624 commented on #832
No built-in support for such "automatic" polymorphic associations. But you can build a wrapper around it, just like what I've said.

[2022-07-05 10:25] billy1624 commented on #806
Please go ahead! Thanks in advance! Feel free to ping me here or at Discord if you need help. Just open a draft PR and ask for comments / review :)

[2022-07-05 10:26] billy1624 commented on #806
Hey @baoyachi, I'll assign this to you

[2022-07-05 10:26] frederikhors commented on #832
Ok. I'll try in a few days. Thanks.

[2022-07-05 10:26] #832 closed

[2022-07-05 10:28] billy1624 commented on #788
`time` version bumped to 0.3
- https://github.com/SeaQL/sea-orm/pull/834

[2022-07-05 10:28] #788 closed

[2022-07-05 10:29] #689 closed

[2022-07-05 10:52] billy1624 commented on #832
Let me know how it turns out. Maybe we can add a demo for SeaORM hahaa
Thanks in advance!

[2022-07-06 02:16] kyoto7250 commented on #828
@billy1624

hello, Could you please assign me with this issue?

[2022-07-06 06:56] ikrivosheev commented on #828
@kyoto7250 done)

[2022-07-06 07:16] kyoto7250 commented on #828
@ikrivosheev

Thank you.

I will try it.

[2022-07-06 08:12] billy1624 commented on #828
Thanks! @kyoto7250 let me know if you need any help along the way :)
Just open a draft PR

[2022-07-06 08:24] Witcher01 opened #841 "Add sea-orm-cli flag to skip deserialization of primary keys for entities"
## Motivation

Expecting a JSON value with a web framework usually makes it return the correct status codes etc. if an entity cannot be deserialized from the request, but currently this is hard to do as the entities by default required the primary key to be present in the JSON, which is not what a `POST` request tends to accept.

## Proposed Solutions

Add a flag to `sea-orm-cli` that enables `#[s

[2022-07-06 08:27] billy1624 commented on #805
Do you mean `sea-orm-cli` can load configuration (e.g. `-u ${DATABASE_URL} -o {{.APP_NAME}}/src`) from a environment file (.env file)? Then, user can simply execute the command `sea-orm-cli generate entity`.

[2022-07-06 08:31] billy1624 commented on #805
I'll open this issue for anyone interested to contribute :)
We'd provide the necessary guidance

[2022-07-06 09:01] billy1624 commented on #777
Hey @fabioluciano, sorry for the delay :(

Please check if this helps, I think you need a extra trait bound `Related<R>`:
- https://github.com/SeaQL/sea-orm/pull/842/files#diff-487fce013623f2669a86b701ee8f61a572893de241a15807d3b8bf20c88e1a5cR33

[2022-07-06 09:28] billy1624 commented on #765
Hey @MaderNoob, sorry for the delay. As discussed on Discord, we could delete all PostgreSQL types in current schema when calling `fresh` on migrator.
- https://github.com/SeaQL/sea-orm/blob/9983e5d4987149ad227ccf402e4cf2618a1dddc3/sea-orm-migration/src/migrator.rs#L130-L212

It would be a two steps process:
1. Select all type names out of PostgreSQL
2. Construct [delete type statement](https://do

[2022-07-06 09:29] billy1624 commented on #765
I'll open this issue for anyone who have interested in contributing :)

[2022-07-06 10:00] billy1624 commented on #753
Hey @Sytten, sorry for the delay. I think it's rather more of a design choice to include such `unstable` features. As SeaORM is designed in a way that's agnostic to both database and database connector. Later, we might swap the connector / introduce more connector and not solely rely on `sqlx`, so I consider the proposed feature as `unstable`.

We could introduce `unstable/get_sqlx_connect_pool` f

[2022-07-06 13:17] billy1624 commented on #662
Hey @nag763, I'm sorry about the delay...

The schema seems a bit odd to me. I feel like the primary key is just the `id` column with auto-increment. Of cause, you can add a unique key: `(id, home_team_id, away_team_id)`

[code]

[2022-07-06 16:51] baoyachi commented on #805
If there are too many configurations of sea ORM cli, consider the configuration method:

e.g:

[code]
All configuration write in `sea-orm.toml`.

The more options sea ORM cli has, the more complex it is to use，not friendly.

[2022-07-07 06:27] mohs8421 opened #848 "sea-orm-cli does not process tables with system versioning enabled [mariadb]"
I wanted to import a table that I generated on mariadb with system versioning feature (https://mariadb.com/kb/en/system-versioned-tables/), and was surprised that the entity file was not generated at all (there also was no error message about that).
After I dropped the system versioning for that table, it was recognized properly.

[2022-07-07 11:39] billy1624 commented on #653
Hey @andoriyu, sorry for the delay but before we proceed with the PR: https://github.com/SeaQL/sea-orm/pull/654
We need to have a consensus on this: https://github.com/SeaQL/sea-orm/pull/654#issuecomment-1177467728

[2022-07-08 05:11] billy1624 commented on #637
Hey @duskmoon314, sorry for the delay. The issue will be fixed by:
- https://github.com/SeaQL/sea-schema/pull/75

Thanks for the report!

[2022-07-08 06:22] billy1624 commented on #631
Hey @hunjixin, sorry for the delay. Yes, we definitely can bring this to SeaORM
- https://github.com/SeaQL/sea-query/pull/314

Please check this PR I just created:
- https://github.com/SeaQL/sea-orm/pull/850

[2022-07-08 06:51] billy1624 commented on #616
Hey @maikelwever, sorry the the delay. Please check the PR I just created
- https://github.com/SeaQL/sea-orm/pull/851

[2022-07-08 09:33] billy1624 commented on #585
Hey everyone, I just created a PR for this. Please check
- https://github.com/SeaQL/sea-orm/pull/852

[2022-07-08 11:06] ikrivosheev commented on #765
@karpa4o4 done!

[2022-07-08 11:07] karpa4o4 commented on #765
@ikrivosheev thanks

[2022-07-08 13:25] billy1624 commented on #765
Thanks for the interest! @karpa4o4

[2022-07-09 14:51] oersted opened #855 "sea-orm-cli generation doesn't support multi-column foreign keys"
## Description

For single-column foreign keys, the generated parent and child have a relation to each other. The parent has a simple `has_many` and the child has a `belong_to` with the details of the foreign key columns and on update/delete policies.

For multi-column foreign keys though, it generates one `belongs_to` relation on the child per column and doesn't generate a `has_many` relation on

[2022-07-09 15:09] oersted commented on #855
Are multi-column Relations even supported by SeaORM in general? The definition of the [RelationDef](https://docs.rs/sea-orm/latest/sea_orm/entity/prelude/struct.RelationDef.html) struct only accepts a single `from_col` and `to_col`.

What more idiomatic alternative would you suggest? Should I add a separate unique id to each table and use that for the relations?

If it is not supported, why does t

[2022-07-10 07:08] #300 closed

[2022-07-10 07:22] #661 closed

[2022-07-10 07:35] tyt2y3 commented on #775
Ah, I think 2-to-many is 'two 1-to-many' essentially

[2022-07-10 07:38] #838 closed

[2022-07-10 08:14] tyt2y3 commented on #753
I think we can have an `sqlx-internals` feature to expose some implementation details under a 'unstable' API.
It's just a type system thing anyway.

[2022-07-10 08:52] #637 closed

[2022-07-10 14:52] #631 closed

[2022-07-10 15:03] #616 closed

[2022-07-10 15:41] #486 closed

[2022-07-10 16:07] #585 closed

[2022-07-11 09:45] billy1624 commented on #546
Hey @zbinhazzaa, sorry for the delay. For select, we won't errors when the select return none. But for update one we do thrown error when the updating row doesn't exist.

[2022-07-11 10:06] billy1624 commented on #506
Hey @AngelOnFira, I will close this for now. If you still have problem on this please reopen it :)

[2022-07-11 10:06] #506 closed

[2022-07-11 10:28] billy1624 commented on #462
Hey @Rudi3, I'll close this issue. Please reopen this if you still have problems :)

[2022-07-11 10:28] #462 closed

[2022-07-11 15:11] #334 closed

[2022-07-11 15:16] #828 closed

[2022-07-12 03:06] baoyachi opened #866 "sea-orm Mock feature current now not ergonomics"
At last, we tried to use it, but it didn't meet expectations

# why
* mock not support clone.

[2022-07-12 03:12] baoyachi commented on #827
this feature is so useful. 👍 . I look forward to using it soon

[2022-07-12 03:54] baoyachi opened #867 "Does sea-orm any plan support dameng database"
ref link: https://www.dameng.com/view_61.html

[2022-07-12 04:39] billy1624 commented on #394
Create a whitelist for all supported `#[sea_orm(xxx)]` proc_macros attributes. Thrown compile errors when it parse unknown attributes.

[2022-07-12 04:41] billy1624 commented on #336
Related issue: https://github.com/SeaQL/sea-orm/issues/559

[2022-07-12 04:44] billy1624 commented on #336
Hey @qyihua, sorry for the delay. I think you can use newtype pattern to define a custom serializer / deserializer?

[code]

[2022-07-12 04:45] billy1624 commented on #336
I'll close this for now. If you still have questions please reopen this :)

[2022-07-12 04:45] #336 closed

[2022-07-12 04:45] billy1624 commented on #332
Please reopen this if you still have questions :)

[2022-07-12 04:45] #332 closed

[2022-07-12 04:47] billy1624 commented on #284
Related PR
- https://github.com/SeaQL/sea-orm/pull/219

[2022-07-12 04:47] #284 closed

[2022-07-12 04:49] billy1624 commented on #275
I'll open this issue for contributions. With support of DISTINCT in SeaQuery, for sure we could bring it to SeaORM :)

[2022-07-12 04:52] billy1624 commented on #187
Related PR:
- https://github.com/SeaQL/sea-orm/pull/791

[2022-07-12 04:52] #187 closed

[2022-07-12 05:22] billy1624 commented on #777
Hey @fabioluciano, please reopen this if you still have problems :D

[2022-07-12 05:22] #777 closed

[2022-07-12 11:14] shpun817 opened #868 "Query streams that subscribe to relevant changes in database"
## Motivation

The use case in which the lack of this feature has become a blocker is **GraphQL subscription integration**.

In GraphQL, subscription requests can be used to enable users to continuously receive up-to-date data via WebSocket. However, the existing implementation of SeaORM does not provide a way to continuously send updated data.

Full Disclosure: I am not experienced with async dat

[2022-07-13 05:36] billy1624 opened #869 "[sea-orm-cli] generate entity prints columns info with respect to `--date-time-crate` option"
## Motivation

Generating entity will prints the progress and column info. However, it does not respect the `--date-time-crate` option introduce in PR:
- https://github.com/SeaQL/sea-orm/pull/724

[code]

[code]

## Proposed Solutions

`get_info` method takes `DateTimeCrate` enum and pass it onto `get_rs_type` method (now hard coded as `DateTimeCrate::Chrono`.
- https://github.com/SeaQL/sea-orm/bl

[2022-07-13 07:50] billy1624 commented on #869
Hi @anshulxyz, welcome! Please go ahead! Feel free to ping me if you need any help :)
Just open a draft PR and ask for help. Thanks!!

[2022-07-14 03:09] billy1624 commented on #830
Hey @shpun817, would you like to take on this?

[2022-07-14 08:41] onichandame opened #872 "[feat] migration should support partial index"
## Motivation

Sqlite supports a `WHERE` clause on creating an index. [see docs](https://www.sqlite.org/partialindex.html)

This feature is useful if only a subset of rows need to be indexed. Without it the index must cover all rows, which unnecessarily consumes more disk space.

## Proposed Solutions

Something like `sea_query::Index::create().filter(<Condition>)` for use with entities, and `sea_

[2022-07-14 13:25] horacimacias opened #873 "insert_many failing if the models iterator is empty"
## Description

I'm executing an `insert_many` operations where the iterator is the result of mapping/filtering.
Sometimes, as a result of the mapping/filtering, the resulting iterator may be empty.
In this case, the insert_many operation fails; I'd expect this to succeed and the database not being hit at all as there is nothing to do.
I increased the logs and I saw the following:

[code]

the ent

[2022-07-14 13:26] horacimacias commented on #873
...as a workaround, I know I can `collect()` the iterator and check if it's empty, but if possible I'd like to avoid it as often the iterator is not empty and I don't want to have to collect always.

[2022-07-15 05:50] itsAmitGoyani opened #875 "v0.9.0 is not available for Mac M1 chip"
## Description
sea-orm version 0.9.0 is not available for Mac M1 chip.
Error:
rust-analyzer failed to load workspace: Failed to read Cargo metadata from Cargo.toml file api/rust/Cargo.toml, cargo 1.59.0: Failed to run `"cargo" "metadata" "--format-version" "1" "--manifest-path" "/api/rust/Cargo.toml" "--filter-platform" "aarch64-apple-darwin"`: `cargo metadata` exited with an error: Blocking waiti

[2022-07-15 06:57] baoyachi commented on #875
Try update local rust version to latest .

[code]

[2022-07-15 07:00] billy1624 commented on #875
Thanks for reporting!! @itsAmitGoyani

[2022-07-15 07:00] billy1624 commented on #875
Please let me know if upgrading Rust version helps or not

Thanks! @baoyachi

[2022-07-15 07:02] baoyachi commented on #875
It's seems cargo bug.

[2022-07-15 07:55] itsAmitGoyani commented on #875
@baoyachi @billy1624 Thanks a lot. My `rustup` version was 1.62.0 only. Just problem was my `rustc` path was set to separately installed location of version 1.59.0. But now I uninstalled it and it worked. Thanks again.

[2022-07-15 07:55] #875 closed

[2022-07-15 07:56] billy1624 commented on #875
Interesting! Thanks all :)

[2022-07-15 08:25] billy1624 commented on #873
Hey @horacimacias, thanks for catching this "logical error". This has to be checked on run-time. Panicking is definitely not a viable option. Perhaps, throwing a `DbErr::Exec("Insert many without any values")`.

[2022-07-15 08:29] billy1624 commented on #872
Hey @onichandame, thanks for the proposal!

As far as I know, both SQLite and PostgreSQL supported partial index, docs:
- https://www.sqlite.org/partialindex.html
- https://www.postgresql.org/docs/current/indexes-partial.html

But MySQL doesn't support it. I think we could introduce this feature in SeaQuery as 2 out of 3 databases support it.

Thoughts? @tyt2y3 @ikrivosheev

[2022-07-15 08:49] billy1624 commented on #867
Hey @baoyachi, thanks for asking! We don't have plan to support it. I think dameng database isn't open-source database?

[2022-07-15 08:51] billy1624 commented on #866
Hey @baoyachi, I understand the `Clone` issue. But could you elaborate more on the API of mock testing? Why it's inconvenient? Can you provide a code snippet / demo repository? Thanks!!

[2022-07-15 09:04] billy1624 commented on #855
Hey @oersted, thanks for the report! SeaORM did support multi-column foreign keys:
- https://github.com/SeaQL/sea-orm/blob/a0a2492a921c92b47cabff95be7f25ed0a4ebad2/src/tests_cfg/cake_filling_price.rs#L65-L77

But codegen don't support that yet. What's the database you're using?

[2022-07-15 10:03] billy1624 commented on #848
Thanks! @mohs8421 I've just created PRs fixing it. You can try it out :)

[2022-07-15 12:34] oersted commented on #855
Thank you for the follow-up. I'm using Sqlite.

[2022-07-16 16:49] penso opened #878 "`ORDER BY` with `::integer`"
Hi,

Pgsql supports sorting like this for string columns: `ORDER BY column_name::integer` but I can't find a way to achieve that using sea orm. Any way I can?

[2022-07-17 06:12] tyt2y3 commented on #872
Agreed

[2022-07-17 07:03] step-baby opened #881 "Sea-orm error handling is not friendly enough to distinguish SQL execution errors by type"
## Motivation

First of all, sea-orm is the orm framework I am looking forward to, and I have used this now. But I think this error handling is not friendly enough. It is impossible to judge the type of SQL execution error through an enumeration, such as the error of violating the unique constraint.

## Proposed Solutions

## Additional Information

[2022-07-17 07:10] tyt2y3 commented on #873
I think insert many without values should be no-op. Or is it because that it might be valid due to `INSERT DEFAULT`?

[2022-07-17 07:20] #848 closed

[2022-07-17 13:28] ikrivosheev commented on #878
@penso, hello! Yes, you can use method: https://docs.rs/sea-query/latest/sea_query/query/struct.SelectStatement.html#method.order_by_expr and `Expr::col(...).into_simple_expr().cast_as(...)`

[2022-07-17 15:22] penso commented on #878
How am I supposed to use this? I tried:

[code]

but not luck. A bit of documentation would be nice :)

[2022-07-17 15:59] ikrivosheev commented on #878
@penso can you move this issue to sea-query? I add some more documentation.

[2022-07-18 08:37] zbinhazzaa opened #884 "Setting Up Migration"
### Expected Behavior
I run
[code]
I expected that at the end of the app the DB would close.
### Actual Behavior
Db does not close at the end of the app and still has .shm and .wal files.
I had this problem trying to copy the Db after the migration ended.

[2022-07-18 09:39] billy1624 commented on #884
Hey @zbinhazzaa, thanks for the report! This has to do with the underlying database connector: SQLx.

Related Issues:
- https://github.com/launchbadge/sqlx/issues/1760
- https://github.com/launchbadge/sqlx/issues/272

I think at SeaORM we could introduce an async `close` method to close the connection.

[2022-07-18 13:41] penso opened #886 "Use sea-orm to manipulate Rails ActiveStorage tables"
I'm trying to use Sea-Orm to map rails active_storage tables (used to store data remotely on S3 buckets). ActiveStorage uses 2 tables:

1. `active_storage_blobs` with the following structure:

[code]

2. `active_storage_attachments` with the following structure:

[code]

When you use it in your model `Foo` with `has_one_attached :photo` it will create the following:

[code]

The blob will be store

[2022-07-18 20:20] wbew opened #888 "Support Postgres network types (`inet`)"
## Motivation

I would like to use[ Postgres network types](https://www.postgresql.org/docs/current/datatype-net-types.html) (i.e. `inet`) in my `Model` definitions. I understand there may be workarounds, so this is not urgent but would be a quality-of-life improvement.

## Proposed Solutions

I believe this is nearly/already supported in `sea-query`: https://github.com/SeaQL/sea-query/issues/187.

[2022-07-19 13:02] Jupp56 opened #891 "Incomplete changelog"
## Description

The changelog is incomplete in my opinion because it can happen that code using chrono data structures compiled in 0.8 that does not compile in 0.9.
The problem is that the with-chrono feature flag becomes explicit rather than implicit.

## Steps to Reproduce

Upgrade from 0.8 to 0.9, following just the changes of CHANGELOG.md

### Expected Behavior

Still works.

### Actual Behavi

[2022-07-19 14:03] nahuakang commented on #869
I'm so sorry about this bug 🙈 It was in the back of my mind but I think I forgot about it.

[2022-07-19 14:46] smrtrfszm opened #892 "RelationDef is not Send"
## Description

The type `RelationDef` is not Send, which broke a lot of code in multithreaded environments, because async runtimes needs Futures which implement `Send`.

## Steps to Reproduce

Compile example code below

### Expected Behavior

Should compile

### Actual Behavior

It doesn't compiles, because `tokio::spawn` expects a Future that is `Send`.

### Reproduces How Often

always

## Ver

[2022-07-20 05:16] kyoto7250 commented on #275
Hi, I am interested in this issue.

I'd like to work on this issue, so could you tell me a little more about this issue?

[2022-07-20 06:55] billy1624 opened #896 "Database connection pool exhaustion error"
### Discussed in https://github.com/SeaQL/sea-orm/discussions/893

<div type='discussions-op-text'>

<sup>Originally posted by **001wwang** July 19, 2022</sup>
Hello! We're currently encountering the following error while performing several database queries in parallel:
[code]

## Context
On `sea-orm v0.8.0`

We are using a Postgres database. We have `ConnectOptions` configured roughly as follows:

[2022-07-20 06:56] billy1624 commented on #896
Hey @001wwang, thank you for the detail explanation!!

After some digging and investigation, the error was thrown when it fail to acquire connection from the connection pool:

https://github.com/SeaQL/sea-orm/blob/e85a859266dc6e8863e4bbb7a546fe36d88606cd/src/driver/sqlx_mysql.rs#L84-L95

By default SQLx connection pool will wait 30 seconds before it throw errors. But obviously 30 seconds is not en

[2022-07-20 08:18] billy1624 commented on #892
Hey @smrtrfszm, thanks for the reporting! I've opened a PR to fix this

[2022-07-20 08:48] Karahik opened #899 "Inserting active models by `insert_many` with `on_conflict` and `do_nothing` panics if no rows are inserted."
## Description

`insert_many` with `on_conflit` and `do_nothing` panics if every given key conflicts with existing rows.

[code]

It seems that the code the error message indicates is trying to retrieve the last inserted row, but it could get nothing because insertion did not happen.

I'd expect this to do nothing (without panics).

## Steps to Reproduce

1.
This is what my example project looks l

[2022-07-20 10:07] billy1624 commented on #899
Hey @Karahik, welcome! This was the behaviour of PostgreSQL. If you perform the same insert twice with on conflict do nothing and returning. The second insert will do nothing and return nothing. In fact that it return nothing trigger the panic!

![image](https://user-images.githubusercontent.com/30400950/179955955-fb5c38bd-5fdd-494e-ae76-7e37ac30e473.png)
_https://dbfiddle.uk/?rdbms=postgres_14&fi

[2022-07-20 10:43] BezBIS opened #900 "mssql support?"
## Motivation
I was just wondering whether there is any possibility of supporting mssql in the future?
I'm currently working with a pre-existing SQLServer database using Tiberius, but it would be really nice to switch to letting something like sea-orm handle building my queries etc in a way which is database-agnostic.

I see that SQLx offers support for mssql now, but have no idea how difficult th

[2022-07-20 11:14] BezBIS commented on #900
Hi, thank you for such a quick response!
I wholeheartedly agree with your stance; I'm, unfortuantely, just saddled with a legacy MS database at the moment. If I was in a position to build the whole system again I would definitly be using entirely open-source components.

[2022-07-20 11:14] #900 closed

[2022-07-20 11:18] billy1624 commented on #900
Thanks for the support! @BezBIS

[2022-07-20 11:32] Sytten commented on #896
Hum having worked a lot with connection pools it is possible that it is a FIFO bug in the sqlx implementation which the author of it told me was average. A bug in that section means a query can wait a long time before being served a connection even if it was the early in requesting one.

It all depends on how much time each query took and the order in which they were executed. Generally you never

[2022-07-20 11:36] Sytten commented on #896
I dug a bit the issue and I found https://github.com/launchbadge/sqlx/issues/622. The last comments seem to indicate that this bug was present in sqlx 0.5.2 and fixed in 0.6.0 which was just released a few days ago in sea-orm.
Can you try to update your sea-orm version @001wwang

[2022-07-20 12:42] 001wwang commented on #896
Thank you all for the quick replies and support!

Yes, we suspect it may be fixed by recent `sqlx` changes to handle transient connection errors: https://github.com/launchbadge/sqlx/blob/main/sqlx-core/src/pool/inner.rs#L272. We don't wait up until our timeout currently; it fails much earlier.

We're blocked from upgrading by https://github.com/SeaQL/sea-orm/issues/892, but it looks like that's ne

[2022-07-20 16:10] rgreinho opened #901 "Deserializing from json does not work as expected"
## Description

While trying to populate active models from json, I am facing various issues.

## Steps to Reproduce

We can reproduce the issues by following the [Setting up migration gruide](https://www.sea-ql.org/SeaORM/docs/migration/setting-up-migration/). The only change I made is to make the `text` field optional.

`post.rs`:

[code]

`main.rs`:

[code]

### Expected Behavior

My understand

[2022-07-20 16:13] rgreinho commented on #901
This is the final "working" snippet:

[code]

[2022-07-21 06:29] jellybobbin opened #904 "example/axum_example can't build"
axum_example can not build  when i delete  line 28 in Cargo.toml (path = "../../" # remove this line in your own project)

[2022-07-21 06:55] billy1624 commented on #904
Hey @jellybobbin, thanks for asking!! It's expected and normal. You should remove `path = "..."` on three `Cargo.toml` at the same time:
- https://github.com/SeaQL/sea-orm/blob/41116499e0ee27ae20cc5ae6295b83d9f910dce4/examples/axum_example/Cargo.toml#L27-L36
- https://github.com/SeaQL/sea-orm/blob/41116499e0ee27ae20cc5ae6295b83d9f910dce4/examples/axum_example/migration/Cargo.toml#L14-L21
- https:/

[2022-07-21 08:33] jellybobbin commented on #904
@billy1624  In fact, I did it before I asked。but now it's ok. thx

[2022-07-21 08:34] #904 closed

[2022-07-21 08:50] billy1624 commented on #904
Welcomed!

[2022-07-21 15:35] #892 closed

[2022-07-21 19:47] e-rhodes opened #906 "`into_json` uses field names set by `column_name`"
## Description
When getting data from `into_json`, the resulting `Value` uses the field names set by the `#[sea_orm(column_name = "")]` macro instead of the names of the fields in the struct.

## Steps to Reproduce

1. Prepare a query.
2. Call `into_json()`.
3. Retrieve the models from the database.

### Expected Behavior

I would expect
[code]
to be equal to
[code]

If this is intended behavior,

[2022-07-23 06:29] tyt2y3 commented on #886
I think you want this new feature in 0.9.0 https://docs.rs/sea-orm/latest/src/sea_orm/entity/relation.rs.html#191-197

Oppps... the example is mal-formatted

[2022-07-23 06:49] tyt2y3 commented on #891
I see what you mean. It's because we adopted the new `?` notation in Cargo. Trying to write something about that

[2022-07-23 07:07] tyt2y3 commented on #891
https://github.com/SeaQL/sea-orm/commit/db538917f12e114f45134f8a6781d1e42278a724

Thank you for the input. Feel free to open a PR to improve our docs, btw.

[2022-07-23 07:07] #891 closed

[2022-07-23 07:11] tyt2y3 commented on #891
FYI: https://github.com/SeaQL/sea-orm/compare/0.8.0...0.9.0#diff-2e9d962a08321605940b5a657135052fbcef87b5e360662bb527c96d9a615542

[2022-07-23 07:19] tyt2y3 commented on #899
I agree.

[2022-07-25 07:30] mckingho commented on #507
`unimplemented: multiple active portals not supported` issue will likely be fixed in CockroachDB v22.2 according to https://github.com/launchbadge/sqlx/issues/933#issuecomment-1188678469

[2022-07-25 07:54] billy1624 commented on #507
Thanks! @mckingho for the updates!

[2022-07-25 08:39] billy1624 commented on #906
Hey @e-rhodes, these two isn't equivalent:

1. Query result is directly mapped into a JSON. Without first deserializing into `Model` then serialized back into JSON. This is a performance optimization provided by SeaORM.
[code]
2. Query result is deserialized into `Model` and then serialized into JSON.
[code]

Hence, if you want the resulting JSON key same as the name of model field. Please go with

[2022-07-25 08:59] billy1624 commented on #901
Hey @rgreinho, sorry for the delay. I think you need to add `#[serde(skip_deserializing)]` to your primary key field:

[code]

[2022-07-25 09:04] billy1624 commented on #901
To partially update the field of ActiveModel, you would need custom active model.
https://www.sea-ql.org/SeaORM/docs/advanced-query/custom-active-model/

[2022-07-25 09:05] billy1624 commented on #901
For insert many, we actually have a API for such purpose: https://www.sea-ql.org/SeaORM/docs/basic-crud/insert/#insert-many

[2022-07-25 09:10] billy1624 commented on #901
The column mismatch error on `insert_many` was thrown by https://github.com/SeaQL/sea-orm/blob/master/src/query/insert.rs#L133.

And it's because inserting rows are with different columns.

https://github.com/SeaQL/sea-orm/blob/bb8a8bc286f2788496e0712d45ab42cc6a7093d2/src/query/insert.rs#L301-L319

[2022-07-25 09:36] billy1624 commented on #896
Hey @001wwang, https://github.com/SeaQL/sea-orm/issues/892 has been released as part of [0.9.1](https://github.com/SeaQL/sea-orm/releases/tag/0.9.1)

[2022-07-25 09:38] billy1624 commented on #869
Hey @nahuakang, it's not your fault! I should have catch that during the review phase loll

[2022-07-25 10:14] billy1624 commented on #888
Hey @001wwang, sorry for the delay. Network types are supported on SeaQuery, however, it's only supported by PostgreSQL but not by MySQL and SQLite.

So, the questions was do we want to bring the network types support to SeaORM for PostgreSQL only? Or, support it for MySQL and SQLite as well. We can simply serialize network types as string for MySQL and SQLite.

Thoughts?

CC @tyt2y3

[2022-07-25 14:06] e-rhodes commented on #906
Makes sense. Unfortunately, this isn't an option since I'm dealing with custom selects and the structure isn't predictable—so users will specify a field by one name and then see it in the result by another name. Hope I can find a workaround.

[2022-07-25 15:19] 001wwang commented on #888
No worries at all, this is not a blocker for us. We only use PostgreSQL so I'll hold off on any judgement for MySQL and SQLite. Thanks for the context.

[2022-07-25 19:05] rgreinho commented on #901
Thanks a lot for the answers, that clarified a lot!

[2022-07-25 19:05] #901 closed

[2022-07-26 03:36] 001wwang commented on #896
Hi @billy1624, we've had the upgrade deployed for most of the day now, and it seems solid. Since this was a transient error, we'll keep an eye on it longer term. I'll close out this issue, and thanks a ton for all your help.

[2022-07-26 03:47] billy1624 commented on #896
I'll keep this open until https://github.com/SeaQL/sea-orm/pull/897 closed
Thanks for the updates! @001wwang

[2022-07-26 03:49] billy1624 commented on #901
Welcomed!

[2022-07-26 04:19] #869 closed

[2022-07-26 04:32] billy1624 commented on #906
Okay, I guess you can `.map(|json| ...)` then transform the key inside the JSON object

[2022-07-26 05:26] billy1624 commented on #873
This is correct. Insert many without value will result in a insert query with default value. i.e.
[code]

[2022-07-26 05:32] billy1624 commented on #873
I think no-op without throwing any error is bad. We should throw an error explicitly.

[2022-07-26 05:37] billy1624 commented on #881
Hey @step-baby, sorry for the delay. This is a good suggestions and it has been discussed before. Please check related thread below and let us know your opinions:
- https://github.com/SeaQL/sea-orm/discussions/709
- https://github.com/SeaQL/sea-orm/pull/750

[2022-07-26 05:41] billy1624 commented on #872
Alright, I take that as a go! I open a tracking issue on https://github.com/SeaQL/sea-query/issues/396

[2022-07-26 13:03] kyoto7250 opened #911 "How about introduce `rustfmt` in github action?"
This issue is not the feature.

## Motivation
Currently, we do not seem to have confirmed the format in github action.
(clippy lint  has already been introduced. https://github.com/SeaQL/sea-orm/pull/840)

## Proposed Solutions
Introducing CI

## Additional Information
 I would like to create a PR for this issue.

[2022-07-27 09:32] pmnxis opened #917 "Simple spelling issue on sea-orm-cli's toml file"
## Description
There's `featrure` that is misspell of `feature` when generate migrator from `sea-orm-cli`.

## Steps to Reproduce
1. `sea-orm-cli migrate init`
2. `featrure` is in cargo.toml
[code]

### Expected Behavior
Don't care, Because it's comment

### Actual Behavior
Don't care

### Reproduces How Often
Don't care

## Versions
Don't care, maybe master

## Additional Information
Would be res

[2022-07-27 09:37] billy1624 commented on #917
Hey @pmnxis, thanks for catching this!!

[2022-07-27 09:42] #917 closed

[2022-07-28 08:04] nahuakang commented on #521
With [this PR](https://github.com/SeaQL/sea-query/pull/385) on the way, I can resume this issue :)

[2022-07-28 09:36] shoichi1023 opened #921 "sea-orm-migration has generate in help, but not working"
## Description

when I execute `cargo run -p migration -- help`

[code]

But execute `cargo run -p migration -- generate hoge` then run migrations.

## Steps to Reproduce

1. `cargo run -p migration -- help`
2. `cargo run -p migration -- generate hoge`

### Expected Behavior

generate migration file or delete generate command in help.

### Actual Behavior

### Reproduces How Often

execute migrati

[2022-07-28 10:01] shoichi1023 commented on #921
I know the command.
However, for sea_orm_migration users, installing sea_orm_cli is verbose and should also be possible when running from
 `./migration/src/main.rs` .

[2022-07-28 10:04] billy1624 commented on #921
DO you mean?
[code]

[2022-07-29 02:54] shoichi1023 commented on #921
yeah.
where can I execute `cargo run migrate generate SOME_FILE_NAME` command ?
I use `example/axum-example`.

I tried that command in `example/axum-example`, but that not working.

I think execute this one.

but that have not generate command.
therefore, we need to implement the command below.

[2022-07-29 20:01] Dash-L opened #924 "Uuid/Datetime/etc. types (instead of String) for generated models with sqlite databases"
# Update (not really since I never submitted the original but oh well)
**This was originally a bug report, but now it is really a feature request, but I'm keeping the bug report template because I already wrote it out and I suspect others might come here thinking this is a bug.**

After writing out this issue, I asked on the discord just in case, and found out that there has been some discussion o

[2022-07-30 19:50] penso commented on #878
Well I feel stupid I just spent hours reading source code to understand where to put it, and this is how it should be done:

[code]

I think documentation would have been nice...